<div class="region_filter"></div>
<div class="row">
    <div class="col-md-12">
        <div class="region_report"></div>
        <div class="panel">
          <div class="panel-content">
              <div id="chart1"></div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="region_complex"></div>
    </div>
</div>