<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="items">
            <a href="#">Состав</a>
        </li>
        <li class="tab_link" data-tab_name="labels">
            <a href="#">Этикетки</a>
        </li>
        <li class="tab_link" data-tab_name="payment">
            <a href="#">Оплата/фабрика</a>
        </li>
        <li class="tab_link" data-tab_name="common">
            <a href="#">Подтверждение</a>
        </li>
        <li class="tab_link" data-tab_name="history">
            <a href="#">История</a>
        </li>
    </ul>
</div>