{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
    }
    td, th {
      padding-left: 10px;
      padding-right: 10px;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center; border-bottom: 1px solid gray;"><h1>{{ product }}</h1></div>
  {% if has_common %}
    <div class=" clear">
      <div style="text-align: center;"><h4>Основное</h4></div>
      <table>
        <tr>
          <td style="width: 300px;"><b>Артикул:</b></td>
          <td>{{ product.article }}</td>
        </tr>
        <tr>
          <td><b>Коллекция:</b></td>
          <td>
            {% if product.main_collection %}
              {{ product.main_collection }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <hr>
  {% endif %}
  {% if has_fields %}
    <div class=" clear">
      <div style="text-align: center;"><h4>Характеристики</h4></div>
      <table>
          <tr>
            <th style="width: 300px"><b>Характеристика</b></th>
            <th><b>Значение</b></th>
          </tr>
        {% for category, intags in intags.items %}
          <tr>
            <td colspan="2"><b><i>{{ category.name }}</i></b></td>
          </tr>
          {% for intag_data in intags %}
            <tr>
              <td>{{ intag_data.intag.name }}:</td>
              <td>{{ intag_data.value }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
    <hr>
  {% endif %}
  {% if has_images %}
    <div class=" clear">
      <div style="text-align: center;"><h4>Изображения</h4></div>
        {% for img in product.images.all %}
          {% thumbnail img.image "400x400" as im %}
            <div style="width: 400px; float: left; padding: 5px">
              <img src="{{ im.url }}" style="width: 100%">
            </div>
          {% endthumbnail %}
        {% endfor %}
      </div>
    </div>
    <hr class="clear">
  {% endif %}
  {% if has_description %}
    <div class=" clear">
      <div style="text-align: center;"><h4>Описание</h4></div>
        {{ product.description|safe }}
      </div>
    </div>
    <hr>
  {% endif %}
  {% if has_comments %}
    <div class=" clear">
      <div style="text-align: center;"><h4>Комментарии</h4></div>
        <table class="intags">
          <tr>
            <th style="width: 300px"><b>Пользователь</b></th>
            <th style="width: 300px"><b>Дата</b></th>
            <th><b>Текст</b></th>
          </tr>
        {% for comment in comments %}
          <tr>
            <td>{{ comment.user.name }}</td>
            <td>{{ comment.created }}</td>
            <td>{{ comment.body|safe }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <hr>
  {% endif %}

{% endblock %}

