<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {{#ifCond status_detail.id '==' 1 }}
                        <div class="f-left m-l-10">
                            <button class="btn btn-primary set_complete_status">Отправить в 1с</button>
                        </div>
                    {{/ifCond}}
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary exit">Выйти без изменения статуса</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
