<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form form-horizontal">
                            {{#formControl 'Дата' 4}}
                                <p class="form-control form-white">{{date}}</p>
                            {{/formControl}}
                            {{#formControl 'Партнер' 4}}
                                <p class="form-control form-white">{{client_detail.name}}</p>
                            {{/formControl}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form form-horizontal">
                            {{#if user.userCanCurrencySummView }}
                                {{#formControl 'Стоимость' 4}}
                                    <p class="form-control form-white">{{#decimal_round amount_full}}{{/decimal_round}}</p>
                                {{/formControl}}
                            {{/if}}
                            {{#formControl 'Стоимость руб' 4}}
                                <p class="form-control form-white">{{#decimal_round amount_full_rur}}{{/decimal_round}}</p>
                            {{/formControl}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>