<div id="refund_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if order_item_detail.product_detail.image}}
                      <img src="{{order_item_detail.product_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <h3><strong>№:{{ order_item_detail.product_detail.id }}</strong> {{ order_item_detail.product_detail.name }}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Артикул: <small><b>{{ order_item_detail.product_detail.article }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Цвет: <small><b>{{ order_item_detail.product_detail.color.name }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Заказ: <small><b>{{ order_item_detail.order_detail.id }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Размер: <small><b>{{ size_detail.name }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Количество: <small><b>{{ quantity }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Цена: <small><b>{{ order_item_detail.price }}</b></small></p>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="comment">Комментарий</label>
                <textarea name="comment" id="" cols="30" rows="4" class="form-control"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="pull-right ">
                    <div class="btn btn-success save p-l-10 p-r-10">
                        <div class="glyphicon glyphicon-ok"></div>
                    </div>
                    <div class="btn btn-danger remove p-l-10 p-r-10">
                        <div class="glyphicon glyphicon-remove"></div>
                    </div>
                </div>
            </div>
          </div>
      </div>

    </div>
</div>
<hr>