<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        <button type="button" class="toggle_filter_panel btn btn-info m-r-0 hidden"><span class="fa fa-bars"></span></button>
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden"></div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="order_item__product__article">Артикулу &uparrow;</option>
                <option value="-order_item__product__article">Артикулу &downarrow;</option>
                <option value="order_item__product__main_collection__name">Категории &uparrow;</option>
                <option value="-order_item__product__main_collection__name">Категории &downarrow;</option>
            </select>
        </div>
    </div>
</div>
