{{#if order_item_detail.product }}
<div id="product_item_{{ order_item_detail.product.id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if order_item_detail.product.image}}
                      <img src="{{order_item_detail.product.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12 product_data">
            <h3><strong>№:{{ order_item_detail.product.id }}</strong> {{ order_item_detail.product.name }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 product_data">
            <p class="m-b-0">Артикул: <small><b>{{ order_item_detail.product.article }}</b></small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 product_data">
            <p class="m-b-0">Цвет: <small><b>{{ order_item_detail.product.color.name }}</b></small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 product_data">
            <p class="m-b-0">Заказ: <small><b>{{ order_item_detail.order.id }}</b></small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 product_data">
            <p class="m-b-0">Размер: <small><b>{{ size_detail.name }}</b></small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 product_data">
            <p class="m-b-0">Цена: <small><b>{{ order_item_detail.price }}</b></small></p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right ">
                    <div class="btn btn-danger remove p-l-10 p-r-10">
                        <div class="glyphicon glyphicon-remove"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{{else}}
    <button data-order_id="{{../order_id}}" data-size_code="{{@key}}" type="button" class="product_search btn btn-success m-r-0">Подобрать товар</button>
{{/if}}