<div id="product_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12 product_data">
            <h3><strong>№:{{ id }}</strong> {{ name }}</h3>
                        <p><small><b>{{ article }}</b></small> ({{ color_detail.name }})</p>
          </div>
        </div>
        {{#each orders}}
        <hr/>
        <div class="row">
          <div class="col-xs-4 product_data">
            <p><b>Заказ: </b> №{{ order_id }}</p>
            <p><b>Цена: </b> {{ order_price }}р.</p>
          </div>
          <div class="col-xs-8 product_data">
            <table class="table  table-bordered">
              <tr>
                  <th>Размер</th>
                  <th>В заказе</th>
                  <th>На остатках</th>
                  <th></th>
              </tr>
            {{#each sizes_list}}
              <tr>
                  <td style="text-align: center;">
                      {{code}}
                  </td>
                  <td style="text-align: center;">
                      {{count}}
                  </td>
                  <td>
                      <input type="number" class="form-control input-sm size_quantity_{{ ../order_id }}_{{ ../../id }}" value="{{ remain_count }}" id="quantity_{{ ../order_id }}_{{code}}" data-size_code="{{code}}"/>
                  </td>
                  <td>
                      <button data-order_id="{{ ../order_id }}" data-size_code="{{code}}" class="btn btn-success btn-sm create_defect_item"><i class="fa fa-plus"></i></button>
                  </td>
              </tr>
            {{/each}}
            <tr>
              <td style="text-align: center;">

              </td>
              <td style="text-align: center;">

              </td>
              <td>
                  Добавить всё
              </td>
              <td>
                  <button data-order_id="{{ order_id }}" class="btn btn-success btn-sm create_all_defect_item"><i class="fa fa-plus"></i></button>
              </td>
            </tr>
            </table>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
</div>
<hr>