<div class="header">
  <h2>Перемещение №<strong class="supply-id"></strong> (<elem class="supply-status">{{ status_detail.name }}</elem>)</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/supply/" class="list_link">Перемещения</a></li>
      <li class="active">Перемещение #<b class="supply-id"></b> <small class="number_1c"></small> </li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
