<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="items">
            <a href="#">Состав</a>
        </li>
        <li class="tab_link" data-tab_name="delivery">
            <a href="#">Доставка</a>
        </li>
        <li class="tab_link" data-tab_name="payment">
            <a href="#">Оплата</a>
        </li>
        {{#if user.can_product_moderation_rab_view }}
        <li class="tab_link" data-tab_name="product_moderation">
            <a href="#">Модерация товаров</a>
        </li>
        {{/if}}
        <li class="tab_link" data-tab_name="common">
            <a href="#">Подтверждение</a>
        </li>
    </ul>
</div>