<div class="panel">
    <div class="panel-header" style="overflow: hidden;">
      <h3 class="pull-left">Состав корзины</h3>
      <div class="pull-right" style="line-height: 39px;">
          Количество: <span class="offer_request_quantity"></span>, Сумма: <span class="offer_request_amount_full"></span>
      </div>
    </div>
</div>
<div class="region_item_add hidden"></div>
<div class="region_item_list"></div>