<div class="panel">
    <div class="panel-content">
        <div class="row" id="order_item_{{ id }}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="image">
                          {{#if offer_detail.image}}
                              <img src="{{offer_detail.image.200x200}}" alt="" class="img-responsive">
                          {{else}}
                              <img src="/static/img/no-image.jpg" class="img-responsive">
                          {{/if}}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12 product_data">
                                <h3 class="m-t-0"><strong>№:{{ offer_detail.id }}</strong> {{ offer_detail.name }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Код: <b>{{ offer_detail.aggreement_code }}</b></p>
                                <p>Цвет: <b>{{ color_detail.name }}</b></p>
                                <p>Цена: <b>{{ offer_detail.aggreement_price }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="series_count">Количество серий</label>
                                    <input name="series_count" class="form-control {{#unless canEdit}}form-white{{/unless}}" {{#unless canEdit}}disabled="disabled" readonly="readonly"{{/unless}}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                            </div>
                        </div>
                        <div class="row m-t-10 series_type_c hidden">
                            <div class="col-xs-12">
                                <table class="table">
                                    <tr class="serie_type_has">
                                        <td>
                                            Размер:
                                        </td>
                                        <td class="st_xxs c_data">
                                            <span>XXS</span>
                                        </td>
                                        <td class="st_xs c_data">
                                            <span>XS</span>
                                        </td>
                                        <td class="st_s c_data bg-aero">
                                            <span>S</span>
                                        </td>
                                        <td class="st_m c_data bg-aero">
                                            <span>M</span>
                                        </td>
                                        <td class="st_l c_data">
                                            <span>L</span>
                                        </td>
                                        <td class="st_xl c_data">
                                            <span>XL</span>
                                        </td>
                                        <td class="st_xxl c_data">
                                            <span>XXL</span>
                                        </td>
                                        <td class="st_xxxl c_data">
                                            <span>XXXL</span>
                                        </td>
                                    </tr>
                                    <tr class="ordered_sizes">
                                        <td>
                                            Заказано:
                                        </td>
                                        <td class="st_xxs c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_xs c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_s c_data bg-aero">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_m c_data bg-aero">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_l c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_xl c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_xxl c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_xxxl c_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row m-t-10 series_type_s hidden">
                            <div class="col-xs-12">
                                <table class="table">
                                    <tr class="serie_type_has">
                                        <td>
                                            Размер:
                                        </td>
                                        <td class="st_34 s_data">
                                            <span>34</span>
                                        </td>
                                        <td class="st_35 s_data">
                                            <span>35</span>
                                        </td>
                                        <td class="st_36 s_data">
                                            <span>36</span>
                                        </td>
                                        <td class="st_37 s_data bg-aero">
                                            <span>37</span>
                                        </td>
                                        <td class="st_38 s_data bg-aero">
                                            <span>38</span>
                                        </td>
                                        <td class="st_39 s_data">
                                            <span>39</span>
                                        </td>
                                        <td class="st_40 s_data">
                                            <span>40</span>
                                        </td>
                                        <td class="st_41 s_data">
                                            <span>41</span>
                                        </td>
                                    </tr>
                                    <tr class="ordered_sizes">
                                        <td>
                                            Заказано:
                                        </td>
                                        <td class="st_34 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_35 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_36 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_37 s_data bg-aero">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_38 s_data bg-aero">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_39 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_40 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                        <td class="st_41 s_data">
                                            <span class="ordered_size"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <b>Итого: <span class="count_sum"></span>шт. на сумму <span class="amount"></span></b>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right ">
                                    {{#if canEdit }}
                                    <div class="btn btn-success save p-l-10 p-r-10">
                                        <div class="glyphicon glyphicon-ok"></div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>