<div class="row">
<div class="form form-horizontall">
    <div class="form-group">
        <label for="password" class="control-label col-md-4">Пароль</label>
        <div class="col-md-8">
            <input type="password" class="form-control" name="password"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="password2" class="control-label col-md-4">Подтверждение пароля</label>
        <div class="col-md-8">
            <input type="password" class="form-control" name="password2"></input>
        </div>
    </div>
</div>
</div>
    <button type="button" class="btn btn-success" name="save">Сохранить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
