<div class="panel">
  <div class="panel-content">
      <form class="search_form">
            <div class="input-group">
              <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
              <div class="input-group-btn">
                <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
                <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
              </div>
            </div>
        </form>
        <div id="region_filter_panel" class="hidden">
            {{#unless is_own }}
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="client">Клиент</label>
                    <input type="text" class="form-control" name="client">
                  </div>
                </div>
            </div>
            {{/unless}}
        </div>
  </div>
</div>
