<div class="row">
    <div class="col-md-4">
        <b>Статус: </b> {{ status_detail.name }}
    </div>
    <div class="col-md-4">
        <b>Фабрика: </b> {{ factory_detail.name }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Стоимость заказано: </b> {{ ordered_amount }}
    </div>
    <div class="col-md-4">
        <b>Стоимость получено: </b> {{#decimal_round amount_received}}{{/decimal_round}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Транспортные расходы: </b> {{#decimal_round transport_costs}}{{/decimal_round}}
    </div>
    <div class="col-md-4">
        <b>Полная стоимость: </b> {{#decimal_round amount_full}}{{/decimal_round}}
    </div>
</div>
