<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Название' 4}}
                        <p class="form-control form-white">{{ name }}</p>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Партнер' 4}}
                        <p class="form-control form-white">{{ client_detail.name }}</p>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

