<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
              <div class="region_table"></div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
              <div id="chart4"></div>
              <div id="chart3"></div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
              <div id="chart2"></div>
              <div id="chart1"></div>
          </div>
        </div>
    </div>
</div>