<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="date_from">С даты</label>
            <input type="text" class="form-control" name="date_from">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="date_to">По дату</label>
            <input type="text" class="form-control" name="date_to">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="period_kind">Тип интервала</label>
            <select class="form-control" name="period_kind">
              <option value="days">По дням</option>
              <option value="months">По месяцам</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="include_order_returns">Учитывать возвраты</label>
            <select class="form-control" name="include_order_returns">
              <option value="0">Нет</option>
              <option value="1">Да</option>
            </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Сформировать</button>
        </div>
    </div>
  </div>
</div>