<div class="header">
  <h2>Отчет "Выручка"</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Отчет "Выручка"</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_chart"></div>