{{#if report_data.report_data}}
<div class="table-responsive">
    <table class="table table-striped report_table">
        <tr>
            <th>
                <div style="width:134px;white-space: normal;">Партнер</div>
            </th>
            <th>
                <div style="width: 80px;">Итого</div>
            </th>
            {{#each report_data.dates}}
                <th>
                    <div style="width:70px;" data-col_id="{{@index}}">{{{ this }}}</div>
                </th>
            {{/each}}
        </tr>
        {{#each report_data.report_data }}
            <tr>
                <td style="width:134px;white-space: normal;">
                    {{ name }}
                </td>
                <td><strong>{{#decimal_round_plus sales_sum}}{{/decimal_round_plus}}</strong></td>
                {{#each sales_amount }}
                    <td>
                        <div
                            class="datacol_{{@index}}"
                            data-toggle="popover"
                            data-trigger="hover"
                            data-placement="bottom"
                            data-html="true"
                            title="Работающие сотрудники"
                            data-content="
                                {{#each (lookup ../employee_work_data @index)}}
                                    <small>- {{this}}</small><br>
                                {{/each}}
                                {{#unless (lookup ../employee_work_data @index)}}
                                    Нет данных
                                {{/unless}}
                            "
                        >
                            {{#decimal_round_plus this}}{{/decimal_round_plus}}
                        </div>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
        <tr>
            <th style="width:134px;white-space: normal;">
                Итого
            </th>
            <th>
                {{#decimal_round_plus report_data.all_sales_amount}}{{/decimal_round_plus}}
            </th>
            {{#each report_data.date_sum_sales_amount}}
                <th>
                    <div class="datacol_{{@index}}">{{#decimal_round_plus this}}{{/decimal_round_plus}}</div>
                </th>
            {{/each}}
        </tr>
    </table>
</div>
{{/if}}