<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
            <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Поставщик</label>
                <input type="text" class="form-control" name="provider">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Получатель</label>
                <input type="text" class="form-control" name="customer">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="status">Статус</label>
                  <select class="form-control" name="status">
                    <option value="" active>Все</option>
                    <option value="0">Не оплачен</option>
                    <option value="10">Частично оплачен</option>
                    <option value="100">Оплачен</option>
                  </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="kind">Тип</label>
                  <select class="form-control" name="kind">
                    <option value="" active>Все</option>
                    <option value="1">Товар</option>
                    <option value="2">Маркетинговый</option>
                    <option value="3">Командировочные расходы</option>
                    <option value="4">Прочие расходы</option>
                  </select>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="container_objects_count">
                Сумма:
                <b><span class="total_price_sum"></span></b>
            </div>
            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="id">№ &uparrow;</option>
                <option value="-id">№ &downarrow;</option>
                <option value="number">Номеру &uparrow;</option>
                <option value="-number">Номеру &downarrow;</option>
                <option value="provider__name">Поставщику &uparrow;</option>
                <option value="-provider__name">Поставщику &downarrow;</option>
                <option value="customer__name">Получателю &uparrow;</option>
                <option value="-customer__name">Получателю &downarrow;</option>
                <option value="created">Дате создания &uparrow;</option>
                <option value="-created">Дате создания &downarrow;</option>
                <option value="modified">Дате модификации &uparrow;</option>
                <option value="-modified">Дате модификации &downarrow;</option>
            </select>
        </div>
    </div>
</div>
