<td>{{id}}</td>
<td>{{number}}</td>
<td>{{ status_detail.name }}</td>
<td>{{provider_detail.name}}</td>
<td>{{customer_detail.name}}</td>
<td>{{#decimal_round total_price}}{{/decimal_round}}</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
<td><small>{{kind_detail.name}}</small>{{#ifCond kind '==' 2}}<br><small>{{payment_perion_month}}.{{payment_perion_year}}</small>{{/ifCond}}</td>
