<div class="form-group">
    <label for="provider">Поставщик</label>
    <input type="text" class="form-control" name="provider" placeholder="Выберите поставщика">
</div>
<div class="form-group">
    <label for="customer">Получатель</label>
    <input type="text" class="form-control" name="customer" placeholder="Выберите получателя">
</div>
<div class="form-group">
  <label for="category">Категрия</label>
  <select class="form-control" name="category">
    <option value="1">Первая</option>
    <option value="2">Вторая</option>
  </select>
</div>
<div class="form-group">
  <label for="category">Тип</label>
  <select class="form-control" name="kind">
    <option value="1">Товар</option>
    <option value="2">Маркетинговый</option>
    <option value="3">Командировочные расходы</option>
    <option value="4">Прочие расходы</option>
  </select>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>