.region_filter {
  .container_objects_count {
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;
  }
  .list_types {
    display: inline-block;
    .list_type {
      margin-bottom: 3px;
      margin-left: 5px;
      height: 30px;
      padding: 6px 12px !important;
    }
  }
  .sort_label {
    margin-left: 20px;
    display: inline-block;
  }
  .sort_list {
    margin-left: 10px;
    width: 150px;
    display: inline-block;
  }
}