{% extends 'blank_page.html' %}

{% load thumbnail %}
{% load humanize %}

{% block style %}
  <style>
    table {
      width: 964px;
      margin: 0 auto;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 0 1px;
      border: 2px solid black;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
    img {
      height: 200px;
    }

  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 16px;">
    Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате<br>
    обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту<br>
    прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.
  </div>
  <table style="margin-top: 22px;">
    <tr>
      <td colspan="2" rowspan="2" style="width: 55%;">
        <div style="min-height: 50px;">
          {{ invoice.provider.bank_name }}
        </div>
        <div style="font-size: 16px;">
          Банк получателя
        </div>
      </td>
      <td style="width: 10%;">
        БИК
      </td>
      <td style="width: 30%;border-bottom: 0px;">
        {{ invoice.provider.bik }}
      </td>
    </tr>
    <tr>
      <td>Сч. №</td>
      <td style="border-top: 0px;">{{ invoice.provider.account_current }}</td>
    </tr>
    <tr>
      <td style="width: 30%;height: 26px;">ИНН&nbsp;&nbsp;&nbsp;&nbsp;{{ invoice.provider.inn }}</td>
      <td>КПП&nbsp;&nbsp;&nbsp;&nbsp;{{ invoice.provider.kpp }}</td>
      <td style="border-bottom: 0px;">Сч. №</td>
      <td style="border-bottom: 0px;">{{ invoice.provider.account_correspondent }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="min-height: 32px;">
          {{ invoice.provider.name }}
        </div>
        <div style="font-size: 16px;">
          Получатель
        </div>
      </td>
      <td style="border-top: 0px;"></td>
      <td style="border-top: 0px;"></td>
    </tr>
  </table>
  <div style="text-align: left;margin: 20px auto 10px auto;font-size: 28px;width: 964px;">
    <strong>Счет на оплату № {{ invoice.number }} от {{ invoice.created|date:"d.m.Y" }}.</strong>
    <hr style="border-top: 3px solid black;">
  </div>
  <div style="text-align: left;margin: 10px auto;width: 964px;">
   <table style="border: 0;margin-top: 0px;">
     <tr style="border: 0;width: 1%;">
       <td style="border: 0;font-size: 16px;vertical-align: top;">Поставщик:</td>
       <td style="border: 0;vertical-align: top;">
         <div style="padding-bottom: 30px;">
         <b>
           {{ invoice.provider.name }}{% if invoice.provider.inn %},
              ИНН {{ invoice.provider.inn }}{% endif %}{% if invoice.provider.kpp %},
              КПП {{ invoice.provider.kpp }}{% endif %}{% if invoice.provider.get_full_legal_address %},
              {{ invoice.provider.get_full_legal_address }}{% endif %}{% if invoice.provider.phone %},
              тел.: {{ invoice.provider.phone }}{% endif %}
         </b>
         </div>
       </td>
     </tr>
     <tr style="border: 0;">
       <td style="border: 0;font-size: 16px;vertical-align: top;">Покупатель:</td>
       <td style="border: 0;vertical-align: top;">
         <b>
           {{ invoice.customer.name }}{% if invoice.customer.inn %},
              ИНН {{ invoice.customer.inn }}{% endif %}{% if invoice.customer.kpp %},
              КПП {{ invoice.customer.kpp }}{% endif %}{% if invoice.customer.get_full_legal_address %},
              {{ invoice.customer.get_full_legal_address }}{% endif %}{% if invoice.customer.phone %},
              тел.: {{ invoice.customer.phone }}{% endif %}
         </b>
       </td>
     </tr>
   </table>
  </div>

  <table style="border: 0px;margin-top: 20px;border-top: 4px solid black;">
    <tr style="border-left: 4px solid black;border-right: 4px solid black;">
      <td style="width: 4.5%; height: 50px; text-align: center; font-weight: bold;">№</td>
      <td style="text-align: center; font-weight: bold;">Товары (работы, услуги)</td>
      <td style="width: 8.5%; text-align: center; font-weight: bold;">Кол-во</td>
      <td style="width: 6.7%; text-align: center; font-weight: bold;">Ед.</td>
      <td style="width: 13.4%; text-align: center; font-weight: bold;">Цена</td>
      <td style="width: 14.6%; text-align: center; font-weight: bold;">Сумма</td>
    </tr>
    {% for item in invoice.items.all %}
      <tr style="border-left: 4px solid black;border-right: 4px solid black;{% if forloop.last %}border-bottom: 4px solid black;{% endif %}">
        <td style="text-align: center;font-size: 16px;vertical-align: top;">{{ forloop.counter }}</td>
        <td style="vertical-align: top;"><div style="min-height: 60px;">{{ item.product_name }}</div></td>
        <td style="text-align: center;vertical-align: top;">{{ item.count }}</td>
        <td style="text-align: center;vertical-align: top;">{{ item.get_unit_display }}</td>
        <td style="text-align: center;vertical-align: top;">{{ item.price|floatformat:2|intcomma }}</td>
        <td style="text-align: center;vertical-align: top;">{{ item.get_full_price|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
    <tr style="vertical-align: bottom;font-size: 17px;">
      <td colspan="5" style="text-align: right; font-weight: bold; border: 0px;height: 30px;">Итого:</td>
      <td style="border: none;font-weight: bold;text-align: right;">{{ invoice.get_price|floatformat:2|intcomma }}</td>
    </tr>
    <tr style="vertical-align: bottom;font-size: 17px;">
      <td colspan="5" style="text-align: right; font-weight: bold; border: 0px;height: 30px;">НДС:</td>
      <td style="border: none;font-weight: bold;text-align: right;">{{ vat_price|floatformat:2|intcomma }}</td>
    </tr>
    <tr style="vertical-align: bottom;font-size: 17px;">
      <td colspan="5" style="text-align: right; font-weight: bold; border: 0px;height: 30px;">Всего к оплате:</td>
      <td style="border: none;font-weight: bold;text-align: right;">{{ total_price|floatformat:2|intcomma }}</td>
    </tr>
  </table>
  <div class="pechat" style="width: 964px;margin: 0 auto;position:relative;">
    {% if print_pechat %}
      {% if invoice.provider.code == 'ooo-bass-invest' %}
        <div style="position: absolute;z-index: -1;top: -17px;left: 50px;">
          <img src="/static/img/pechat.png" alt="" style="-webkit-print-color-adjust: exact;width: 500px;height: 500px;">
        </div>
      {% endif %}
    {% endif %}
    <div style="text-align: left;margin: 10px 0;">
      Всего наименований {{ invoice.items.count }}, на сумму {{ total_price|floatformat:2|intcomma }} руб.
    </div>
    <div style="text-align: left;margin: 10px 0;">
      <strong>{{ total_price_string|capfirst }}</strong>
    </div>
    <hr style="border-top: 3px solid black;margin-top: 30px;">
    <table style="border: none;">
      <tr>
        <td style="width: 1%;border: none;padding-right: 15px;font-weight: bold;">
          Руководитель
        </td>
        <td style="width: 50%;font-size: 16px;text-align: right;border-left: none;border-right: none; border-top: none;">
          {{ invoice.provider.head }}
        </td>
        <td style="width: 1%;border: none;padding-right: 15px;padding-left: 15px;font-weight: bold;">
          Бухгалтер
        </td>
        <td style="width: 50%;font-size: 16px;text-align: right;border-left: none;border-right: none; border-top: none;">
          {{ invoice.provider.accountant_general }}
        </td>
      </tr>
    </table>
  </div>


{% endblock %}


