{% extends 'blank_page.html' %}

{% load thumbnail %}
{% load humanize %}

{% block style %}
  <style>
    table {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 1px 1px;
      border: 1px solid black;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1070px;
      background: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
    img {
      height: 200px;
    }

  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 20px auto 5px auto;font-size: 28px;width: 964px;">
    <strong>Акт сверки</strong>
  </div>
  <div style="text-align: center;margin: 5px 0 10px 0;font-size: 16px;">
    между {{ client.name }}<br>
    и ООО "БАСС-ИНВЕСТ"
    по договору Основной договор
  </div>
  <div style="text-align: left;margin: 40px 0 10px 0;font-size: 16px;">
    Мы, нижеподписавшиеся, Директор {{ client.name }} {{ client.head }}, с одной стороны, и Генеральный
    директор ООО "БАСС-ИНВЕСТ" Палчевская Евгения Владимировна, с другой стороны, составили настоящий акт сверки в том,
    что состояние взаимных расчетов по данным учета следующие:
  </div>
  {% for items_part in items %}
      <table style="margin-top: 22px;font-size: 12px;">
        <tr>
          <td colspan="4" style="width: 50%;">
            <div>
              По данным {{ client.name }}, RUB
            </div>
          </td>
          <td colspan="4" style="width: 50%;">
            <div>
              По данным ООО "БАСС ИНВЕСТ", RUB
            </div>
          </td>
        </tr>
        <tr style="text-align: center;">
          <td style="width: 6%;">
            Дата
          </td>
          <td style="width: 24%;">
            Документ
          </td>
          <td style="width: 10%;">
            Дебет
          </td>
          <td style="width: 10%;">
            Кредит
          </td>
          <td style="width: 6%;">
            Дата
          </td>
          <td style="width: 24%;">
            Документ
          </td>
          <td style="width: 10%;">
            Дебет
          </td>
          <td style="width: 10%;">
            Кредит
          </td>
        </tr>
        <!--{% if forloop.first %}
            <tr style="font-weight: bold;">
              <td colspan="2">
                Сальдо начальное
              </td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"></td>
              <td colspan="2">
                Сальдо начальное
              </td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"></td>
            </tr>
        {% endif %}-->
        {% for item in items_part %}
            <tr>
              <td>
                {{ item.date|date:"m.d.y" }}
              </td>
              <td>
                {{ item.obj.comment }}
              </td>
              <td style="text-align: right;">
                {% if item.kind == 'paying' %}
                    {{ item.obj.amount|floatformat:2|intcomma }}
                {% endif %}
              </td>
              <td style="text-align: right;">
                {% if item.kind == 'invoice' %}
                    {{ item.obj.amount|floatformat:2|intcomma }}
                {% endif %}
              </td>
              <td>
                {{ item.date|date:"m.d.y" }}
              </td>
              <td>
                {{ item.obj.comment }}
              </td>
              <td style="text-align: right;">
                {% if item.kind == 'invoice' %}
                    {{ item.obj.amount|floatformat:2|intcomma }}
                {% endif %}
              </td>
              <td style="text-align: right;">
                {% if item.kind == 'paying' %}
                    {{ item.obj.amount|floatformat:2|intcomma }}
                {% endif %}
              </td>
            </tr>
        {% endfor %}

        {% if forloop.last %}
            <tr style="font-weight: bold;">
              <td colspan="2">
                Обороты за период
              </td>
              <td style="text-align: right;">{{ payings_sum|floatformat:2|intcomma }}</td>
              <td style="text-align: right;">{{ invoices_sum|floatformat:2|intcomma }}</td>
              <td colspan="2">
                Обороты за период
              </td>
              <td style="text-align: right;">{{ invoices_sum|floatformat:2|intcomma }}</td>
              <td style="text-align: right;">{{ payings_sum|floatformat:2|intcomma }}</td>
            </tr>
            <!--<tr style="font-weight: bold;">
              <td colspan="2">
                Сальдо конечное
              </td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"></td>
              <td colspan="2">
                Сальдо конечное
              </td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"></td>
            </tr>-->
        {% endif %}
      </table>
      {% if forloop.last %}
          {% if footer_on_new_page %}
              <div style="font-size:12px;text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
          {% endif %}
          <div class="pechat" style="position: relative;">
            {% if print_pechat %}
                <div style="position: absolute;z-index: -1;top: -35px;left: 479px;">
                  <img src="/static/img/pechat.png" alt="" style="-webkit-print-color-adjust: exact;width: 500px;height: 500px;">
                </div>
            {% endif %}
            <table style="border: 0;margin-top: 22px;font-size: 12px;">
                <tr>
                    <td style="border: none; width: 50%;" colspan="2">
                        По данным {{ client.name }}
                    </td>
                    <td style="border: none; width: 50%;" colspan="2">
                        По данным ООО "БАСС-ИНВЕСТ"
                    </td>
                </tr>
                <tr>
                    <td style="border: none;font-weight: bold;padding-right: 15px;" colspan="2">
                        На {% now "SHORT_DATE_FORMAT" %} задолженность в пользу
                        {% if itogo < 0 %}
                            ООО "БАСС-ИНВЕСТ"
                            {{ itogo|floatformat:2|intcomma|slice:"1:" }}
                        {% else %}
                            {{ client.name }}
                            {{ itogo|floatformat:2|intcomma }}
                        {% endif %}
                        RUB ({{ itogo_string }})
                    </td>
                    <td style="border: none;font-weight: bold;padding-right: 15px;" colspan="2">
                        На {% now "SHORT_DATE_FORMAT" %} задолженность в пользу
                        {% if itogo < 0 %}
                            ООО "БАСС-ИНВЕСТ"
                            {{ itogo|floatformat:2|intcomma|slice:"1:" }}
                        {% else %}
                            {{ client.name }}
                            {{ itogo|floatformat:2|intcomma }}
                        {% endif %}
                        RUB ({{ itogo_string }})
                    </td>
                </tr>
                <tr>
                    <td style="border: none;padding: 15px 0 0 0;" colspan="2">
                        От {{ client.name }}
                    </td>
                    <td style="border: none;padding: 15px 0 0 0;" colspan="2">
                        От ООО "БАСС-ИНВЕСТ"
                    </td>
                </tr>
                <tr>
                    <td style="border: none;padding: 15px 0;" colspan="2">
                        Директор
                    </td>
                    <td style="border: none;padding: 15px 0;" colspan="2">
                        Генеральный директор
                    </td>
                </tr>
                <tr>
                    <td style="border: none;">
                        <div style="height: 15px;border-bottom: 1px solid black;"></div>
                    </td>
                    <td style="border: none;width: 20%;">
                        (Дубровицкая О.А.)
                    </td>
                    <td style="border: none;">
                        <div style="height: 15px;border-bottom: 1px solid black;"></div>
                    </td>
                    <td style="border: none;width: 20%;">
                        (Палчевская Е.В.)
                    </td>
                </tr>
                <tr>
                    <td style="border: none;padding: 15px 0;" colspan="2">
                        М.П.
                    </td>
                    <td style="border: none;padding: 15px 0;" colspan="2">
                        М.П.
                    </td>
                </tr>
              </table>
          </div>
          {% if footer_on_new_page %}
            <div style="font-size:12px;text-align: right;margin: 10px 0;">стр: {{ pages_count }} / {{ pages_count }}</div>
          {% else %}
            <div style="font-size:12px;text-align: right;margin: 10px 0;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
          {% endif %}
      {% else %}
          <div style="font-size:12px;text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
      {% endif %}
    {% endfor %}
{% endblock %}


