<td>
    <div class="m-b-10">
        <strong>{{user_detail.name}}</strong> <small>добавил комментарий</small>
        <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time p-r-5"></span>{{datetime created 'DD.MM.YYYY HH:mm'}}
        </small>
    </div>
    <p>{{{body}}}</p>
</td>