<div class="row">
<div class="form form-horizontall">
    <div class="form-group">
        <div class="col-md-1">
            <input type="checkbox" class="form-control" name="has_common"></input>
        </div>
        <label for="has_common" class="control-label col-md-11">Основное</label>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <input type="checkbox" class="form-control" name="has_description"></input>
        </div>
        <label for="has_description" class="control-label col-md-11">Описание</label>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <input type="checkbox" class="form-control" name="has_fields"></input>
        </div>
        <label for="has_fields" class="control-label col-md-11">Характеристики</label>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <input type="checkbox" class="form-control" name="has_images"></input>
        </div>
        <label for="has_images" class="control-label col-md-11">Изображения</label>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <input type="checkbox" class="form-control" name="has_comments"></input>
        </div>
        <label for="has_comments" class="control-label col-md-11">Комментарии</label>
    </div>
</div>
</div>
    <button type="button" class="btn btn-success" name="export">Продолжить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
