<div class="row">
    <div class="col-md-6">
        <div class="btn btn-info care-information">Справка</div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="m-b-10 f-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary print">
                        <i class="fa fa-print"></i></button>
                    </button>
                </div>
            </div>
            <div class="m-b-10 f-left">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cloud-download"></i> <span class="caret"></span>
                  </button>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="pdf_export"><i class="fa fa-file-pdf-o"></i>PDF</a>
                    </li>
                    <li><a href="#" class="docx_export"><i class="fa fa-file-text-o"></i>DOCX</a>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="m-b-10 f-left {{#unless offer}}hidden{{/unless}}">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary copy_characteristics" data-toggle="tooltip" data-placement="top" title="Копировать этикетки">
                        <i class="fa fa-clone"></i></button>
                    </button>
                </div>
            </div>
            <div class="m-b-10 f-left">
                <div class="btn btn-success save">Сохранить</div>
            </div>
        </div>
    </div>
</div>