<div class="header">
  <h3 class="text">#<span class="id"></span>. <span class="name"></span></h3>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/product/" class="list_link">Список</a></li>
      <li class="active ">#<span class="id"></span>. <span class="name"></span></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content">
                <div class="region_header"></div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
        <div class="row">
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3>Комментарии</h3>
                      <div class="control-btn">
                          <button class="btn btn-primary add_comment">Добавить новый комментарий</button>
                      </div>

                    </div>
                    <div class="panel-content">
                        <div class="region_comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
