<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="common">
            <a href="#">Основное</a>
        </li>
        <li class="tab_link" data-tab_name="label">
            <a href="#">Этикетки</a>
        </li>
        <li class="tab_link" data-tab_name="field">
            <a href="#">Характеристики</a>
        </li>
        <li class="tab_link" data-tab_name="image">
            <a href="#">Изображения</a>
        </li>
        <li class="tab_link" data-tab_name="collection">
            <a href="#">Коллекции</a>
        </li>
        {{#if userCanViewProductPublicTabFilter}}
        <li class="tab_link" data-tab_name="public_data">
            <a href="#">Публичные данные</a>
        </li>
        {{/if}}
    </ul>
</div>