<div class="form-group">
    <label for="body">Комментарий</label>
    <textarea class="form-control" name="body"></textarea>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>