<div class="row">
    <div class="panel">
      <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="date_from">С даты</label>
                <input type="text" class="form-control" name="date_from">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="date_to">По дату</label>
                <input type="text" class="form-control" name="date_to">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="client">Партнер</label>
                <input type="text" class="form-control" name="client">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary submit_form">Выгрузить в excel</button>
            </div>
        </div>
      </div>
    </div>
</div>