<div class="row hidden">
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-header">
              <h3>Статус заказа внутренних этикеток (<b>{{internal_label_status_detail.name}})</b></h3>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            {{#each internal_label_status_detail.next_statuses}}
                                <div class="f-left m-l-10">
                                    <button class="btn btn-success change_internal_label_status" data-status_code="{{ code }}">{{ button_name }}</button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
      <h3>Статус заказа (<b>{{status_detail.name}}</b>)</h3>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-primary list_link" data-status_code="{{ code }}">Выйти без смены статуса</button>
                    </div>
                    {{#each status_detail.next_statuses}}
                        <div class="f-left m-l-10">
                            <button class="btn btn-success change_status" data-status_code="{{ code }}">{{ button_name }}</button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
