<div class="form-group">
    <label for="amount_sawing_labels">Стоимость пошива этикеток</label>
    <input type="text" class="form-control" name="amount_sawing_labels">
</div>
<button type="button" class="btn btn-success" name="create">Сохранить и получить заказ</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>