<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (название)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
            <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
           <div class="col-md-4">
              <div class="form-group">
                <label>Тип</label>
                <select class="form-control" name="kind">
                  <option value="" active>Все</option>
                  <option value="1">Основная</option>
                  <option value="2">Внутренняя</option>
                  <option value="3">Картон</option>
                </select>
              </div>
           </div>
           <div class="col-md-4">
              <div class="form-group">
                <label for="has_images">С изображением</label>
                <select class="form-control" name="has_images">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
           </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
    </div>
</div>