<div id="product_item_{{ id }}" class="panel">
  <div class="panel-content">
      <div class="row">
          <div class="col-md-3">
              <div class="image captioned">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
                  <div class="image-caption">
                    {{#if image}}
                        <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
                    {{/if}}
                    <a class="image-edit" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-pencil"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-xs-3 header">
                <h3><strong>№:{{ id }}</strong> {{#if canViewOffersLink }}{{#if offer }}<a class="offer-data" href="javascript://"><span class="label label-default" data-toggle="tooltip" data-placement="top" title="Создано на основании предложения №:{{ offer }}. Кликните, чтобы посмотреть.">Пр. №:{{ offer }}</span></a>{{/if}}{{/if}}</h3>
              </div>
              <div class="col-xs-9">
                <input class="form-control" name="name" type="text" placeholder="Введите название этикетки">
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="kind">Тип</label>
                        <select class="form-control form-white" name="kind" readonly="readonly" disabled="disabled">
                          <option value="1">Основная</option>
                          <option value="2">Внутренняя</option>
                          <option value="3">Картон</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {{#ifCond kind '==' 3 }}hidden{{/ifCond}}">
                        <label for="country">Страна</label>
                        <input class="form-control" name="country" type="text">
                    </div>
                </div>
            </div>
            <div class="row {{#ifCond kind '!=' 2 }}hidden{{/ifCond}}">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="structure">Состав</label>
                        <textarea class="form-control" name="structure"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="more_information">Дополнительная информация</label>
                        <textarea class="form-control" name="more_information"></textarea>
                    </div>
                </div>
            </div>
            <div class="row price-board-region"></div>
          </div>
      </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="row">
        <div class="col-xs-8 button-status-list">
            <div class="btn-group button-status-list">

            </div>
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                <div class="btn btn-success save">Сохранить</div>
            </div>
        </div>
    </div>
  </div>
</div>