<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="color">Тип</label>
            <select class="form-control" name="kind">
              <option value="1">Основная</option>
              <option value="2">Внутренняя</option>
              <option value="3">Картон</option>
            </select>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>