<div class="header">
  <h2>Заказ этикеток №<strong class="order-id"></strong> (<elem class="order-status">{{ status_detail.name }}</elem>)</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/manufacturing_label_order/" class="list_link">Заказы этикеток</a></li>
      <li class="active">Заказ этикеток #<b class="order-id"></b> </li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
