<div class="form-group product_sizes">
  <label for="main_collection">Остаток</label>
  <table class="table">
    <tr class="serie_type_has warehouse_msk">
        <td class="">
            <span>Склад Москва</span>
        </td>
        {{#if showLetterSizes }}
        <td class="st_xxs c_data">
            <span>XXS</span>: <span class="has_xxs">0</span>шт
        </td>
        <td class="st_xs c_data">
            <span>XS</span>: <span class="has_xs">0</span>шт
        </td>
        <td class="st_s c_data bg-aero">
            <span>S</span>: <span class="has_s">0</span>шт
        </td>
        <td class="st_m c_data bg-aero">
            <span>M</span>: <span class="has_m">0</span>шт
        </td>
        <td class="st_l c_data">
            <span>L</span>: <span class="has_l">0</span>шт
        </td>
        <td class="st_xl c_data">
            <span>XL</span>: <span class="has_xl">0</span>шт
        </td>
        <td class="st_xxl c_data">
            <span>XXL</span>: <span class="has_xxl">0</span>шт
        </td>
        <td class="st_xxxl c_data">
            <span>XXXL</span>: <span class="has_xxxl">0</span>шт
        </td>
        {{/if}}
        {{#if showNumberSizes }}
        <td class="st_34 s_data">
            <span>34</span>: <span class="has_34">0</span>шт
        </td>
        <td class="st_35 s_data">
            <span>35</span>: <span class="has_35">0</span>шт
        </td>
        <td class="st_36 s_data">
            <span>36</span>: <span class="has_36">0</span>шт
        </td>
        <td class="st_37 s_data bg-aero">
            <span>37</span>: <span class="has_37">0</span>шт
        </td>
        <td class="st_38 s_data bg-aero">
            <span>38</span>: <span class="has_38">0</span>шт
        </td>
        <td class="st_39 s_data">
            <span>39</span>: <span class="has_39">0</span>шт
        </td>
        <td class="st_40 s_data">
            <span>40</span>: <span class="has_40">0</span>шт
        </td>
        <td class="st_41 s_data">
            <span>41</span>: <span class="has_41">0</span>шт
        </td>
        {{/if}}
    </tr>
    <tr class="serie_type_has warehouse_chn">
        <td class="">
            <span>Склад Китай</span>
        </td>
        {{#if showLetterSizes }}
        <td class="st_xxs c_data">
            <span>XXS</span>: <span class="has_xxs">0</span>шт
        </td>
        <td class="st_xs c_data">
            <span>XS</span>: <span class="has_xs">0</span>шт
        </td>
        <td class="st_s c_data bg-aero">
            <span>S</span>: <span class="has_s">0</span>шт
        </td>
        <td class="st_m c_data bg-aero">
            <span>M</span>: <span class="has_m">0</span>шт
        </td>
        <td class="st_l c_data">
            <span>L</span>: <span class="has_l">0</span>шт
        </td>
        <td class="st_xl c_data">
            <span>XL</span>: <span class="has_xl">0</span>шт
        </td>
        <td class="st_xxl c_data">
            <span>XXL</span>: <span class="has_xxl">0</span>шт
        </td>
        <td class="st_xxxl c_data">
            <span>XXXL</span>: <span class="has_xxxl">0</span>шт
        </td>
        {{/if}}
        {{#if showNumberSizes }}
        <td class="st_34 s_data">
            <span>34</span>: <span class="has_34">0</span>шт
        </td>
        <td class="st_35 s_data">
            <span>35</span>: <span class="has_35">0</span>шт
        </td>
        <td class="st_36 s_data">
            <span>36</span>: <span class="has_36">0</span>шт
        </td>
        <td class="st_37 s_data bg-aero">
            <span>37</span>: <span class="has_37">0</span>шт
        </td>
        <td class="st_38 s_data bg-aero">
            <span>38</span>: <span class="has_38">0</span>шт
        </td>
        <td class="st_39 s_data">
            <span>39</span>: <span class="has_39">0</span>шт
        </td>
        <td class="st_40 s_data">
            <span>40</span>: <span class="has_40">0</span>шт
        </td>
        <td class="st_41 s_data">
            <span>41</span>: <span class="has_41">0</span>шт
        </td>
        {{/if}}
    </tr>
    <tr class="serie_type_has warehouse_showroom">
        <td class="">
            <span>Шоурум</span>
        </td>
        {{#if showLetterSizes }}
        <td class="st_xxs c_data">
            <span>XXS</span>: <span class="has_xxs">0</span>шт
        </td>
        <td class="st_xs c_data">
            <span>XS</span>: <span class="has_xs">0</span>шт
        </td>
        <td class="st_s c_data bg-aero">
            <span>S</span>: <span class="has_s">0</span>шт
        </td>
        <td class="st_m c_data bg-aero">
            <span>M</span>: <span class="has_m">0</span>шт
        </td>
        <td class="st_l c_data">
            <span>L</span>: <span class="has_l">0</span>шт
        </td>
        <td class="st_xl c_data">
            <span>XL</span>: <span class="has_xl">0</span>шт
        </td>
        <td class="st_xxl c_data">
            <span>XXL</span>: <span class="has_xxl">0</span>шт
        </td>
        <td class="st_xxxl c_data">
            <span>XXXL</span>: <span class="has_xxxl">0</span>шт
        </td>
        {{/if}}
        {{#if showNumberSizes }}
        <td class="st_34 s_data">
            <span>34</span>: <span class="has_34">0</span>шт
        </td>
        <td class="st_35 s_data">
            <span>35</span>: <span class="has_35">0</span>шт
        </td>
        <td class="st_36 s_data">
            <span>36</span>: <span class="has_36">0</span>шт
        </td>
        <td class="st_37 s_data bg-aero">
            <span>37</span>: <span class="has_37">0</span>шт
        </td>
        <td class="st_38 s_data bg-aero">
            <span>38</span>: <span class="has_38">0</span>шт
        </td>
        <td class="st_39 s_data">
            <span>39</span>: <span class="has_39">0</span>шт
        </td>
        <td class="st_40 s_data">
            <span>40</span>: <span class="has_40">0</span>шт
        </td>
        <td class="st_41 s_data">
            <span>41</span>: <span class="has_41">0</span>шт
        </td>
        {{/if}}
    </tr>
  </table>
</div>