{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>

    @font-face {
        font-family: 'HelveticaNeueCyr-Roman';
        font-style: normal;
        font-weight: normal;
        src: local('/static/fonts/helvetica/HelveticaNeueCyr-Roman'), url('/static/fonts/helvetica/HelveticaNeueCyr-Roman.woff') format('woff');
    }
    @font-face {
        font-family: 'HelveticaNeueCyr-Light';
        font-style: normal;
        font-weight: normal;
        src: local('/static/fonts/helvetica/HelveticaNeueCyr-Light'), url('/static/fonts/helvetica/HelveticaNeueCyr-Light.woff') format('woff');
    }
    .clear {
        clear: both;
    }
    .image_block img {
        width: 490px;
    }
    .work_time_title_block {
        font-family:'HelveticaNeueCyr-Light';
        font-size: 36pt;
    }
    .days_block {
        margin-top: 100px;
        font-size: 36pt;
    }
    .times_block {
        margin-top: 20px;
        font-size: 36pt;
    }
    .content {
        padding-top: 110px;
        padding-bottom: 160px;
        border: 1px solid white;
    }
    body {
      width: 1024px;
      background: black;
      font-family:'HelveticaNeueCyr-Roman';
      font-weight:normal;
      color: white;
      text-align: center;
      margin: 0;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="image_block">
            <img src="/static/img/ZARACITY_logo_White_400_150.png" alt="">
        </div>
        <div class="work_time_title_block">ВРЕМЯ РАБОТЫ</div>
        <div class="days_block">
            {{ day_from }} - {{ day_to }}
        </div>
        <div class="times_block">
            {{ time_from }} - {{ time_to }}
        </div>
    </div>
    <div class="content">
        <div class="image_block">
            <img src="/static/img/ZARACITY_logo_White_400_150.png" alt="">
        </div>
        <div class="work_time_title_block">ВРЕМЯ РАБОТЫ</div>
        <div class="days_block">
            {{ day_from }} - {{ day_to }}
        </div>
        <div class="times_block">
            {{ time_from }} - {{ time_to }}
        </div>
    </div>
{% endblock %}


