{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>

    @font-face {
        font-family: 'HelveticaNeueCyr-Roman';
        font-style: normal;
        font-weight: normal;
        src: local('/static/fonts/helvetica/HelveticaNeueCyr-Roman'), url('/static/fonts/helvetica/HelveticaNeueCyr-Roman.woff') format('woff');
    }
    .root_block {
      width: 734px;
      border: 1px solid gray;
      border-spacing: 0;
      margin: 40px auto 0 auto;
    }
    .product {
        width: 370px;
        float: left;
        padding: 0 20px 0 30px;
    }
    .price {
        width: 190px;
        padding: 0 10px;
        float: left;
        text-align: right;
    }
    .rur {
        padding: 0 15px;
        line-height: 56pt;
        float: left;
        font-size: 23pt;
    }
    .product2 .product_block {
        margin: 80px 0;
    }
    .product3 .product_block {
        margin: 80px 0;
    }
    .product4 .product_block {
        margin: 42px 0;
    }
    .product5 .product_block {
        margin: 22px 0;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
      font-family:'HelveticaNeueCyr-Roman';
      font-weight:normal;
      font-size: 56pt;
      line-height: 56pt;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
    <div style="display: table; height: 522px; overflow: hidden;" class="root_block product{{ product_count }}">
        <div style="display: table-cell; vertical-align: middle;">
            {% if product1 %}
                <div class="product_block">
                    <div class="product">{{ product1 }}</div>
                    <div class="price">{{ price1 }}</div>
                    <div class="rur">руб.</div>
                    <div class="clear"></div>
                </div>
            {% endif %}
            {% if product2 %}
                <div class="product_block">
                    <div class="product">{{ product2 }}</div>
                    <div class="price">{{ price2 }}</div>
                    <div class="rur">руб.</div>
                    <div class="clear"></div>
                </div>
            {% endif %}
            {% if product3 %}
                <div class="product_block">
                    <div class="product">{{ product3 }}</div>
                    <div class="price">{{ price3 }}</div>
                    <div class="rur">руб.</div>
                    <div class="clear"></div>
                </div>
            {% endif %}
            {% if product4 %}
                <div class="product_block">
                    <div class="product">{{ product4 }}</div>
                    <div class="price">{{ price4 }}</div>
                    <div class="rur">руб.</div>
                    <div class="clear"></div>
                </div>
            {% endif %}
            {% if product5 %}
                <div class="product_block">
                    <div class="product">{{ product5 }}</div>
                    <div class="price">{{ price5 }}</div>
                    <div class="rur">руб.</div>
                    <div class="clear"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


