<div class="col-xlg-12 col-lg-4 col-sm-4 currency_item">
  <div class="panel">
    <div class="panel-content widget-small bg-green {{#ifCond id '==' 'CNY' }}bg-purple{{/ifCond}}{{#ifCond id '==' 'EUR' }}bg-primary{{/ifCond}}">
      <div class="title">
        <h1>{{ name }} - <b>{{ rate }}</b> р.</h1>

        <p>За месяц - {{#ifCond last_month_delta ">" 0 }}<i class="fa fa-long-arrow-up p-r-0 p-l-0"></i>{{/ifCond  }}{{#ifCond last_month_delta "<" 0 }}<i class="fa fa-long-arrow-down p-r-0 p-l-0"></i>{{/ifCond  }} {{ last_month_delta }} р.</p>
        <p>За день - {{#ifCond last_day_delta ">" 0 }}<i class="fa fa-long-arrow-up p-r-0 p-l-0"></i>{{/ifCond  }}{{#ifCond last_day_delta "<" 0 }}<i class="fa fa-long-arrow-down p-r-0 p-l-0"></i>{{/ifCond  }} {{ last_day_delta }} р.</p>
      </div>
      <div class="content">
        <div id="stock-data-sm_{{ id }}"></div>
      </div>
    </div>
  </div>
</div>