<div class="panel">
    <div class="panel-content">
        <div class="row" id="order_item_{{ id }}">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                        <div class="image">
                          {{#if product_detail.image}}
                              <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                          {{else}}
                              <img src="/static/img/no-image.jpg" class="img-responsive">
                          {{/if}}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12 product_data">
                                <h3><strong>№:{{ product_detail.id }}</strong> {{ product_detail.name }}</h3>
                                <p><small><b>{{ product_detail.article }}</b></small> {{ product_detail.color_detail.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="main_collection">Цена модели (шт)</label>
                                    <p class="form-control form-white">{{ product_detail.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right ">
                    <div class="btn btn-danger remove p-l-10 p-r-10">
                        <div class="glyphicon glyphicon-remove"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>