<div class="region_filter"></div>
<div class="region_complex"></div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_cart">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>