<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="region_table"></div>
        </div>
        <div class="panel">
          <div class="panel-content">
              <div id="chart1"></div>
          </div>
        </div>
        <div class="region_products_table"></div>
    </div>
</div>