<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="region_client_list"></div>
                </div>
            </div>
            <div class="row">
                <input type="text" class="form-control hidden" name="client">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="product__kind">Тип товара</label>
                    <select class="form-control" name="product__kind">
                      <option value="" active>Все</option>
                      <option value="1">Одежда</option>
                      <option value="2">Торговое оборудование</option>
                      <option value="3">Рекламная продукция</option>
                      <option value="4">Осветительные приборы</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="has_moskow_remains">На складе в Москве</label>
                    <input type="checkbox" name="has_moskow_remains" class="form-control" data-checkbox="icheckbox_square-blue">
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>