<td><small><small>{{id}}</small></td>
<td><small>
  {{#if image}}
      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive" style="max-width: 100px;max-height: 100px;float: left;">
  {{else}}
      <img src="/static/img/no-image.jpg" class="image-edit img-responsive" style="max-width: 100px;max-height: 100px;float: left;">
  {{/if}}
</small></td>
<td>
    <small><b>{{name }}</b></small>
    <br>
    <small>{{color_detail.name}}</small>
    <br>
    <small><b>{{article}}</b></small>
</td>
<td><small>
    {{#each size_data }}
      <p>{{ size }} - {{ supplied }}</p>
    {{/each}}
</small></td>
<td><small>
    {{#each size_data }}
      <p>{{ size }} - {{ client_return }}</p>
    {{/each}}
</small></td>
<td><small>
    {{#each size_data }}
      <p>{{ size }} - {{ sold }}</p>
    {{/each}}
</small></td>
<td><small>
    {{#each size_data }}
      <p>{{ size }} - {{ return }}</p>
    {{/each}}
</small></td>
<td><small>
    {{#each size_data }}
      <p>{{ size }} - {{ remain }}</p>
    {{/each}}
</small></td>
<td><small>{{#decimal_round sold_percent}}{{/decimal_round}}</small></td>
<td><small>{{#decimal_round return_percent}}{{/decimal_round}}</small></td>
<td><small>
    {{# if turnaround}}
      {{turnaround}}
    {{else}}
      -
    {{/if}}
</small></td>