<table class="table table-bordered" style="width:auto;text-align: center;">
    <tr>
        <th>Склад</th>
        {{#each sizes }}
            <th>{{this}}</th>
        {{/each}}
    </tr>
{{#each remains }}
    <tr>
        <th>{{ warehouse }}</th>
        {{#each sizes }}
            <td {{#ifCond this '==' 0}}style="color: #ababab;"{{/ifCond}}>{{this}}</td>
        {{/each}}
    </tr>
{{/each}}
</table>
<div class="region_movement_of_goods"></div>