<table class="table table-hover" id="table-sticky">
  <thead class="table-sticky-header">
    <tr>
      <th><small>№</small></th>
      <th><small>Изобр.</small></th>
      <th><small>Модель</small></th>
      <th><small>Поставлено</small></th>
      <th><small>Возврат от партнера</small></th>
      <th><small>Продано</small></th>
      <th><small>Возврат</small></th>
      <th><small>Остаток</small></th>
      <th><small>% Продано</small></th>
      <th><small>% возврата</small></th>
      <th><small>Об.</small></th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>