<div class="panel-header"><h3>{{#ifCond report_data.report_kind "==" 2 }}<a href="#" class="load_all_report">ПО ВСЕМ РОДИТЕЛЬСКИМ КОЛЛЕКЦИЯМ</a> / {{/ifCond}}{{ report_data.report_title }}</h3></div>
<div class="panel-content">
    {{# if report_data.collection_data }}
    <div style="overflow-y: auto;">
        <table class="table">
            <tr>
                <th></th>
                <th>Поставлено</th>
                <th>Возврат от партнера</th>
                <th>Продано</th>
                <th>Возврат</th>
                <th>Остаток</th>
                <th>% продано</th>
                <th>% возврата</th>
            </tr>
            {{#each report_data.collection_data }}
                <tr class="{{#ifCond @root.report_data.report_kind "==" 2 }}{{#unless product_collection.parent_id }}active{{/unless}}{{/ifCond}}
                    {{#ifCond supplied '==' 0 }}
                        {{#ifCond sold '==' 0 }}
                            {{#ifCond remain '==' 0 }}
                                hidden
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/ifCond}}
                    ">
                    <td><a href="#" class="load_detail" data-collection_parrent="{{ product_collection.parent_id }}" data-collection="{{ product_collection.id }}">{{product_collection.name}}</a></td>
                    <td>{{supplied}}</td>
                    <td>{{client_return}}</td>
                    <td>{{sold}}</td>
                    <td>{{return}}</td>
                    <td>{{remain}}</td>
                    <td>{{#decimal_round sold_percent}}{{/decimal_round}}</td>
                    <td>{{#decimal_round return_percent}}{{/decimal_round}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
</div>