<div class="row" id="order_item_{{ id }}">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                <div class="image">
                  {{#if offer_detail.image}}
                      <img src="{{offer_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 product_data">
                        <h3><strong>№:{{ offer_detail.id }}</strong> {{ offer_detail.business_name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><small>Код: <b>{{ offer_detail.aggreement_code }}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <p><small>Цвет: <b>{{ color_detail.name }}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <p><small>Размеры: <b>{{#each sizes_detail }}{{#ifCond @index '!=' 0}}, {{/ifCond}}{{name}}{{/each}}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <p><small>Цена: <b>{{ offer_detail.aggreement_price }}</b> x <b>{{ quantity }}</b>шт.</small></p>
                        <p><small>Сумма: <b>{{ amount }}</b></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="pull-right ">
            <div class="btn btn-danger remove p-l-10 p-r-10">
                <div class="glyphicon glyphicon-remove"></div>
            </div>
        </div>
    </div>
</div>
<hr>