<div class="panel">
    <div class="panel-header" style="overflow: hidden;">
      <h3 class="pull-left">Состав корзины</h3>
      <div class="pull-right" style="line-height: 39px;">
          Количество: <span class="offer_request_quantity"></span>, Сумма: <span class="offer_request_amount_full"></span>
      </div>
    </div>
    <div class="panel-content">
        <div class="region_item_add hidden"></div>
        <hr>
        <div class="region_item_list"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_cart">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>