<div class="select2-product-result-item">
    <div class="product_image">
        {{#if image1}}
          <img src="{{image1}}" alt="" class="image-edit img-responsive">
        {{else}}
          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
        {{/if}}
    </div>
    <div class="product_image">
        {{#if image2}}
          <img src="{{image2}}" alt="" class="image-edit img-responsive">
        {{else}}
          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
        {{/if}}
    </div>
    <div class="product_image">
        {{#if image3}}
          <img src="{{image3}}" alt="" class="image-edit img-responsive">
        {{else}}
          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
        {{/if}}
    </div>
    <div class="product_image">
        {{#if image4}}
          <img src="{{image4}}" alt="" class="image-edit img-responsive">
        {{else}}
          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
        {{/if}}
    </div>
</div>