<div class="row" id="order_item_{{ id }}">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="image">
                  {{#if product_label_detail.image}}
                      <img src="{{product_label_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 product_data">
                        <h3><strong>№:{{ product_label_detail.id }}</strong> {{ product_label_detail.name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-horizontal">
                            <label for="price">Цена (шт)</label>
                            <input type="number" name="price" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-12">
                <table class="table">

                    <tr class="serie_type_has {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                        <td>
                            Размер:
                        </td>
                        <td class="st_xxs c_data">
                            <span>XXS</span>
                        </td>
                        <td class="st_xs c_data">
                            <span>XS</span>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <span>S</span>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <span>M</span>
                        </td>
                        <td class="st_l c_data">
                            <span>L</span>
                        </td>
                        <td class="st_xl c_data">
                            <span>XL</span>
                        </td>
                        <td class="st_xxl c_data">
                            <span>XXL</span>
                        </td>
                        <td class="st_xxxl c_data">
                            <span>XXXL</span>
                        </td>
                    </tr>

                    <tr class="serie_type_ordered_count">
                        <td>
                            Заказано:
                        </td>
                        <td class="st_xxs c_data {{#ifCond product_label_detail.kind '==' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxs c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_xxs" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xs c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_xs" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_s c_data bg-aero {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_s" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_m c_data bg-aero {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_m" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_l c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_l" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_xl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_xxl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxxl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="ordered_xxxl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                    </tr>
                    <tr class="serie_type_received_count ">
                        <td>
                            Получено:
                        </td>
                        <td class="st_xxs c_data {{#ifCond product_label_detail.kind '==' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxs c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_xxs" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xs c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_xs" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_s c_data bg-aero {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_s" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_m c_data bg-aero {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_m" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_l c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_l" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_xl" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_xxl" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxxl c_data {{#ifCond product_label_detail.kind '!=' 1 }}hidden{{/ifCond}}">
                            <input type="number" name="received_xxxl" class="form-control {{#unless canEditReceived }}form-white{{/unless}}" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Заказано: <span class="ordered_st_sum"></span>шт.</b>
            </div>
            <div class="col-xs-12">
                <b>Получено: <span class="received_st_sum"></span>шт.</b>
            </div>
        </div>
    </div>
</div>
<hr>