<div class="header">
  <h2>{{ list_name }}</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">{{ list_name }}</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="region_filter"></div>
    <div class="region_complex"></div>
  </div>
</div>