<div class="form-group">
    <label for="product">Модель</label>
    <input type="text" class="form-control" name="product" placeholder="Введите название модели">
</div>
<div class="form-group">
    <label for="series_count">Количество серий</label>
    <input type="number" class="form-control" name="series_count">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>