<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (id/артикул/название модели)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
            <div class="col-md-4 {{#unless user.can_view_order_b2c_filter_products }}hidden{{/unless}}">
              <div class="form-group">
                <label>Модель</label>
                <input type="text" class="form-control" name="items__product">
              </div>
            </div>
            <div class="col-md-4 {{#unless user.can_view_order_b2c_filter_client }}hidden{{/unless}}">
              <div class="form-group">
                <label>Партнер</label>
                <input type="text" class="form-control" name="client">
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="list_types">
                <div class="btn btn-white btn-sm glyphicon glyphicon-list list_type" data-list_type="list1"
                     data-placement="top" title="Табличный вид"></div>
                <div class="btn btn-white btn-sm glyphicon glyphicon-picture list_type" data-list_type="list2"
                     data-placement="top" title="Список с картинками"></div>
            </div>

            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="id">№ &uparrow;</option>
                <option value="-id">№ &downarrow;</option>
            </select>
        </div>
    </div>
</div>
