<td>{{number}}</td>
<td>{{client_detail.name}}</td>
<td>{{date}}</td>
{{#if user.userCanCurrencySummView}}
    <td>{{#decimal_round amount_full}}{{/decimal_round}}</td>
{{/if}}
<td>{{#decimal_round amount_full_rur}}{{/decimal_round}}</td>
<td>{{ visits }}</td>
