<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Тип оплаты' 6}}
                        <input type="text" name="payment_method" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Cтоимость' 6}}
                        <input type="text" name="amount_full" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Оплаченно' 6}}
                        <input type="text" name="amount_paid" class="form-control">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="form form-horizontal">
            <div class="">
                {{#formControl 'Описание' 2}}
                    <textarea rows=5 name="description" class="form-control summernote bg-white"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_purchase">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>