{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="inrooms.club">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    <title>Inrooms.club</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <!-- BEGIN BODY -->
  <body class="fixed-topbar theme-sdtl color-default ">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id="region_main">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar"></div>
      <!-- END SIDEBAR -->
      <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar"></div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div>
          <div class="page-content"></div>

          <div class="footer">
            <div class="copyright">
              <p class="pull-left sm-pull-reset">
                <span>inrooms</span>.
              </p>
              <p class="pull-right sm-pull-reset">
                
              </p>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END MAIN CONTENT -->
    </section>
    <!-- Modal -->
    <div class="modal fade" id="modal-region" tabindex="-1" role="dialog"></div>
    <div class="modal fade" id="modal-region2" tabindex="-1" role="dialog"></div>
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
    {% if not DEBUG %}
        <script src="{% static 'raven.js' %}"></script>
        <script>Raven.config('{{ JS_DSN }}').install();</script>
    {% endif %}
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>