<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/assets/global/css/style.css" rel="stylesheet">
        <link href="/static/assets/global/css/ui.css" rel="stylesheet">
        {% block style %}
        
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock body_class %}" data-page="{% block data_page %}{% endblock data_page %}">
        {% block content %}{% endblock %}
    </body>
</html>