<div class="panel bg-dark">
    <div class="panel-header header-line">
      <h3><strong>Последний шанс</strong> купить</h3>
    </div>
    <div class="panel-content" style="padding: 0px 20px 20px 20px;">
        <img src="/static/last_chance.png" alt="" class="img-responsive"/>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-success print">Печать</button>
      </div>
    </div>
</div>