<div class="header">
  <h2>Печать холдеров</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Печать холдеров</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
      <div class="region_showcase_holder"></div>
  </div>
  <div class="col-md-3">
      <div class="region_last_chance_holder"></div>
  </div>
  <div class="col-md-3">
    <div class="region_mode_holder"></div>
  </div>
  <div class="col-md-3">
        <div class="region_sale_holder"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
      <div class="region_price_holder"></div>
  </div>
</div>


