<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="day_from">C</label>
            <select class="form-control" name="day_from">
              <option value="понедельник">Понедельник</option>
              <option value="вторник">Вторник</option>
              <option value="среда">Среда</option>
              <option value="четверг">Четверг</option>
              <option value="пятница">Пятница</option>
              <option value="суббота">Суббота</option>
              <option value="воскресенье">Воскресенье</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="day_to">По</label>
            <select class="form-control" name="day_to">
              <option value="понедельник">Понедельник</option>
              <option value="вторник">Вторник</option>
              <option value="среда">Среда</option>
              <option value="четверг">Четверг</option>
              <option value="пятница">Пятница</option>
              <option value="суббота">Суббота</option>
              <option value="воскресенье">Воскресенье</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="time_from">C</label>
            <input type="text" class="form-control" name="time_from" placeholder="10:00">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="time_to">По</label>
            <input type="text" class="form-control" name="time_to" placeholder="22:00">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="print_holder">Распечатать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>