<div class="panel bg-dark">
    <div class="panel-header header-line">
      <h3>Холдер <strong>с ценой</strong></h3>
    </div>
    <div class="panel-content" style="padding: 0px 20px 20px 20px;">
      <p>тут картинку вставим когда будет</p>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-success">Печать</button>
      </div>
    </div>
</div>