<div class="row">
  <div class="col-md-4">
      <div class="panel panel-transparent">
        <div class="panel-content">
          <img src="/static/Sale1.png" alt="" class="img-responsive"/>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <button type="button" class="btn btn-success print_sales" data-num="1">Печать</button>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-transparent">
        <div class="panel-content">
          <img src="/static/Sale2.png" alt="" class="img-responsive"/>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <button type="button" class="btn btn-success print_sales" data-num="2">Печать</button>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-transparent">
        <div class="panel-content">
          <img src="/static/Sale3.png" alt="" class="img-responsive"/>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <button type="button" class="btn btn-success print_sales" data-num="3">Печать</button>
          </div>
        </div>
      </div>
  </div>
</div>