<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="product1">Модель 1</label>
            <input type="text" class="form-control" name="product1" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price1">Цена 1</label>
            <input type="text" class="form-control" name="price1" placeholder="Введите цену модели">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="product2">Модель 2</label>
            <input type="text" class="form-control" name="product2" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price2">Цена 2</label>
            <input type="text" class="form-control" name="price2" placeholder="Введите цену модели">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="product3">Модель 3</label>
            <input type="text" class="form-control" name="product3" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price3">Цена 3</label>
            <input type="text" class="form-control" name="price3" placeholder="Введите цену модели">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="product4">Модель 4</label>
            <input type="text" class="form-control" name="product4" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price4">Цена 4</label>
            <input type="text" class="form-control" name="price4" placeholder="Введите цену модели">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="product5">Модель 5</label>
            <input type="text" class="form-control" name="product5" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price5">Цена 5</label>
            <input type="text" class="form-control" name="price5" placeholder="Введите цену модели">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="print_holder">Распечатать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>