<div class="header">
  <h2>Предзаказ №<strong class="preorder-id"></strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/preorder/" class="list_link">Предзаказы</a></li>
      <li class="active">Предзаказ #<b class="preorder-id"></b></li>
    </ol>
  </div>
</div>
<div class="row " style="min-height: 300px;">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
