.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: 151px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    td,
    th {
        background-color: #f9f9f9;
    }
}