<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="common">
            <a href="#">Основное</a>
        </li>
        <li class="tab_link" data-tab_name="sent">
            <a href="#">Отправка</a>
        </li>
    </ul>
</div>