<td>{{id}}
    {{#if number_1c}}<br><small>{{number_1c}}</small>{{/if}}
</td>
<td>{{status_detail.name}}</td>
<td>{{amount_full}}</td>
<td>{{#if delivery_date }}{{delivery_date}}{{else}}-{{/if}}</td>
<td>{{ delivery_warehouse_to_detail.name }}</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
