<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="delivery_warehouse_to">На склад</label>
            <input type="text" class="form-control" name="delivery_warehouse_to" placeholder="Введите название склада">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>