{{#if show_alert}}
    <div class="alert alert-info tab_alert">
        <button type="button" class="close pull-right">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="m-l-20">
            <li>
                Страница коллекций модели. По умолчанию все коллекции находятся в свернутом режиме.
            </li>
            <li>
                Нажимайте на треугольнички, чтобы раскрывать дерево коллекций и на окошки справа, чтобы добавить товар в
                коллекцию.
            </li>
        </ul>
    </div>
{{/if}}

<div class="panel">
    <div class="panel-content">
        <div class="link_list">
            <a href="#" class="fold_all btn btn-link">Раскрыть все коллекции</a>
            <a href="#" class="unfold_all btn btn-link">Скрыть все коллекции</a>
        </div>
        <div class="region_collection_list"></div>
    </div>
</div>