<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="year">Год</label>
            <input type="number" class="form-control" name="year">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Сформировать</button>
        </div>
    </div>
  </div>
</div>