<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Партнер</th>
            </tr>
            {{#each report_data }}
              <tr>
                  <td>{{ date }}</td>
                  <td>{{#decimal_round_plus amount}}{{/decimal_round_plus}}</td>
                  <td>{{ invoice_detail.customer.name }}</td>
              </tr>
            {{/each}}
        </table>
    </div>
</div>