{{#each departments }}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header"><h3>Офис-план группы {{ name }}</h3></div>
            <div class="panel-content">
                <div style="overflow-y: auto;">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Год</th>
                            <th>На сегодня</th>
                            <th>01</th>
                            <th>02</th>
                            <th>03</th>
                            <th>04</th>
                            <th>05</th>
                            <th>06</th>
                            <th>07</th>
                            <th>08</th>
                            <th>09</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                        </tr>
                        <tr>
                            <th>План</th>
                            <td>{{#decimal_round_plus data.plan}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.today_plan}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_1}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_2}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_3}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_4}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_5}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_6}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_7}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_8}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_9}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_10}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_11}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_plan_12}}{{/decimal_round_plus}}</td>
                        </tr>
                        <tr>
                            <th>Факт</th>
                            <td>{{#decimal_round_plus data.fact}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.today_fact}}{{/decimal_round_plus}}</td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="1" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_1}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="2" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_2}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="3" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_3}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="4" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_4}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="5" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_5}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="6" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_6}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="7" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_7}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="8" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_8}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="9" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_9}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="10" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_10}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="11" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_11}}{{/decimal_round_plus}}</a></td>
                            <td><a href="#" class="paying_documents" data-year="{{ ../year }}" data-month="12" data-department="{{ id }}">{{#decimal_round_plus data.month_fact_12}}{{/decimal_round_plus}}</a></td>
                        </tr>
                        <tr>
                            <th>%</th>
                            <td>{{#decimal_round_plus data.percent}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.today_percent}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_1}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_2}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_3}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_4}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_5}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_6}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_7}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_8}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_9}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_10}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_11}}{{/decimal_round_plus}}</td>
                            <td>{{#decimal_round_plus data.month_percent_12}}{{/decimal_round_plus}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}