{{#if user.userCanStatusChange }}
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button class="btn btn-primary to_cancel_status  pull-right">Отклонить</button>
                        <button class="btn btn-primary to_approved_status  pull-right">Одобрить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}