.order_b2c_list,
.order_list {
  .nav-tabs {
    a {
      font-size: 12px;

      &::before {
        background: #667277;
        height: 2px;
        top: 37px;
      }
    }
    .open>a {
      background: none;
      &:hover {
        background: none;
      }
      &:focus {
        background: none;
      }
    }
    .dropdown-menu {
      margin-top: 2px;
      min-width: 110px;
      padding: 5px 8px;
    }
  }
  .nav.nav-tabs>li>a {
    background: inherit;
  }
  .nav.nav-tabs>li.active>a {
    background: inherit;
    background: inherit;
    color:#667277;
  }
  .nav.nav-tabs>li {
    &:hover>a {
      background: inherit;
    }
  }
}