<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="color">Цвет</label>
            <input type="text" class="form-control" name="color" placeholder="Введите артикул цвета">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="main_collection">Категория</label>
            <input type="text" class="form-control" name="main_collection" placeholder="Введите название категории">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="article">Артикул</label>
            <input type="text" class="form-control" name="article" placeholder="Введите артикул товара">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>