<div class="select2-product-result-item">
    <div class="product_image">
        {{#if image}}
          <img src="{{image.200x200}}" alt="" class="image-edit img-responsive">
        {{else}}
          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
        {{/if}}
    </div>
    <div class="product_data">
        <div class="main_collection">
            <small>{{ main_collection_detail.full_name }}</small>
        </div>
        <div class="product_name">
            №{{ id }}. {{ name }} / {{ color_detail.name }}
        </div>
        <div class="product_article">
            <small><b>{{ article }}</b></small>
        </div>
    </div>
</div>