<div class="panel">
    <div class="panel-header bg-primary">
      <h3><i class="fa fa-shopping-cart"></i> в заказ</h3>
    </div>
    <div class="panel-content">
      <div class="cart_region_list"></div>
    </div>
    <div class="panel-footer clearfix cart_link hidden">
      <div class="f-12" style="text-align: right; margin-bottom: 5px;">
          Количество: <span class="offer_request_quantity"></span><br>
          Сумма: <span class="offer_request_amount_full"></span>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success btn-go-to-cart ">К оформлению</button>
      </div>
    </div>
</div>