<div class="product_data">
    <div class="product_name c-gray f-12">Код: {{ offer_detail.aggreement_code}} ({{ color_detail.name}})<br>
        </div>
    <div class="product_article c-dark f-12 w-600">{{ offer_detail.business_name  }}</div>
    <div class="product_article c-gray f-12">Цена: {{ offer_detail.aggreement_price }}</div>
    <div class="product_article c-gray f-12">Сумма: {{ amount }}</div>
    <div class="buttons">
        <a class="cart-item-delete" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-times"></i></a>
    </div>
</div>

