<div class="region_search"></div>
<div class="container_spinner"></div>
<div class="row">
    <div class="col-md-9">
        <div class="region_list"></div>
    </div>
    <div class="col-md-3">
        <div class="region_sidebar " id="fixed_sidebar"></div>
    </div>
</div>
<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-9">
            <div class="region_paginator"></div>
        </div>
    </div>
  </div>
</div>