<div class="col-md-12 m-b-30 product_item">
  <div class="panel panel-default">
    <div class="panel-heading p-0">
      {{#if images.length}}
        <div class="row">
            {{#ifCond ../images.length '==' 1 }}
                <div class="col-xs-4"></div>
                {{#each images }}
                <div class="col-xs-4">
                    <img src="{{950x1200}}" class="img-responsive hover-img" alt="" width="950" height="1200">
                </div>
                {{/each  }}
                <div class="col-xs-4"></div>
            {{/ifCond}}
            {{#ifCond ../images.length '==' 2 }}
                <div class="col-xs-2"></div>
                {{#each images }}
                <div class="col-xs-4">
                    <img src="{{950x1200}}" class="img-responsive hover-img" alt="" width="950" height="1200">
                </div>
                {{/each  }}
                <div class="col-xs-2"></div>
            {{/ifCond}}
            {{#ifCond ../images.length '==' 3 }}
                {{#each images }}
                <div class="col-xs-4">
                    <img src="{{950x1200}}" class="img-responsive hover-img" alt="" width="950" height="1200">
                </div>
                {{/each  }}
            {{/ifCond}}
        </div>
      {{else}}
        <div class="col-xs-4"></div>
        {{#each images }}
        <img src="/static/img/no-image.jpg" class="" alt="" width="200" height="200">
        {{/each  }}
        <div class="col-xs-4"></div>
      {{/if}}
    </div>
    <div class="panel-body p-10">
      <div class="clearfix col-lg-12 col-md-12 col-sm-12">
        <h3 class="product_id c-dark w-600" style="text-align:center;">{{ business_name }}</h3>
        <p class="product_name c-gray f-16" style="text-align:center;">Код: {{ aggreement_code }}</p>
        {{# if aggreement_sizes_detail }}
            <p class="c-gray f-16" style="text-align:center;">
              Размеры:
              {{#each aggreement_sizes_detail }}{{#ifCond @index '!=' 0}}, {{/ifCond}}{{name}}{{/each}}
            </p>
        {{/if}}
        <p class="m-l-0 m-b-20 m-t-20" style="text-align:center;margin-bottom: 10px;">{{#if aggreement_price }}{{ aggreement_price }}{{ else }}-{{/if  }}руб.</p>
        <div class="color_buttons">
            {{#each aggreement_colors_detail }}
              <button type="button" class="btn btn-sm btn-primary m-r-0 m-b-0 product-to-cart" data-color_id="{{ id }}">{{ name }}</button>
            {{/each}}
            {{# if user.userCanEditOffer }}
              <button type="button" class="pull-right btn btn-sm btn-error m-r-0 m-b-0 edit-offer">Редактировать</button>
            {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>