<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="business_name">Коммерческое наименование</label>
            <input type="text" class="form-control" name="business_name">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="aggreement_code">Код</label>
            <input type="text" class="form-control" name="aggreement_code">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="aggreement_price">Цена</label>
            <input type="number" class="form-control" name="aggreement_price">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="aggreement_colors">Цвета</label>
            <input type="text" name="aggreement_colors" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="aggreement_sizes">Размеры</label>
            <input type="text" name="aggreement_sizes" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="checkbox" id="is_manufacturing_aggreement" name="is_manufacturing_aggreement" data-checkbox="icheckbox_square-blue">
            <label for="is_manufacturing_aggreement">В новых моделях до получения заказа с фабрики</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="business_name">Коммерческое описание</label>
            <textarea rows="5" class="form-control" name="catalog_description"></textarea>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success save" name="save">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>