<div class="image captioned">
    <img src="{{thumb}}" alt="" class="image-link">
    <div class="image-caption">
        <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
        <a class="image-delete" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-times"></i></a>
    </div>
</div>