<div class="panel">
    {{# ifCond button_position '==' 'top'}}
        <div class="panel-header panel-controls">
          <h3>Изображения</h3>
          <div class="control-btn">
              <label for="fileupload_offer_image" class="btn btn-primary pull-right label_fileupload">
                  Загрузить новое изображение
              </label>
              <input type="file" multiple class="fileupload hide" name="image" id="fileupload_offer_image">
          </div>

        </div>
    {{/ifCond}}
    <div class="panel-content">

        <div class="row region_image_list">

        </div>
    </div>

</div>
{{# ifCond button_position '==' 'bottom'}}
    <div>
        <div class="control-btn">
              <label for="fileupload_offer_image" class="btn btn-primary pull-right label_fileupload">
                  Загрузить новое изображение
              </label>
              <input type="file" multiple class="fileupload hide" name="image" id="fileupload_offer_image">
          </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></div>
{{/ifCond}}