<div class="row"><div class="col-md-12"><h2 class="w-500">{{{hello_text}}}</h2></div></div>
<div class="row">
    <div class="col-md-12">
        <div class="region_client_list m-t-20"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="region_client_dashboard"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-b-15">
        <div class="region_dashboart_products"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-b-15">
        <div class="region_dashboart_supply"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-b-15">
        <div class="region_dashboart_purchase"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-b-15">
        <div class="region_dashboart_orders"></div>
    </div>
</div>
<div class="region_currency"></div>
<div class="row">
    <div class="region_orders"></div>
    <div class="region_tasks"></div>
    <div class="region_comments"></div>
</div>
