<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header"  style="text-align: center;">
                <a href="#" style="float: left;" class="prev_report"><h3>&lt;</h3></a>
                <a href="#" style="float: right;" class="next_report"><h3>&gt;</h3></a>
                <h3>Отчет за сезон <strong>"{{season_name}} {{year}}"</strong> по магазину <strong>{{store_name}}</strong></h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-header">
                        <h3>Общая информация </h3>
                    </div>
                    <div class="panel-content">
                        <ul class="m-l-20">
                            <li>Торговая площадь: <strong>{{trade_area}}м</strong></li>
                            <li>Средний чек план: <strong>{{#decimal_round_plus plan_avg_cheque}}{{/decimal_round_plus}}</strong></li>
                            <li>Средний чек факт: <strong>{{#decimal_round_plus avg_cheque}}{{/decimal_round_plus}}</strong></li>
                            <li>Среднее количество в чеке: <strong>{{#decimal_round_plus avg_cheque_count}}{{/decimal_round_plus}}</strong>шт.</li>
                            <li>Конверсия план: <strong>{{#decimal_round_plus plan_conversion}}{{/decimal_round_plus}}</strong></li>
                            <li>Конверсия факт: <strong>{{#decimal_round_plus conversion}}{{/decimal_round_plus}}</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-header">
                        <h3><strong>Загрузка</strong> магазина</h3>
                    </div>
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10">План</3>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10">Факт</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10"><strong>{{plan_filling_items}}</strong> <small>шт</small></h3>
                            </div>
                            <div class="col-md-4">
                                <h3 class="m-b-10 m-t-10" style="text-align: center;"><strong>Кол-во</strong></h3>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10"><strong>{{filling_items}}</strong> <small>шт</small></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10"><strong>{{#decimal_round_plus plan_filling_amount}}{{/decimal_round_plus}}</strong> <small>руб</small></h3>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10"><strong>Сумма</strong></h3>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <h3 class="m-b-10 m-t-10"><strong>{{#decimal_round_plus filling_amount}}{{/decimal_round_plus}}</strong> <small>руб</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if product_collections }}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-header" style="height: 52px;">
                            <h3><i class="fa fa-archive"></i> <strong>Загрузка</strong> магазина <strong>детализация</strong></h3>
                        </div>
                        <div class="panel-content">
                            <table class="table">
                                <tr>
                                    <th>Коллекция</th>
                                    <th>Кол-во план</th>
                                    <th>Кол-во факт</th>
                                    <th>Сумма факт</th>
                                    <th>% план</th>
                                    <th>% факт</th>
                                </tr>
                                {{#each product_collections }}
                                <tr>
                                    <td>{{collection_name}}</td>
                                    <td>{{plan_remain}}</td>
                                    <td>{{remain}} / {{product_count}}</td>
                                    <td>{{#decimal_round_plus amount}}{{/decimal_round_plus}}</td>
                                    <td>{{plan_percentage}}</td>
                                    <td>{{fact_percentage}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-header" style="height: 52px;">
                        <h3 class="pull-left"><i class="fa fa-money"></i> <strong>Выручка</strong></h3><h3 class="pull-right"> <strong>Остаток к оплате</strong>: <strong>{{#decimal_round_plus remainder_payable}}{{/decimal_round_plus}}</strong></h3>
                    </div>
                    <div class="panel-content">
                        <table class="table">
                            <tr>
                                <th></th>
                                {{#each season_data }}
                                    <th>{{month_name}}</th>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Выручка план</td>
                                {{#each season_data }}
                                    <td>{{#decimal_round_plus sales_plan}}{{/decimal_round_plus}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Выручка факт</td>
                                {{#each season_data }}
                                    <td>{{#decimal_round_plus revenue}}{{/decimal_round_plus}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Платеж план</td>
                                {{#each season_data }}
                                    <td>{{#decimal_round_plus plan_paying}}{{/decimal_round_plus}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Платеж факт</td>
                                {{#each season_data }}
                                    <td>{{#decimal_round_plus paying}}{{/decimal_round_plus}}</td>
                                {{/each}}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><strong>Посещаемость</strong> магазина</h3>
                    </div>
                    <div class="panel-content">
                      <table class="table">
                        <tr>
                            <th></th>
                            {{#each season_data }}
                                <th>{{month_name}}</th>
                            {{/each}}
                        </tr>
                        <tr>
                            <td>План посещений</td>
                            {{#each season_data }}
                                <td>{{plan_visitors}}</td>
                            {{/each}}
                        </tr>
                        <tr>
                            <td>Факт посещений</td>
                            {{#each season_data }}
                                <td>{{visitors}}</td>
                            {{/each}}
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><strong>Маркетинговые</strong> платежи</h3>
                    </div>
                    <div class="panel-content">
                        <table class="table">
                            <tr>
                                <th>Месяц</th>
                                <th>Оплачено?</th>
                            </tr>
                            {{#each marketing_paying }}
                                <tr>
                                    <td>{{month_name}}</td>
                                    <td>
                                        {{#if is_payed}}
                                            <i class="fa fa-check-square-o c-primary"></i>
                                        {{else}}
                                            <i class="fa fa-minus-square-o c-red"></i>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel bg-dark">
                    <div class="panel-content p-b-20">
                        <image src="{{images.[0]}}" style="width: 100%;"></image>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel bg-dark">
                    <div class="panel-content p-b-20">
                        <image src="{{images.[1]}}" style="width: 100%;"></image>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel bg-dark">
                    <div class="panel-content p-b-20">
                        <image src="{{images.[2]}}" style="width: 100%;"></image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>