<div class="header">
  <h2>Закупка №<strong class="purchase-id"></strong> (<elem class="purchase-status">{{ status_detail.name }}</elem>)</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/purchase/" class="list_link">Закупки</a></li>
      <li class="active">Закупки #<b class="purchase-id"></b> </li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
