<div class="nav nav-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="product_search">
            <a href="#">Подбор товаров</a>
        </li>
        <li class="tab_link" data-tab_name="product_list">
            <a href="#">Состав</a>
        </li>
    </ul>
</div>