<div id="product_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12 product_data">
            <h3><strong>№:{{ id }}</strong> {{ name }}</h3>
                        <p><small><b>{{ article }}</b></small> ({{ color_detail.name }})</p>
          </div>
        </div>
        {{#each orders}}
        <hr/>
        <div class="row">
          <div class="col-xs-8 product_data">
            <div class="row">
                <div class="col-md-6">
                    <b>Заказ: </b> №{{ order_id }}
                </div>
                <div class="col-md-6">
                    <b>Цена: </b> {{ order_price }}р.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table style="border: 1px solid #eee;" class="m-t-5">
                    {{#each sizes_list}}
                      <tr>
                          <td style="border: 1px solid #eee;padding: 2px;width: 30px;text-align: center;">
                              {{code}}
                          </td>
                          <td style="border: 1px solid #eee;padding: 2px;width: 30px;text-align: center;">
                              {{count}}
                          </td>
                      </tr>
                    {{/each}}
                    </table>
                </div>
            </div>
          </div>
          <div class="col-xs-4 product_data">
            <div class="row">
              <div class="col-md-12">
                  <label for="">Размер</label>
                  <select class="form-control" name="size_code_{{ order_id }}">
                      {{#each sizes_list}}
                        <option value="{{code}}">{{code}}</option>
                      {{/each}}
                  </select>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success m-t-10 pull-right m-r-0 create_defect_item" data-order_id="{{ order_id }}"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <input type="hidden" value="{{order_id}}" name="order_id"/>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
</div>
<hr>