.client_statistic_list {
  .client_statistic_item {
    td {
      cursor: default;
    }
  }
}
.col_weekend {
  color: red;
  fill: red;
}
.report_table {
  td, th {
    border-right: 1px solid #ddd;
  }
}