<div id="product_item_{{ id }}" class="panel">
  <div class="panel-content">
      <div class="row">
          <div class="col-xs-2">
              №:{{id}}
          </div>
          <div class="col-xs-3">
              {{client_detail.name}}
          </div>
          <div class="col-xs-3">
              {{date}}
          </div>
          <div class="col-xs-2">
              {{amount_full}}<br>
              {{amount_full_rur}}р.
          </div>
      </div>
  </div>
</div>


