<div class="panel">
  <div class="panel-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>№</th>
          <th>Партнер</th>
          <th>Дата</th>
          <th>Сумма</th>
          <th>Сумма (руб)</th>
        </tr>
      </thead>
      <tbody class="region_table_items"></tbody>
    </table>
  </div>
</div>
