<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Статус' 4}}
                        <p class="form-control form-white">{{ status_detail.name }}</p>
                    {{/formControl}}
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control {{# ifCond status '!=' 1 }}form-white{{/ifCond }}" {{# ifCond status '!=' 1 }}disabled="disabled"{{/ifCond }}>
                    {{/formControl}}
                    {{#formControl 'Сообщение' 4}}
                        <textarea name="text" class="form-control {{# ifCond status '!=' 1 }}form-white{{/ifCond }}" {{# ifCond status '!=' 1 }}disabled="disabled"{{/ifCond }}></textarea>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Партнеры' 4}}
                        <input class="form-control {{# ifCond status '!=' 1 }}form-white{{/ifCond }}" type="text" name="clients" {{# ifCond status '!=' 1 }}disabled="disabled"{{/ifCond }}>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
   <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Покупатели' 4}}
                        <input class="form-control {{# ifCond status '!=' 1 }}form-white{{/ifCond }}" type="text" name="buyer_profiles" {{# ifCond status '!=' 1 }}disabled="disabled"{{/ifCond }}>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel {{# ifCond status '!=' 1 }}hidden{{/ifCond }}">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary save  pull-right">Сохранить</button>
            </div>
        </div>
    </div>
</div>

