<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Статус' 4}}
                        <select class="form-control" name="status">
                          <option value="1">Новая</option>
                          <option value="2">Выполнена</option>
                        </select>
                    {{/formControl}}
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control">
                    {{/formControl}}
                    <div class="{{#unless user.userCanViewTaskParnter }}hidden{{/unless}}">
                        {{#formControl 'Партнер' 4}}
                            <input type="text" name="client" class="form-control">
                        {{/formControl}}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Дата создания' 4}}
                        <p class="form-control form-white created m-b-0">{{datetime created 'DD.MM.YYYY HH:mm'}}</p>
                    {{/formControl}}
                    {{#formControl 'Дата план' 4}}
                        <input type="text" name="date_plan" class="form-control {{#unless user.userCanEditTaskDatePlan }}form-white{{/unless}}" {{#unless user.userCanEditTaskDatePlan }}disabled="disabled" readonly="readonly"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Дата факт' 4}}
                        <p class="form-control form-white created m-b-0">{{datetime date_fact 'DD.MM.YYYY'}}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row m-b-15">
                    <div class="col-md-12">
                        {{#formControl 'Описание' 4}}
                            <textarea name="description" class="form-control" rows="6"></textarea>
                        {{/formControl}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary save  pull-right">Сохранить</button>
            </div>
        </div>
    </div>
</div>

