<div class="form-group">
    <label for="provider">Поставщик</label>
    <input type="text" class="form-control" name="provider" placeholder="Выберите поставщика">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>