<div class="row">
<div class="form form-horizontall">
    <div class="{{#unless user.userCanExportOrderPdfWithSizeQuantity }}hidden{{/unless }}">
    {{#formControl 'Включая количество размеров' 6}}
        <input type="checkbox" class="form-control" name="with_size_quantity"></input>
    {{/formControl}}
    {{#formControl 'Включая номер бланк-заказа' 6}}
        <input type="checkbox" class="form-control" name="with_number"></input>
    {{/formControl}}
    {{#formControl 'Включая дату бланк-заказа' 6}}
        <input type="checkbox" class="form-control" name="with_date"></input>
    {{/formControl}}
    </div>
    {{#formControl 'Год поставки товара' 6}}
        <input name="delivery_year" class="form-control" type="number"></input>
    {{/formControl}}
</div>
</div>
    <button type="button" class="btn btn-success" name="export">Продолжить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
