<div class="panel">
    <div class="panel-content">
        <div class="row m-b-15">
            <div class="col-md-12">
                {{#formControl 'Комментарий' 4}}
                    <textarea name="comment" class="form-control" rows="8"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    {{#if canDelete }}
                        {{#ifCond status_detail.code '==' 'new' }}
                            <div class="f-left">
                                <button class="btn btn-danger delete_order">Удалить</button>
                            </div>
                        {{/ifCond}}
                    {{/if}}
                    <div class="f-left">
                        <button class="btn btn-primary create_invoice">Создать счет</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-primary print_order">Распечатать</button>
                    </div>
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary pdf_order">PDF</button>
                    </div>
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary exit_without_saving" data-status_code="{{ code }}">Выйти без смены статуса</button>
                    </div>
                    {{#each status_detail.next_statuses}}
                        {{#contains ../user.user_permissions (concat a="can_order_set_" b=code) }}
                        <div class="f-left m-l-10">
                            <button class="btn btn-success change_status" data-status_code="{{ code }}">{{ button_name }}</button>
                        </div>
                        {{/contains}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
