<div class="row">
    <table class="table">
        <tr>
            <th>Склад</th>
            <th>Модель</th>
            <th>Размер</th>
            <th>В заказе</th>
            <th>На остатках</th>
        </tr>
    {{#each errors_data}}
        <tr>
            <td>{{ warehouse.name }}</td>
            <td>№{{ product.id }} {{ product.article }} {{ product.name }}</td>
            <td>{{ size.name }}</td>
            <td>{{ reserve }}</td>
            <td>{{ remain }}</td>
        </tr>
    {{/each}}

    </table>
</div>
<button type="button" class="btn btn-success" name="re_reserve">Перерезервировать и изменить статус</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
