<div class="row">
    <div class="col-md-12">
        <input type="file" class="fileupload hide" name="file" id="fileupload_offer_image">
        <label for="fileupload_offer_image" class="add_file btn btn-primary m-r-0">
            <span id='music_add_btn' class="fa fa-plus-circle"></span>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-12 result">

    </div>
</div>