<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-header">
                <div class="region_product_navbar"></div>
            </div>
            <div class="panel-content">
                <div class="region_product_tab"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_invoice">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>