<div id="product_item_{{ id }}">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-9 product_data">
            <h3>{{ name }}</h3>
          </div>
          <div class="col-xs-3 product_data">
            <button class="btn btn-success m-t-10 pull-right m-r-0 create_price_set_item"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
</div>
<hr>