<div id="product_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12 product_data">
            <h3><strong>№:{{ id }}</strong> {{ name }}</h3>
                        <p><small><b>{{ article }}</b></small> ({{ color_detail.name }})</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success m-t-10 pull-right m-r-0 create_price_set_item"><i class="fa fa-plus"></i></button>
            </div>
        </div>
      </div>
    </div>
</div>
<hr>