<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Нормер' 4}}
                        <p class="form-control form-white">{{ id }}</p>
                    {{/formControl}}
                </div>
                {{#if order_detail.id }}
                <div class="form form-horizontal">
                    {{#formControl 'На основании заказа' 4}}
                        <p class="form-control form-white">{{ order_detail.id }}</p>
                    {{/formControl}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Партнер' 4}}
                        <p class="form-control form-white">{{ client_detail.name }}</p>
                    {{/formControl}}
                </div>
                <div class="form form-horizontal">
                    {{#formControl 'Создатель' 4}}
                        <p class="form-control form-white">{{ creator_detail.name }}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
{{# if can_edit }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form form-group">
                                <label for="price_set_kind">Тип установки цен</label>
                                <select class="form-control" name="price_set_kind">
                                    <option value="1">От стомости отгрузки партнеру</option>
                                    <option value="2">От текщей установленной цены</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form form-group">
                                <label for="markup_percentage">Процент наценки</label>
                                <input type="number" min="0" max="1000" class="form-control" name="markup_percentage">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {{# if can_edit }}
                        <div class="f-left">
                            <button class="btn btn-primary re_price_set" style="margin-right:25px;">Переоценить</button>
                        </div>
                    {{/if}}
                    <div class="f-left">
                        <button class="btn btn-success save_invoice">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
