<div class="panel">
    <div class="panel-content">

        <div class="form form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    {{#formControl 'Публичный' 2}}
                        <input type="checkbox" name="is_public">
                    {{/formControl}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{#formControl 'Коммерческое название' 2}}
                        <input type="text" name="business_name" class="form-control">
                    {{/formControl}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{#formControl 'Цена на сайте' 4}}
                        <input type="text" name="public_price" class="form-control">
                    {{/formControl}}
                </div>
                <div class="col-md-6">
                    {{#formControl 'Перечеркнутая цена на сайте' 4}}
                        <input type="text" name="public_old_price" class="form-control">
                    {{/formControl}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{#formControl 'Описание' 2}}
                        <textarea rows=20 name="description" class="form-control summernote bg-white"></textarea>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-header">
        <h3>Связанные товары</h3>
        <div class="control-btn">
          <button class="btn btn-primary set_related_products">Связать</button>
        </div>
    </div>
    <div class="panel-content region_related_products">
    </div>
</div>