<td>
    {{#if image}}
      <img src="{{image.200x200}}" alt="" class="img-responsive" style="max-height: 130px;">
    {{else}}
      <img src="/static/img/no-image.jpg" class="img-responsive" style="max-height: 130px;">
    {{/if}}
</td>
<td>
    {{id}}
</td>
<td>
    {{article}}
</td>
<td>
    {{color_detail.name}}
</td>
<td>
    {{name}}
</td>
<td>
    {{brand_detail.name}}
</td>