<table class="table table-hover">
  <thead>
    <tr>
        <th>
            Изображение
        </th>
        <th>
            id
        </th>
        <th>
            Артикул
        </th>
        <th>
            Цвет
        </th>
        <th>
            Название
        </th>
        <th>
            Бренд
        </th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>