<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="month">Месяц</label>
            <select class="form-control" name="month">
              <option value="1">Январь</option>
              <option value="2">Февраль</option>
              <option value="3">Март</option>
              <option value="4">Апрель</option>
              <option value="5">Май</option>
              <option value="6">Июнь</option>
              <option value="7">Июль</option>
              <option value="8">Август</option>
              <option value="9">Сентябрь</option>
              <option value="10">Октябрь</option>
              <option value="11">Ноябрь</option>
              <option value="12">Декабрь</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="year">Год</label>
            <input type="text" class="form-control" name="year" min="2000" max="3000">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="store">Магазин</label>
            <input type="text" class="form-control" name="store">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Сформировать</button>
        </div>
    </div>
  </div>
</div>