<div class="header">
  <h2>Отчет "Проект плана"</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Отчет "Проект плана"</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_chart"></div>