{{#if report_data.report_data}}
<div class="table-responsive">
    <table class="table table-striped report_table">
        <tr>
            <th>
                <div style="width:134px;white-space: normal;">Магазин</div>
            </th>
            <th style="border-right: 1px solid #bbb;">
                <div style="width: 80px;color: #f9f9f9;">-</div>
            </th>
            {{#each report_data.dates}}
                <th>
                    <div style="width:70px;" data-col_id="{{@index}}">{{ week }} неделя</div>
                </th>
                {{#each data}}
                    <th {{#if @last }} style="border-right: 1px solid #bbb;"{{/if}}>
                        <div style="width:70px;" data-col_id="{{@index}}">{{ date_str }}</div>
                    </th>
                {{/each}}
            {{/each}}
            <th>
                <div style="width:100px;" data-col_id="">Итого</div>
            </th>
        </tr>
        <tr>
            <th>
                <div style="width: 80px;color: #f9f9f9;"><small>-</small></div>
            </th>
            <th style="border-right: 1px solid #bbb;">
                <div style="width: 80px;color: #f9f9f9;"><small>-</small></div>
            </th>
            {{#each report_data.dates}}
                <th>
                    <div style="width:70px;" data-col_id="{{@index}}"></div>
                </th>
                {{#each data}}
                    <th {{#if @last }} style="border-right: 1px solid #bbb;"{{/if}}>
                        <div style="width:70px;" data-col_id="{{@index}}"><small>{{ date }}</small></div>
                    </th>
                {{/each}}
            {{/each}}
            <th>
                <div style="width:100px;color: #f9f9f9;" data-col_id=""><small>-</small></div>
            </th>
        </tr>
        {{#each report_data.report_data }}
            <tr>
                <td style="width:134px;white-space: normal;border-top: 1px solid #bbb;">
                    <div>
                        {{ store }}
                    </div>
                </td>
                <td style="border-top: 1px solid #bbb;border-right: 1px solid #bbb;">План</td>
                {{#each data }}
                    <td style="border-top: 1px solid #bbb;"><div class="datacol_{{@index}}">
                        {{#decimal_round sales_plan}}{{/decimal_round}}
                    </div></td>
                    {{#each week_data }}
                        <td style="border-top: 1px solid #bbb; {{#if @last }}border-right: 1px solid #bbb;{{/if}}"><div class="datacol_{{@index}}">
                            {{#decimal_round sales_plan}}{{/decimal_round}}
                        </div></td>
                    {{/each}}
                {{/each}}
                <td style="border-top: 1px solid #bbb;">
                    <div style="width:100px;" data-col_id="">{{#decimal_round sales_plan}}{{/decimal_round}}</div>
                </td>
            </tr>
            <tr>
                <td style="width:134px;white-space: normal;">
                    <div style="width: 80px;color: #f9f9f9;">-</div>
                </td>
                <td style="border-right: 1px solid #bbb;">Факт</td>
                {{#each data }}
                    <td><div class="datacol_{{@index}}">
                        {{#decimal_round amount_full}}{{/decimal_round}}
                    </div></td>
                    {{#each week_data }}
                        <td {{#if @last }} style="border-right: 1px solid #bbb;"{{/if}}><div class="datacol_{{@index}}">
                            {{#decimal_round amount_full}}{{/decimal_round}}
                        </div></td>
                    {{/each}}
                {{/each}}
                <td>
                    <div style="width:100px;" data-col_id="">{{#decimal_round amount_full}}{{/decimal_round}}</div>
                </td>
            </tr>
            <tr>
                <td style="width:134px;white-space: normal;">
                    <div style="width: 80px;color: #f9f9f9;">-</div>
                </td>
                <td style="border-right: 1px solid #bbb;">Выполнено на</td>
                {{#each data }}
                    <td><div class="datacol_{{@index}}">
                        {{#decimal_round execution_percentage}}{{/decimal_round}}
                    </div></td>
                    {{#each week_data }}
                        <td {{#if @last }} style="border-right: 1px solid #bbb;"{{/if}}><div class="datacol_{{@index}}">
                            {{#decimal_round execution_percentage}}{{/decimal_round}}
                        </div></td>
                    {{/each}}
                {{/each}}
                <td>
                    <div style="width:100px;" data-col_id="">{{#decimal_round execution_percentage}}{{/decimal_round}}</div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
{{/if}}