<td>{{id}}</td>
<td>{{status_detail.name}}</td>
<td>{{client_detail.name}}</td>
<td>{{creator_detail.name}}</td>
<td>{{source_detail.name }}</td>
<td>
    {{#if order_detail }}
        {{ order_detail.id }}
    {{ else }}
        -
    {{/if}}
</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
