<div class="form-group">
    <label for="client">Партнер</label>
    <input type="text" class="form-control" name="client" placeholder="Выберите партнера">
</div>
<div class="form form-group">
    <label for="price_set_kind">Тип установки цен</label>
    <select class="form-control" name="price_set_kind">
        <option value="1">От стомости отгрузки партнеру</option>
        <option value="2">От текщей установленной цены</option>
    </select>
</div>
<div class="form form-group">
    <label for="markup_percentage">Процент наценки</label>
    <input type="number" min="0" max="1000" class="form-control" name="markup_percentage">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>