<div class="header">
  <h2>Пополнение счетов</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="to_list">Счета</a></li>
      <li class="active">Пополнение счетов</li>
    </ol>
  </div>
</div>
<div class="payment_transfer_layout">
    <div class="row plans pricing-table plan-separated num-plan-3 m-b-80 ui-sortable">
      <div class="col-sm-12">
        <div class="plans clearfix">
          <div class="plan region_rur_usd"></div>
          <div class="plan region_rur_usd_cny"></div>
          <div class="plan region_rur_cny"></div>
        </div>
      </div>
    </div>
</div>


