<div class="plan-header bg-primary">
  <div class="price m-t-20">
      <span class="amount c-white">
          <i class="fa fa-rub"></i>
          <i class="fa fa-long-arrow-right"></i>
          <i class="fa fa-usd"></i>
      </span>
  </div>
</div>
<div class="description">
  <div class="p-item form-group m-b-0">
    <p class="plan-item p-t-10 p-b-10">
        <label for=""><b>Рубли: </b></label>
        <input type="text" class="form-control" name="rur"></input>
    </p>
  </div>
  <div class="p-item">
    <p class="plan-item p-t-10 p-b-10"><b><i class="fa fa-arrow-down"></i></b></p>
  </div>
  <div class="p-item form-group m-b-0">
    <p class="plan-item p-t-10 p-b-10">
        <label for=""><b>Доллары: <span class="rur_usd_rate"></span></b></label>
        <input type="text" class="form-control" name="usd"></input>
        <label for=""><b>На счет: </b></label>
        <input type="text" class="form-control" name="usd_payment_account"></input>
    </p>
  </div>
  <div class="p-item form-group">
    <p class="plan-item p-t-10 p-b-10">
        <label for=""><b>Доп. расходы: </b></label>
        <input type="text" class="form-control" name="additional_costs"></input>
        <label for=""><b>Комментарий: </label>
        <textarea class="form-control" name="comment"></textarea>
    </p>
  </div>
  <div class="text-center plan-bottom-btn p-b-10">
    <button class="btn btn-primary transfer">Перевести</button>
  </div>
</div>