<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-md-4">Клиент</label>
                        <div class="col-md-8">
                            <p class="form-control form-white">{{ client_detail.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-4">Статус</label>
                        <div class="col-md-8">
                            <p class="form-control form-white">{{ status_detail.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-4">Тип</label>
                        <div class="col-md-8">
                            <p class="form-control form-white">{{ kind_detail.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Дата создания' 4}}
                        <p class="form-control form-white created m-b-0">{{datetime created 'DD.MM.YYYY HH:mm'}}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
