<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        <input type="file" multiple class="fileupload hide" name="music_file" id="fileupload_offer_image">
        <label for="fileupload_offer_image" class="add btn btn-primary m-r-0">
            <span id='music_add_btn' class="fa fa-plus-circle"></span>
        </label>
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden"></div>
