{{# if userCanViewOffers }}
    {{#if show_header}}
    <h3 class="m-t-30 m-b-20"><i class="icon-puzzle"></i> Сводка по <strong> Предложениям</strong></h3>
    {{/if}}
    <div class="widget-infobox">
      <div class="region_draft infobox infobox-clickable hover-bg-orange">
        <div class="left">
            <i class="fa fa-inbox bg-orange"></i>
        </div>
        <div class="right">
            <div class="clearfix">
              <div>
                <span class="c-red pull-left draft_to_work" data-toggle="tooltip" data-placement="top" title="К работе">-</span>
                <span class="c-red pull-right draft_all" data-toggle="tooltip" data-placement="top" title="Всего">-</span>
              </div>
              <div class="txt">Новое</div>
            </div>
        </div>
      </div>
      <div class="region_approving infobox infobox-clickable hover-bg-blue">
        <div class="left">
            <i class="fa fa-gavel bg-blue"></i>
        </div>
        <div class="right">
            <div>
                <span class="c-primary pull-left approving_to_work" data-toggle="tooltip" data-placement="top" title="К работе">-</span>
                <span class="c-primary pull-right approving_all" data-toggle="tooltip" data-placement="top" title="Всего">-</span>
            </div>
            <div class="txt">Образец</div>
        </div>
      </div>
      <div class="region_approved infobox infobox-clickable hover-bg-green">
        <div class="left">
            <i class="fa fa-shopping-cart bg-green"></i>
        </div>
        <div class="right">
            <div class="clearfix">
              <div>
                <span class="c-green pull-left approved_to_work" data-toggle="tooltip" data-placement="top" title="К работе">-</span>
                <span class="c-green pull-right approved_all" data-toggle="tooltip" data-placement="top" title="Всего">-</span>

              </div>
              <div class="txt">В заказ</div>
            </div>
        </div>
      </div>
      <div class="region_unread_comments infobox infobox-clickable hover-bg-purple">
        <div class="left">
            <i class="fa fa-comments-o bg-purple"></i>
        </div>
        <div class="right">
            <div class="clearfix">
              <div>
                <span class="c-purple pull-left unread_comments_to_work" data-toggle="tooltip" data-placement="top" title="К работе">-</span>
                <span class="c-purple pull-right unread_comments" data-toggle="tooltip" data-placement="top" title="Всего">-</span>

              </div>
              <div class="txt">Не прочитанные сообщения</div>
            </div>
        </div>
      </div>
    </div>
{{/if}}