<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <div class="f-left">
                <button class="btn btn-success print">Распечатать</button>
            </div>
            <div class="f-left">
                <button class="btn btn-success pdf">PDF</button>
            </div>
        </div>
    </div>
</div>