<div class="row" id="order_item_{{ id }}">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                <div class="image">
                  {{#if product_detail.image}}
                      <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 product_data">
                        <h3>Код: <strong>{{ product_detail.article }}{{#if product_detail.color_detail.code }}/{{ product_detail.color_detail.code }}{{/if}}</strong></h3>
                        <h3>Состав: <strong>
                            {{#if product_detail.consistency_type1_detail.name }}{{ product_detail.consistency_value1 }}% {{ product_detail.consistency_type1_detail.name }}{{/if}}{{#if product_detail.consistency_type2_detail.name }}, {{ product_detail.consistency_value2 }}% {{ product_detail.consistency_type2_detail.name }}{{/if}}{{#if product_detail.consistency_type3_detail.name }}, {{ product_detail.consistency_value3 }}% {{ product_detail.consistency_type3_detail.name }}{{/if}}{{#if product_detail.consistency_type4_detail.name }}, {{ product_detail.consistency_value4 }}% {{ product_detail.consistency_type4_detail.name }}{{/if}}{{#if product_detail.consistency_type5_detail.name }}, {{ product_detail.consistency_value5 }}% {{ product_detail.consistency_type5_detail.name }}{{/if}}
                        </strong></h3>
                        <h3>Страна: <strong>{{#if product_detail.country_detail.name }}{{ product_detail.country_detail.name }}{{ else }}-{{/if}}</strong></h3>
                        <h3>Бренд: <strong>{{#if product_detail.brand_detail.name }}{{ product_detail.brand_detail.name }}{{ else }}-{{/if}}</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-horizontal">
                        {{#formControl 'Цена внутренних этикеток' 8}}
                            <input type="text" name="internal_label_price" class="form-control">
                        {{/formControl}}
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-success save p-l-10 p-r-10">
                            <div class="glyphicon glyphicon-ok"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {{#if product_detail.professional_care_detail }}
                  <div>
                    <img src="{{ product_detail.professional_care_detail.image1 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.professional_care_detail.image2 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.professional_care_detail.image3 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.professional_care_detail.image4 }}" class="m-r-5 m-b-5" width="30" height="30">
                  </div>
                {{/if}}
                {{#if product_detail.ironing_detail }}
                  <div>
                    <img src="{{ product_detail.ironing_detail.image1 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.ironing_detail.image2 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.ironing_detail.image3 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.ironing_detail.image4 }}" class="m-r-5 m-b-5" width="30" height="30">
                  </div>
                {{/if}}
                {{#if product_detail.drying_detail }}
                  <div>
                    <img src="{{ product_detail.drying_detail.image1 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.drying_detail.image2 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.drying_detail.image3 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.drying_detail.image4 }}" class="m-r-5 m-b-5" width="30" height="30">
                  </div>
                {{/if}}
                {{#if product_detail.bleach_detail }}
                  <div>
                    <img src="{{ product_detail.bleach_detail.image1 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.bleach_detail.image2 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.bleach_detail.image3 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.bleach_detail.image4 }}" class="m-r-5 m-b-5" width="30" height="30">
                  </div>
                {{/if}}
                {{#if product_detail.wash_detail }}
                  <div>
                    <img src="{{ product_detail.wash_detail.image1 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.wash_detail.image2 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.wash_detail.image3 }}" class="m-r-5 m-b-5" width="30" height="30">
                    <img src="{{ product_detail.wash_detail.image4 }}" class="m-r-5 m-b-5" width="30" height="30">
                  </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<hr>