<td class="defect_link">{{id}}</td>
<td class="defect_link">{{ status_detail.name }}</td>
<td class="defect_link">{{client_detail.name}}</td>
<td class="defect_link">{{amount_full}}</td>
<td class="defect_link"><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
<td>
    <small>
        {{#each order_returns }}
        <a href="/order_return/{{id}}/" class="order_return_link" data-order_return_id="{{id}}">
            {{number}} -
            {{#if has_category}}
                <i class="fa fa-check-square-o c-primary"></i>
            {{else}}
                <i class="fa fa-minus-square-o c-red"></i>
            {{/if}}
        </a>
        {{/each}}
    </small>
</td>
