<div class="form-group">
    <label for="client">Партнер</label>
    <input type="text" class="form-control" name="client" placeholder="Выберите партнера">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>