{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
    img {
      height: 200px;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 20px;font-weight: bold;">Предварительный заказ</div>
  <div style="text-align: left;margin: 40px 0 10px 0;">
      Бланк-заказ
      {% if document_number %}
          №{{ document_number }}
      {% endif %}
      {% if with_date %}
          от {{ order.created|date:"d.m.Y" }}
      {% endif %}
      {% if order.client %}
        к Договору купли-продажи товара №{{ order.client.contract_number }} от {{ order.client.contract_date|date:"d.m.Y" }}
      {% endif %}
  </div>
  <div style="text-align: left;margin: 10px 0;">Поставщик: ООО "БАСС-Инвест"</div>
  <div style="text-align: left;margin: 10px 0;">
      Покупатель:
      {% if order.client %}
        {{ order.client.name }}
      {% else %}
        ________________________________________________
      {% endif %}
  </div>
  <div style="text-align: left;margin: 10px 0;">
      Поставка товара выполняется
      {% if delivery_date %}
          {{ delivery_date }}.
      {% else %}
          не позднее
          {% if delivery_year %}
              {{ delivery_year }}
          {% else %}
              ________
          {% endif %}
          года.
      {% endif %}
      Предварительный заказ составлен для Сезонного отчетного периода{% if season_name %}, состоящего из сезона
        {{ season_name }}
      {% endif %}
      {% if season_year %}
        {{ season_year }}
        года
      {% endif %}
  </div>
  {% for items_part in items %}
    <table>
      <tr>
        <th><b>Модель</b></th>
        <th></th>
        <th>Цвет</th>
        <th>Артикул</th>
        <th>Цена</th>
        <th>Состав серии</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </tr>
      {% for item in items_part %}
        <tr>
          <td>
            {% if item.offer.main_im %}
              {% thumbnail item.offer.main_im "300x300" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}</td>
            {% else %}
              <img src="/static/img/no-image.jpg" class="">
            {% endif %}

          <th>{% if item.product.images.all.1 %}
            {% thumbnail item.offer.images.all.1.image "400x400" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          {% endif %}</th>
          <th>{{ item.color.name }}</th>
          <th>{{ item.offer.business_name }}<br>
            Код: {{ item.offer.aggreement_code }}
          </th>
          <th>{{ item.offer.aggreement_price }}</th>
          <th>{% for size_code, size_data in item.get_ordered_sizes_detail.items %}
            {{ size_code }}{% if with_size_quantity %} - {{ size_data.ordered }}{% endif %}<br>
          {% endfor %}
          </th>
          <th>{{ item.get_ordered }}</th>
          <th>{{ item.get_amount }}</th>
        </tr>
      {% endfor %}
      {% if forloop.last %}
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!--<th></th>-->
          <th></th>
          <th>{{ order.get_quantity }}</th>
          <th>{{ order.get_amount_full }}</th>
        </tr>
      {% endif %}
    </table>
  {% if forloop.last %}
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
    <div style="text-align: left;margin: 40px 0 10px 0;">
        Стороны допускают изменение Поставщиком согласованной с Покупателем стоимости Товара по соответствующему Заказу  в одностороннем порядке в пределах 10 % стоимости  всего Заказа по причинам, не зависящим от Поставщика, в том числе увеличение налоговых ставок, таможенных сборов, увеличение стоимости Товара со стороны производителей и пр. Такое изменение стоимости отражается Поставщиком в Товарной накладной при отгрузке и не требует подписания Сторонами изменений к Заказу.
        Кроме того, Стороны согласовали, что допускается изменение ассортимента Товаров, в том числе изменение характеристик определенного артикула: цвета, материала, фасона, артикула без изменения количества фактически поставленного товара,  по сравнению с ассортиментом и количеством Товара, согласованными в соответствующем Заказе, но не более, чем на 30%. Расчет размера % (процентов) при определении отклонения от согласованного ассортимента осуществляется исходя из количества артикулов в Заказе, при этом количество единиц Товара того или иного артикула для расчета не учитывается. Поставка Товара с учетом указанного в настоящем пункте отклонения считается надлежащей поставкой и должна быть принята Покупателем.
    </div>
    <div style="text-align: left;margin: 40px 0 10px 0;">Общая стоимость Товара, поставляемого по настоящему Бланку-заказу{% if document_number %} №{{ document_number }}{% endif %}{% if with_date %} от {{ order.created|date:"d.m.Y" }}{% endif %}, составляет {{ order.get_amount_full }} рублей.</div>
    <div style="text-align: center;margin: 20px 0 10px 0;">ПОДПИСИ СТОРОН:</div>
    <table style="border: 0px; margin: 10px 0;">
      <tr style="border: 0px;">
        <td style="border: 0px;">
          <b>
            {% if order.client.legal_form == 1 %}
              Индивидуальный предприниматель
            {% else %}
              Генеральный директор
            {% endif %}
          </b>
        </td>
        <td style="border: 0px;"><b>Генеральный директор</b></td>
      </tr>
      <tr style="border: 0px;">
        <td style="border: 0px;">
          ________________ /
          {% if order.client %}
              {{ order.client.get_person_name }}
          {% else %}
              ________________
          {% endif %} /
        </td>
        <td style="border: 0px;">
          ________________ / Палчевская Е.В. /
        </td>
      </tr>
    </table>
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ pages_count }} / {{ pages_count }}</div>
    {% else %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
  {% else %}
    <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
  {% endif %}

  {% endfor %}
{% endblock %}


