<div id="product_item_{{ id }}" class="panel list_item2">
  <div class="panel-content">
      <div class="row">
          <div class="col-xs-2">
              №:{{id}}
          </div>
          <div class="col-xs-3">
              {{status_detail.name}}
          </div>
          <div class="col-xs-3">
              {{amount_full}}р.
          </div>
          <div class="col-xs-2">
              {{#if delivery_date }}{{delivery_date}}{{else}}-{{/if}}
          </div>
          <div class="col-xs-2">
              <small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small>
          </div>
      </div>
      {{#if items}}
      <hr/>
      {{/if}}
      {{#each items}}
        <div class="row">
          <div class="col-xs-1">
              <div class="image">
                  {{#if product_detail.image}}
                      <img src="{{ product_detail.image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
              </div>
          </div>
          <div class="col-xs-3">
              <p class="product_data">
                  {{ product_detail.article }}
              </p>
          </div>
          <div class="col-xs-4">
              <p class="product_data">
                {{ product_detail.name }}
              </p>
          </div>
          <div class="col-xs-3">
              <p class="product_data">
                {{ quantity }}
              </p>
          </div>
        </div>
      {{/each}}
  </div>
</div>


