<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Дата' 4}}
                        <p class="form-control form-white">{{date}}</p>
                    {{/formControl}}
                    {{#formControl 'Партнер' 4}}
                        <p class="form-control form-white">{{client_detail.name}}</p>
                    {{/formControl}}
                    {{#formControl 'Продавец' 4}}
                        <p class="form-control form-white">{{seller}}</p>
                    {{/formControl}}
                    {{#formControl 'Стоимость' 4}}
                        <p class="form-control form-white">{{amount_full}}</p>
                    {{/formControl}}
                    <div class="form form-horizontal">
                        {{#formControl 'Категория' 4}}
                            <p class="form-control form-white">{{category_detail.name}}</p>
                        {{/formControl}}
                    </div>
                    {{#if defect_act_detail }}
                    <div class="form form-horizontal">
                        {{#formControl 'Акт на брак' 4}}
                            <p class="form-control form-white">{{defect_act_detail.id}}</p>
                        {{/formControl}}
                    </div>
                    {{/if}}
                    {{#if refund_act_detail }}
                    <div class="form form-horizontal">
                        {{#formControl 'Акт на возврат' 4}}
                            <p class="form-control form-white">{{refund_act_detail.id}}</p>
                        {{/formControl}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>