<div class="row">
    <div class="col-md-12 form-horizontal">
        <div class="panel">
          <div class="panel-content">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control">
                    {{/formControl}}
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary save  pull-right">Сохранить</button>
            </div>
        </div>
    </div>
</div>