<div class="panel">
    <div class="panel-header">
      <h3>Багажные места</h3>
    </div>
    <div class="panel-content">
        <div class="region_luggagespace_add"></div>
        <hr>
        <div class="region_luggagespace_list"></div>
    </div>
</div>