<div class="row">
    <div class="col-md-4">
        <div class="form-group form-horizontal">
            {{#formControl 'Количество' 4}}
                <input type="text" name="count" class="form-control">
            {{/formControl}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-horizontal">
            {{#formControl 'Вес (кг)' 4}}
                <input type="text" name="weight" class="form-control">
            {{/formControl}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn btn-link pull-right remove">
            <div class="glyphicon glyphicon-remove"></div>
        </div>
        <div class="btn btn-link pull-right save_item">
            <div class="glyphicon glyphicon-ok"></div>
        </div>
    </div>
</div>
