<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">Страна</label>
                            <input name="country" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="brand">Бренд</label>
                            <input name="brand" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tnved_code">ТНВЭД</label>
                            <input name="tnved_code" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3>Уход</h3>
            </div>
            <div class="panel-content">
                <div class="form-group care_select2_container">
                    <label for="wash">Стирка</label>
                    <input name="wash" class="form-control" type="text">
                </div>
                <div class="form-group care_select2_container">
                    <label for="bleach">Отбеливание</label>
                    <input name="bleach" class="form-control" type="text">
                </div>
                <div class="form-group care_select2_container">
                    <label for="drying">Сушка</label>
                    <input name="drying" class="form-control" type="text">
                </div>
                <div class="form-group care_select2_container">
                    <label for="ironing">Глажение</label>
                    <input name="ironing" class="form-control" type="text">
                </div>
                <div class="form-group care_select2_container">
                    <label for="professional_care">Профессиональный уход</label>
                    <input name="professional_care" class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3>Состав</h3>
            </div>
            <div class="panel-content">
                {{#if small_description }}
                <div class="form-group">
                    <label for="small_description">Старый состав</label>
                    <p class="">{{ small_description }}</p>
                </div>
                {{/if}}
                <div class="form-group">
                    <label for="name">Состав 1</label>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="consistency_type1" class="form-control" name="consistency_type1">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                              <input id="consistency_value1" name="consistency_value1" class="form-control" type="number" min="0" max="100">
                              <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Состав 2</label>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="consistency_type2" class="form-control" name="consistency_type2">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                              <input id="consistency_value2" name="consistency_value2" class="form-control" type="number" min="0" max="100">
                              <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Состав 3</label>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="consistency_type3" class="form-control" name="consistency_type3">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                              <input id="consistency_value3" name="consistency_value3" class="form-control" type="number" min="0" max="100">
                              <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Состав 4</label>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="consistency_type4" class="form-control" name="consistency_type4">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                              <input id="consistency_value4" name="consistency_value4" class="form-control" type="number" min="0" max="100">
                              <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
