<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="card">Карта постоянного клиента</label>
            <p class="form-control form-white">{{ card_detail.number }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="last_name">Фамилия</label>
            <p class="form-control form-white">{{ last_name }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="first_name">Имя</label>
            <p class="form-control form-white">{{ first_name }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="middle_name">Отчество</label>
            <p class="form-control form-white">{{ middle_name }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="birthday">Дата рождения</label>
            <p class="form-control form-white">{{ birthday }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="email">Email</label>
            <p class="form-control form-white">{{ email }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="phone">Телефон</label>
            <p class="form-control form-white">{{ phone }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="subscription_sms">Подписка на новости по смс</label><br/>
            <p class="form-control form-white">{{#if subscription_sms }}да{{ else }}нет{{/if}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="city">Город</label>
            <p class="form-control form-white">{{ city }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="profession">Род деятельности (профессия)</label>
            <p class="form-control form-white">{{ profession }}</p>
        </div>
    </div>
</div>

