<div class="row">
    <div class="col-xs-9">
        <div class="region_product_data"></div>
    </div>
    <div class="col-xs-3">
        <div id="fixed_sidebar">
            <div class="panel">
                <div class="panel-header">
                  <h3>Данные о продаже</h3>
                </div>
                <div class="panel-content">
                    <b>Сумма заказа:</b>
                    <span class="amount_full">{{#decimal_round amount_full}}{{/decimal_round}}</span>
                </div>
            </div>
        </div>
    </div>
</div>