<div class="panel">
    <div class="panel-header bg-gray-light">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-shopping-cart" data-toggle="tooltip" data-placement="top" title="Номер чека в 1с"></i>: <strong>{{#if number_1c}}{{ number_1c }}{{ else }}-{{/if}}</strong></h3>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-id-badge" data-toggle="tooltip" data-placement="top" title="Продавец"></i>: <strong>{{#if seller_detail}}{{ seller_detail.first_name }} {{ seller_detail.last_name }}{{ else }}-{{/if}}</strong></h3>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-id-card-o" data-toggle="tooltip" data-placement="top" title="Карта клиента"></i>: <strong>{{#if buyer_card_detail.buyer_profile_id }}<a href="#" class="buyer_profile_link" data-buyer_profile_id="{{ buyer_card_detail.buyer_profile_id }}">{{ buyer_card_detail.number }}</a>{{else}}{{#if buyer_card_detail.number }}{{ buyer_card_detail.number }}{{else}}-{{/if}}{{/if}}</strong></h3>
            </div>
        </div>

    </div>
    <div class="panel-content" style="border-bottom: 2px dashed #E9E9E9;">
        {{#each items}}
            <div class="row" id="order_item_{{ id }}">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="image">
                              {{#if product_detail.image}}
                                  <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                              {{else}}
                                  <img src="/static/img/no-image.jpg" class="img-responsive">
                              {{/if}}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12 product_data">
                                    <h3>№: {{ product_detail.id }} <strong>{{ product_detail.article }}</strong> {{ product_detail.name }} ({{ product_detail.color_detail.name }})</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    ЦЕНА (шт) <br/>
                                    <strong>{{#decimal_round price_before_discount}}{{/decimal_round}}</strong>
                                </div>
                                {{#if discount_percent }}
                                    <div class="col-md-3">
                                        ЦЕНА со скидкой (шт) <br/>
                                        <strong>{{#decimal_round price}}{{/decimal_round}}</strong>
                                    </div>

                                    <div class="col-md-3">
                                        <strong>{{#decimal_round discount_percent}}{{/decimal_round}}</strong>%
                                    </div>
                                {{else}}
                                    <div class="col-md-3"></div>

                                    <div class="col-md-3"></div>
                                {{/if}}
                                <div class="col-md-3">
                                    Размеры: <br/>
                                    {{#each sizes}}
                                        {{ name }}: <strong>{{ quantity }}</strong> <br/>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <hr/>
        {{/each}}
        <h3 style="text-align: right;">Итого: <strong>{{#decimal_round amount_full}}{{/decimal_round}}</strong></h3>
    </div>
</div>