<div class="panel">
    <div class="panel-header">
      <h3>Состав заказа</h3>
    </div>
    <div class="panel-content">
        <div class="region_item_add {{#unless canEditProducts }}hidden{{/unless}}"></div>
        <hr>
        <div class="region_item_list"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_order">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>