<div class="td_intag_name {{#if intag.is_required}}required{{/if}}">
    <label for="" class="control-label">{{intag.name}}</label>
    {{#if intag.functional_description}}
        ({{intag.functional_description}})
    {{/if}}
</div>
<div class="td_choices">
    <input type="hidden" name="choices" class="form-control">
</div>
<div class="td_unit">
    {{#if intag.unit}}
        <select name="unit" class="form-control">
            {{#each intag.unit}}
                <option value="{{id}}">{{unit_name}}</option>
            {{/each}}
        </select>
    {{/if}}
</div>
<div class="icon_list">
    <a href="#" class="glyphicon glyphicon-fire clear"></a>
    <a href="#" class="glyphicon glyphicon-remove remove"></a>
</div>