<div class="panel">
    <div class="panel-header">
      <h3>Список всех характеристик модели</h3>
    </div>
    <div class="panel-body">
        <form class="form search_form">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Поиск">

                <div class="input-group-btn">
                    <div class="clear_search btn btn-default m-r-0">
                        Сбросить
                    </div>
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>

        <div class="icon_list">
            <a href="#" data-placement="top" class="icon glyphicon glyphicon-fire clear_all_fields"
               data-original-title="Очистить все характеристики"></a>
            <a href="#" data-placement="top" class="icon glyphicon glyphicon-remove remove_all_fields"
               data-original-title="Удалить все характеристики"></a>
        </div>
        <div class="childViewContainer"></div>
    </div>
</div>