<div data-category_id="{{id}}" data-weight="{{weight}}" class="intag_category">
    <h3 class="w-500"><a href="#" class="toggle_intag_item_list">{{name}}</a></h3>

    <div class="intag_item_list"></div>
</div>