{{#if show_alert}}
    <div class="alert alert-info tab_alert">
        <button type="button" class="pull-right close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="m-l-20">
            <li>
                Сохранение данных на этой вкладке происходит автоматически, никаких кнопок нажимать не нужно.
            </li>
            <li>
                Для добавления характеристики, найдите ее в блоке справа и кликните по ней.
            </li>
            <li>
                Операции добавления шаблона и удаления всех характеристик требуют дополнительного подтверждения.
            </li>
        </ul>
    </div>
{{/if}}

<div class="row">
    <div class="col-md-8 p-r-0">
        <div class="region_productfield_list"></div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-header">
              <h3>Применить шаблон</h3>
            </div>
            <div class="panel-content">

                <div class="region_template_list"></div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
              <h3>Добавить характеристику</h3>
            </div>
            <div class="panel-content">
                <div class="region_intag_list"></div>
            </div>
        </div>
    </div>
</div>
