<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-primary print_invoice">Распечатать</button>
                    </div>
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary pdf_invoice">PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
