.supply_items_item {
  .product_data {
    h3 {
      margin-top: 0 !important;
      margin-bottom: 5px !important;
    }
  }
  .serie_type_has {

  }
  .serie_type_ordered_count {
    .c_data,
    .s_data {
      color: #fff !important;
    }
    .s_data.bg-aero,
    .c_data.bg-aero {
      color: #B9D5DB !important;
    }
  }
  .serie_type_ordered_count {
    .c_data.selected_series_type,
    .c_data.selected_series_type.bg-aero,
    .s_data.selected_series_type,
    .s_data.selected_series_type.bg-aero {
      color: black !important;
      font-weight: bold;
    }
  }
}