<div class="order_b2c_list">
    <div class="header">
      <h2>Продажи</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li class="active">Продажи</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="region_list_navbar"></div>
        <div class="region_tab_data"></div>
      </div>
    </div>
</div>