<ul class="nav nav-tabs m-b-20">
    <li class="tab_list_link" data-tab_name="order_b2c"><a href="#tab1_order_b2c">Продажи</a></li>
    <li class="tab_list_link" data-tab_name="cheque"><a href="#tab1_cheque">Чеки</a></li>
</ul>