<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="date_plan">Дата план</label>
            <input type="text" class="form-control" name="date_plan">
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="client">Партнер</label>
            <input type="text" class="form-control" name="client">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" name="description" rows="6"></textarea>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>