<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Услуга</th>
      <th>Название</th>
      <th>ИНН</th>
      <th>Контактное лицо</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>