<div class="row">
    <div class="col-md-10">
        <div class="form-group form-horizontal">
            {{#formControl 'Модель' 2}}
                <input type="text" name="product" class="form-control">
            {{/formControl}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="pull-right">
            <button type="button" class="btn btn-success" name="add">Добавить</button>
        </div>
    </div>
</div>
<div class="row {{#ifCond order_kind "!=" "f"}}hidden{{/ifCond}}">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-success" name="create_product">Создать модель</button>
        </div>
    </div>
</div>