<div class="row" id="order_item_{{ id }}">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                {{#if canEditProducts }}
                    <div class="image captioned">
                      {{#if product_detail.image}}
                          <img src="{{product_detail.image.200x200}}" alt="" class="image-edit img-responsive">
                      {{else}}
                          <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                      {{/if}}
                      <div class="image-caption">
                        {{#if product_detail.image}}
                            <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
                        {{/if}}
                        <a class="image-edit" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-pencil"></i></a>
                      </div>
                    </div>
                {{else}}
                    <div class="image">
                      {{#if product_detail.image}}
                          <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                      {{else}}
                          <img src="/static/img/no-image.jpg" class="img-responsive">
                      {{/if}}
                    </div>
                {{/if}}
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-9 product_data">
                        <h3><strong>№:{{ product_detail.id }}</strong> {{ product_detail.name }}</h3>
                        <p><small><b>{{ product_detail.article }}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ product_detail.brand_detail.image.200x200 }}" class="image-edit img-responsive pull-right" style="max-height: 34px;max-width: 50px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="main_collection">Тип серии</label>
                            <select class="form-control" name="series_type" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                                <option value="c">Одежда (XXS,XS...)</option>
                                <option value="s">Обувь (34,35...)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="quantity">Кол-во серий</label>
                            <input type="number" name="quantity" class="form-control" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-horizontal">
                            <label for="price">Цена (шт)</label>
                            <input type="text" name="price" class="form-control" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-12">
                <table class="table">
                    <tr class="serie_type_has">
                        <td>
                            Размер:
                        </td>
                        <td class="st_xxs c_data">
                            <input type="checkbox" name="has_xxs" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>XXS</span>
                        </td>
                        <td class="st_xs c_data">
                            <input type="checkbox" name="has_xs" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>XS</span>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <input type="checkbox" name="has_s" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>S</span>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <input type="checkbox" name="has_m" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>M</span>
                        </td>
                        <td class="st_l c_data">
                            <input type="checkbox" name="has_l" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>L</span>
                        </td>
                        <td class="st_xl c_data">
                            <input type="checkbox" name="has_xl" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>XL</span>
                        </td>
                        <td class="st_xxl c_data">
                            <input type="checkbox" name="has_xxl" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>XXL</span>
                        </td>
                        <td class="st_xxxl c_data">
                            <input type="checkbox" name="has_xxxl" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>XXXL</span>
                        </td>
                        <td class="st_34 s_data">
                            <input type="checkbox" name="has_34" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>34</span>
                        </td>
                        <td class="st_35 s_data">
                            <input type="checkbox" name="has_35" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>35</span>
                        </td>
                        <td class="st_36 s_data">
                            <input type="checkbox" name="has_36" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>36</span>
                        </td>
                        <td class="st_37 s_data bg-aero">
                            <input type="checkbox" name="has_37" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>37</span>
                        </td>
                        <td class="st_38 s_data bg-aero">
                            <input type="checkbox" name="has_38" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>38</span>
                        </td>
                        <td class="st_39 s_data">
                            <input type="checkbox" name="has_39" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>39</span>
                        </td>
                        <td class="st_40 s_data">
                            <input type="checkbox" name="has_40" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>40</span>
                        </td>
                        <td class="st_41 s_data">
                            <input type="checkbox" name="has_41" data-checkbox="icheckbox_square-blue" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}> <span>41</span>
                        </td>
                    </tr>
                    <tr class="serie_type_ordered_count">
                        <td>
                            Заказано:
                        </td>
                        <td class="st_xxs c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_xs c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_l c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_xl c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_xxl c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_xxxl c_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_34 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_35 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_36 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_37 s_data bg-aero">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_38 s_data bg-aero">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_39 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_40 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                        <td class="st_41 s_data">
                            <span class="ordered_st_count"></span>
                        </td>
                    </tr>
                    <tr class="serie_type_received_count ">
                        <td>
                            Получено:
                        </td>
                        <td class="st_xxs c_data">
                            <input type="number" name="received_xxs_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xs c_data">
                            <input type="number" name="received_xs_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <input type="number" name="received_s_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <input type="number" name="received_m_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_l c_data">
                            <input type="number" name="received_l_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xl c_data">
                            <input type="number" name="received_xl_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxl c_data">
                            <input type="number" name="received_xxl_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxxl c_data">
                            <input type="number" name="received_xxxl_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_34 s_data">
                            <input type="number" name="received_34_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_35 s_data">
                            <input type="number" name="received_35_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_36 s_data">
                            <input type="number" name="received_36_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_37 s_data bg-aero">
                            <input type="number" name="received_37_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_38 s_data bg-aero">
                            <input type="number" name="received_38_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_39 s_data">
                            <input type="number" name="received_39_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_40 s_data">
                            <input type="number" name="received_40_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_41 s_data">
                            <input type="number" name="received_41_count" class="form-control" {{#unless canEditReceived }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Заказано: <span class="ordered_st_sum"></span>шт.</b>
            </div>
            <div class="col-xs-12">
                <b>Получено: <span class="received_st_sum"></span>шт.</b>
            </div>
        </div>
        <div class="{{#unless is_sawing_labels}}hidden{{/unless}}">
            <div class="row m-t-10">
                <div class="col-md-4">
                    <div class="form-group form-horizontal">
                        <label for="label_main">Основная этикетка</label>
                        <div>
                            <input type="text" name="label_main" class="form-control" style="float: left;width: 60%;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table m-t-10">
                        <tr class="serie_type_has">
                            <td>
                                Размер:
                            </td>
                            <td class="st_xxs c_data">
                                <span>XXS</span>
                            </td>
                            <td class="st_xs c_data">
                                <span>XS</span>
                            </td>
                            <td class="st_s c_data bg-aero">
                                <span>S</span>
                            </td>
                            <td class="st_m c_data bg-aero">
                                <span>M</span>
                            </td>
                            <td class="st_l c_data">
                                <span>L</span>
                            </td>
                            <td class="st_xl c_data">
                                <span>XL</span>
                            </td>
                            <td class="st_xxl c_data">
                                <span>XXL</span>
                            </td>
                            <td class="st_xxxl c_data">
                                <span>XXXL</span>
                            </td>
                        </tr>
                        <tr class="serie_type_received_count ">
                            <td>
                                Получено:
                            </td>
                            <td class="st_xxs c_data">
                                <input type="number" name="label_main_xxs_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_xs c_data">
                                <input type="number" name="label_main_xs_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_s c_data bg-aero">
                                <input type="number" name="label_main_s_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_m c_data bg-aero">
                                <input type="number" name="label_main_m_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_l c_data">
                                <input type="number" name="label_main_l_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_xl c_data">
                                <input type="number" name="label_main_xl_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_xxl c_data">
                                <input type="number" name="label_main_xxl_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                            <td class="st_xxxl c_data">
                                <input type="number" name="label_main_xxxl_count" class="form-control" {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="label_internal">Внутренняя этикетка</label>
                        <div>
                            <input type="text" name="label_internal" class="form-control" style="float: left;width: 60%;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                            <input type="number" name="label_internal_count" class="form-control" style="width: 35%;float: right;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="label_internal2">Внутренняя этикетка 2</label>
                        <div>
                            <input type="text" name="label_internal2" class="form-control" style="float: left;width: 60%;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                            <input type="number" name="label_internal2_count" class="form-control" style="width: 35%;float: right;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="label_cardboard">Картонная этикетка</label>
                        <div>
                            <input type="text" name="label_cardboard" class="form-control" style="float: left;width: 60%;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                            <input type="number" name="label_cardboard_count" class="form-control" style="width: 35%;float: right;"  {{#unless canEditLabels }}disabled="disabled" readonly="readonly"{{/unless}}/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10 {{#unless product_detail.offer }}hidden{{/unless}}">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" name="has_offer">
                    <label>Добавить стоимость образца</label>
                </div>
            </div>
            <div class="col-md-12">
                <p>Образец <a class="offer_detail" href="javascript://">№{{ product_detail.offer_detail.id }}</a>. Стоимость руб: {{ product_detail.offer_detail.cost_rur }}, Стоимость юани: {{ product_detail.offer_detail.cost_chn }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="pull-right ">
            {{# ifCond canEditProducts "||" canEditReceived }}
                <div class="btn btn-success save p-l-10 p-r-10">
                    <div class="glyphicon glyphicon-ok"></div>
                </div>
            {{/ifCond}}
            {{#if canEditProducts }}
                <div class="btn btn-danger remove p-l-10 p-r-10">
                    <div class="glyphicon glyphicon-remove"></div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
<hr>