<div class="row">
    <div class="col-md-12 form-horizontal">
        {{#formControl 'Название' 4}}
            <input type="text" name="name" class="form-control">
        {{/formControl}}
        {{#formControl 'Номер телефона фабрики' 4}}
            <input type="text" name="phone" class="form-control">
        {{/formControl}}
        {{#formControl 'Адрес фабрики' 4}}
            <input type="text" name="address" class="form-control">
        {{/formControl}}
        {{#formControl 'Контактное лицо' 4}}
            <input type="text" name="contact_person" class="form-control">
        {{/formControl}}
        {{#formControl 'Email' 4}}
            <input type="text" name="contact_email" class="form-control">
        {{/formControl}}
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <button class="btn btn-primary save">Сохранить</button>
    </div>
</div>