<div class="header">
  <h2 class="breadcrumb_name"></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="breadcrumb_list">Фабрики</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-content">
        <div class="region_item"></div>
      </div>
    </div>
  </div>
</div>