<div class="header">
  <h2 class="breadcrumb_name"></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="list_link">Анкеты покупателей</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>