<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="common">
            <a href="#">Основное</a>
        </li>
        <li class="tab_link" data-tab_name="order_b2c">
            <a href="#">Покупки</a>
        </li>
        <li class="tab_link" data-tab_name="message_sms">
            <a href="#">SMS</a>
        </li>
    </ul>
</div>