<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="brand">Количество часов</label>
            <input type="number" class="form-control" name="day_hours" placeholder="Введите количество часов">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="save">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>