<div class="header">
  <h2 class="">График работы</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="list_link">Магазины</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_table"></div>