<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content month_data">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" class="employee_data">Сотрудник</th>
                            {{#each days}}<th class="{{#ifCond weekday '>=' 5}}holiday{{/ifCond}}">{{weekday_name}}</th>{{/each}}
                            <th rowspan="2"><small>Часы</small></th>
                            <th rowspan="2"><small>Дни</small></th>

                        </tr>
                        <tr>
                            {{#each days}}<th class="{{#ifCond weekday '>=' 5}}holiday{{/ifCond}}">{{num}}</th>{{/each}}
                        </tr>
                    </thead>
                    {{#each employees}}
                        <tr>
                            <td class="employee_data">{{name}}</td>
                            {{#each ../days}}
                                <td class="empl_{{../id}}_day_{{num}} empl_day_data {{#ifCond weekday '>=' 5}}holiday{{/ifCond}}" data-day="{{num}}" data-employee="{{../id}}"></td>
                            {{/each}}
                            <td class="total_{{id}}_hours_sum"></td>
                            <td class="total_{{id}}_days_count"></td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button class="btn btn-primary save_model pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>