<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Телефон</th>
      <th>Статус</th>
      <th>Покупатель</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>