<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button class="btn btn-primary send_newsletter  pull-right">Отправить</button>
        </div>
    </div>
  </div>
</div>
