<div class="header">
  <h2>Акт на возврат №<strong class="refund_act-id"></strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/refund/" class="list_link">Акты на возврат</a></li>
      <li class="active">Акт на возврат #<b class="refund_act-id"></b></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
