<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Нормер' 4}}
                        <p class="form-control form-white">{{number}}</p>
                    {{/formControl}}
                    {{#formControl 'Дата' 4}}
                        <p class="form-control form-white">{{date}}</p>
                    {{/formControl}}
                    {{#formControl 'Сумма' 4}}
                        <input name="amount" class="form-control {{#unless userCanEditAmount }}form-white{{/unless}}" {{#unless userCanEditAmount }}disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Департамент' 4}}
                        <p class="form-control form-white">{{department_detail.name}}</p>
                    {{/formControl}}
                    {{#formControl 'В план?' 4}}
                        {{#if include_to_office_plan}}
                            <i class="fa fa-check-square-o c-primary"></i>
                        {{else}}
                            <i class="fa fa-minus-square-o c-red"></i>
                        {{/if}}
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Счет' 4}}
                        <p class="form-control form-white">{{invoice_detail.number}}</p>
                    {{/formControl}}
                </div>
                <div class="form form-horizontal">
                    {{#formControl 'Категория' 4}}
                        <p class="form-control form-white">{{invoice_detail.category_detail.name}}</p>
                    {{/formControl}}
                </div>
                <div class="form form-horizontal">
                    {{#formControl 'Тип' 4}}
                        <p class="form-control form-white">{{invoice_detail.kind_detail.name}}</p>
                    {{/formControl}}
                </div>
                <div class="form form-horizontal">
                    {{#formControl 'Плательщик' 4}}
                        <p class="form-control form-white">{{invoice_detail.customer.name}}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Комментарий' 2}}
                        <textarea name="comment" class="form-control"></textarea>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
