<td>{{id}}</td>
<td>{{name}}</td>
<td>
    {{#if is_active}}
        <i class="fa fa-check-square-o c-primary"></i>
    {{else}}
        <i class="fa fa-minus-square-o c-red"></i>
    {{/if}}
</td>
<td>{{inn}}</td>
<td>{{contact_person}}</td>
<td>{{phone}}</td>
<td>{{contact_email}}</td>
<td>{{manager}}</td>
