<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название партнера">
        </div>
        <div class="form-group">
            <label for="inn">ИНН</label>
            <input class="form-control" type="text" name="inn" id="id_inn"
                               placeholder="10 или 12 цифр" maxlength="12" tabindex="1">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>