<div class="header">
  <h2>Продажа №<strong class="order-id"></strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/order_b2c/" class="list_link">Продажи</a></li>
      <li class="active">Продажа #<b class="order-id"></b></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="region_common"></div>

        <div class="region_products"></div>
    </div>
</div>
