<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Активен' 4}}
                        <input type="checkbox" name="is_active" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Партнер' 4}}
                        <p class="form-control form-white">{{ client_detail.name }}</p>
                    {{/formControl}}
                    {{#formControl 'Номер телефона' 4}}
                        <input type="text" name="phone" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Адрес' 4}}
                        <textarea name="address" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Расположение' 4}}
                        <textarea name="address_description" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Режим работы' 4}}
                        <textarea name="opening" class="form-control"></textarea>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Общая площадь' 4}}
                        <input type="number" name="total_area" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Площадь торгового зала' 4}}
                        <input type="number" name="trade_area" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Количество сотрудников' 4}}
                        <input type="number" name="employees_num" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Плановый средний чек' 4}}
                        <input type="number" name="plan_avg_cheque" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Плановая конверсия покупок' 4}}
                        <input type="number" name="plan_conversion" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Информация для установки и подключения IT оборудования' 4}}
                        <textarea name="it_info" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Конкуренты' 4}}
                        <textarea name="competitors" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Товар' 4}}
                        <textarea name="products" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Целевая аудитория' 4}}
                        <textarea name="target_audience" class="form-control"></textarea>
                    {{/formControl}}
                    {{#formControl 'Cайт ТЦ' 4}}
                        <input type="text" name="emporium_url" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Контакты ТЦ' 4}}
                        <textarea name="emporium_contacts" class="form-control"></textarea>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

