<div class="header">
  <h2 class="breadcrumb_name"></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="breadcrumb_list">Магазины</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="region_item"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="region_employees"></div>
        </div>
        <div class="col-md-6">
            <div class="region_file"></div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-content">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <button class="btn btn-primary save  pull-right">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>