<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="card">Карта постоянного клиента</label>
                    <input type="text" class="form-control" name="card">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="middle_name">Отчество</label>
                    <input type="text" class="form-control" name="middle_name">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="birthday">Дата рождения</label>
                    <input type="text" class="form-control" name="birthday">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="gender">Пол</label>
                    <select class="form-control" name="gender">
                      <option value="f">Ж</option>
                      <option value="m">М</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" class="form-control" name="phone">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="subscription_sms">Подписка на новости по смс</label><br/>
                    <input type="checkbox" name="subscription_sms" data-checkbox="icheckbox_square-blue">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city">Город</label>
                    <input type="text" class="form-control" name="city">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="profession">Род деятельности (профессия)</label>
                    <input type="text" class="form-control" name="profession">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary save  pull-right">Сохранить</button>
            </div>
        </div>
    </div>
</div>

