<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Имя' 4}}
                        <input type="text" name="first_name" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Отчество' 4}}
                        <input type="text" name="middle_name" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Фамилия' 4}}
                        <input type="text" name="last_name" class="form-control">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Email' 4}}
                        <input type="text" name="email" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Телефон' 4}}
                        <input type="text" name="phone" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Дата рождения' 4}}
                        <input type="text" name="date_birthday" class="form-control">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Работает' 4}}
                        <input type="checkbox" name="is_working" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Магазин' 4}}
                        <input type="text" name="store" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Должность' 4}}
                        <input type="text" name="position" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Дата приема на работу' 4}}
                        <input type="text" name="date_employment" class="form-control">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    {{#if can_employees_description_view}}
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Комментарий' 4}}
                        <textarea name="description" class="form-control" rows="10">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    {{/if}}
</div>

