<div class="row">
    <div class="col-md-8"><small><a href="#" class="free_dr_detail" data-client_id="{{client.id}}">{{client.name}}</a></small></div>
    <div class="col-md-4"><small><b><a href="#" class="free_dr_detail" data-client_id="{{client.id}}">{{free_summ}}</a></b></small></div>
</div>
<hr>