<div class="row">
    <div class="col-md-6">
        <h3>Бланк-заказы</h3>
        <table class="table">
            <tr>
                <th><small>id</small></th>
                <th><small>Дата отправки / получения</small></th>
                <th><small>Сумма</small></th>
            </tr>
            {{#each data.orders }}
                <tr>
                    <td>
                        <small>{{id}}</small>
                    </td>
                    <td>
                        <small>{{#if date_shipped }}{{datetime date_shipped 'DD.MM.YYYY HH:mm'}}{{else}}-{{/if}}</small> / <small>{{#if date_recived }}{{datetime date_recived 'DD.MM.YYYY HH:mm'}}{{else}}-{{/if}}</small>
                    </td>
                    <td>
                        <small>{{#decimal_round amount_full}}{{/decimal_round}}</small>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <th><small></small></th>
                <th><small>Итого</small></th>
                <th><small>{{#decimal_round data.orders_sum}}{{/decimal_round}}</small></th>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Возвраты</h3>
        <table class="table">
            <tr>
                <th><small>id</small></th>
                <th><small>Дата</small></th>
                <th><small>Сумма</small></th>
            </tr>
            {{#each data.order_returns }}
                <tr>
                    <td>
                        <small>{{id}}</small>
                    </td>
                    <td>
                        <small>{{date}}</small>
                    </td>
                    <td>
                        <small>{{#decimal_round amount_full}}{{/decimal_round}}</small>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <th><small></small></th>
                <th><small>Итого</small></th>
                <th><small>{{#decimal_round data.order_returns_sum}}{{/decimal_round}}</small></th>
            </tr>
        </table>
    </div>
</div>