<div class="panel">
  <div class="panel-header bg-aero">
      Свободный остаток по актам на
      {{#ifCond order_kind '==' 2 }}брак{{/ifCond}}
      {{#ifCond order_kind '==' 3 }}возврат{{/ifCond}}
  </div>
  <div class="panel-content">
      <div id="list-d"></div>
  </div>
</div>