<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (Id/название/id модели/артикул модели)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
            {{#if show_add_btn }}
            <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
            {{/if}}
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Статус</label>
                <input type="text" class="form-control" name="status">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Пользователь</label>
                <input type="text" class="form-control" name="user">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="to_aggreement">Новые модели</label>
                <select class="form-control" name="to_aggreement">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="has_main_collection">Категория заполнена</label>
                <select class="form-control" name="has_main_collection">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Категория</label>
                <input type="text" class="form-control" name="main_collection">
              </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-4">
              <div class="form-group">
                <label>К обработке</label>
                <select class="form-control" name="to_work">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                </select>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
    </div>
</div>
