<div id="offer_item_{{ id }}" class="panel {{#if status_detail.to_edit_offer_data}}with_series{{/if}}">
  <div class="panel-content">
      <div class="row">
          <div class="col-xs-3 header">
            <span class="current-status pull-left bd-full bg-{{ status_detail.color }} btn-square" data-toggle="tooltip" data-placement="top" data-statuscode="{{ status_detail.code }}" title="{{ status_detail.name }}"><i class="fa {{ status_detail.icon }}"></i></span>
            <h3><strong>№:{{ id }}</strong> <a href="#" class="payment-information" data-toggle="tooltip" data-placement="top" title="Информация об оплате"><i class="fa fa-money"></i></a> <a href="#" class="update_from_zara" data-toggle="tooltip" data-placement="top" title="Загрузка данных с zara"><i class="fa fa-cloud-download"></i></a>
                <a href="#" class="sample-information" data-toggle="tooltip" data-placement="top" title="Данные об образце">👚</a></h3>
          </div>
          <div class="col-xs-5">
            <input class="form-control" name="name" type="text" placeholder="Введите название">
          </div>
          <div class="col-xs-4">
              <input class="form-control" name="main_collection" type="text" placeholder="Выберите главную коллекцию">
          </div>
      </div>

      <div class="row">
          <div class="col-md-3">
              <div class="image captioned">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
                  <div class="image-caption">
                    {{#if image}}
                        <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
                    {{/if}}
                    <a class="image-edit" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-pencil"></i></a>
                  </div>
              </div>
              <div class="form-group">
                <label for="price">Цена</label>
                <div class="input-group price">
                    {{#if can_edit_price }}
                        <input class="form-control" name="price" type="number">
                    {{else}}
                      <p class="form-control form-white">{{ price }}</p>
                    {{/if}}
                    <div class="input-group-btn" style="width:auto;">
                        <p class="form-control form-white" style="width:40px;">Ю</p>
                    </div>
                </div>
                {{#if prepayment_cost }}
                  <p class="cost_data"><small>Заказ образца: <b>{{ prepayment_cost }}</b></small></p>
                {{/if}}
                {{#if prepayment_delivery_cost }}
                  <p class="delivery_cost_data"><small>Доставка образца с суммами: <b>{{ prepayment_delivery_cost }}</b></small></p>
                {{/if}}
                {{#if cost }}
                  <p class="cost_data"><small>Остаток стоимости: <b>{{ cost }}</b></small></p>
                {{/if}}
                {{#if delivery_cost }}
                  <p class="delivery_cost_data"><small>Доп транспортные расходы: <b>{{ delivery_cost }}</b></small></p>
                {{/if}}
            </div>
            <div class="{{#unless can_edit_to_aggreement }}hidden{{/unless}}">
                <input type="checkbox" name="to_aggreement" data-checkbox="icheckbox_square-blue">
                <button class="btn btn-success btn-sm aggreement_edit">Новые модели</button>
            </div>
          </div>
          <div class="col-md-6">
              <div class="comments">
                <div class="comment_form">
                    <div class="input-group">
                      <input type="text" class="form-control form-white new_comment_body_{{ id }}" placeholder="Текст комментария" name="body">
                      <div class="input-group-btn">
                        <button class="comment_create_btn btn btn-square btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
                      </div>
                    </div>
                </div>
                <div class="comments-list">
                    {{#each comments}}
                        <div id="comment_item_{{ id }}" class="comment_item {{#if is_new }}comment_new{{/if}}" data-comment_id="{{ id }}">
                            <div class="comment_read_button">
                                {{# if can_change_is_new}}
                                    <i class="fa fa-circle-o" data-action="read"></i>
                                    <i class="fa fa-dot-circle-o" data-action="unread"></i>
                                {{/if }}
                            </div>
                            <div class="comment_data">
                                <div class="m-b-0">
                                    <strong>{{user_detail.name}}</strong>
                                    <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time p-r-5"></span>{{datetime created 'DD.MM.YYYY HH:mm'}}
                                    </small>
                                </div>
                                <p class="m-b-0">{{{body}}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                <label for="aggreement_code">Артикул</label>
                <input type="text" name="aggreement_code" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="worker">Ответственный</label>
                <p class="form-control form-white">{{ worker_detail.name }}</p>
            </div>
            <div class="form-group select2-tag-linked links-form-group {{#unless userCanLinksView }}hidden{{/unless}}">
                <label for="currency">Ссылки</label>
                <textarea rows=3 name="links" class="form-control"></textarea>
            </div>
          </div>
      </div>
      {{#if products }}
      <div class="row">
          <div class="col-md-12"><strong>Модели:</strong></div>
          <div class="col-md-12">
              <ul class="fa-ul">
              {{#each products}}
                <li><i class="fa-li fa fa-check"></i> №:<b>{{ id }}</b>. <b>{{ article }}</b> {{ name }} ({{ color }})
                </li>
              {{/each}}
              </ul>
          </div>
      </div>
      {{/if}}
  </div>
  <div class="panel-footer clearfix">
    <div class="row">
        <div class="col-xs-5 button-status-list">
            {{#if can_save}}
                <div class="btn-group button-status-list">
                    {{#if is_deleted}}
                        <button type="button" class="btn btn-success active offer-restore" data-toggle="tooltip" data-placement="top" title="Восстановить"><i class="fa fa-reply"></i></button>
                    {{else}}
                        {{#each status_detail.next_statuses}}
                            {{#contains ../user.user_permissions (concat a="can_offers_set_" b=code) }}
                                <button type="button" class="btn bg-{{ color }} offer-changestatus" data-toggle="tooltip" data-placement="top" data-statuscode="{{ code }}" title="{{ name }}"><i class="fa {{ icon }}"></i></button>
                            {{/contains}}
                        {{/each}}
                    {{/if}}
                </div>
                {{#if is_deleted}}
                {{else}}
                    <button type="button" class="btn btn-danger active offer-delete" data-toggle="tooltip" data-placement="top" title="Удалить"><i class="fa fa-trash-o"></i></button>
                {{/if}}
            {{/if}}
        </div>
        <div class="col-xs-7">
            <div class="pull-right">
                <div class="btn btn-info care_consistency">Состав/Уход</div>
                {{#if can_create_model}}
                    <div class="btn btn-primary create-product-btn">Создать модель</div>
                {{/if}}
                {{#if can_get_blank_offer}}
                    <div class="btn btn-success get_offer">Исполнить</div>
                {{/if}}
                {{#if can_save}}
                    <div class="btn btn-success save">Сохранить</div>
                {{/if}}
            </div>
        </div>
    </div>
  </div>
</div>