<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="brand">Бренд</label>
            <input type="text" class="form-control" name="brand" placeholder="Введите название бренда">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="seasonality">Сезонность</label>
            <select class="form-control" name="seasonality">
              <option value="" active></option>
              <option value="1">Весна/Лето</option>
              <option value="2">Осень/Зима</option>
              <option value="3">Basic</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название модели">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="color">Цвет</label>
            <input type="text" class="form-control" name="color" placeholder="Введите артикул цвета">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="main_collection">Категория</label>
            <input type="text" class="form-control" name="main_collection" placeholder="Введите название категории">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="article">Артикул</label>
            <input type="text" class="form-control" name="article" placeholder="Введите артикул модели">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 {{#unless user.userCanSetPrice }}hidden{{/unless}}">
        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" class="form-control" name="price" placeholder="Введите цену">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="copy_images">Копировать изображения</label>
            <input type="checkbox" class="form-control" name="copy_images">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="business_name">Коммерческое название</label>
            <input type="text" class="form-control" name="business_name" placeholder="Введите коммерческое название модели">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>