<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="payment_account">Счет списания</label>
            <input type="number" class="form-control" name="payment_account">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="prepayment_cost">Заказ образца</label>
            <input type="number" class="form-control" name="prepayment_cost">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="prepayment_delivery_cost">Доставка образца с суммами</label>
            <input type="number" class="form-control" name="prepayment_delivery_cost">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="save">Изменить статус на "{{ new_status_name }}"</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>