<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="payment_account">Счет списания</label>
            <input type="number" class="form-control" name="payment_account">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="prepayment_cost">Заказ образца</label>
            <p class="form-control form-white">{{ prepayment_cost }}</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="cost">Остаток стоимости</label>
            <input type="number" class="form-control" name="cost">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="prepayment_delivery_cost">Доставка образца с суммами</label>
            <p class="form-control form-white">{{ prepayment_delivery_cost }}</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="delivery_cost">Доп транспортные расходы</label>
            <input type="number" class="form-control" name="delivery_cost">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="save">Изменить статус на "{{ new_status_name }}"</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>