<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="url">Ссылка на страницу zara</label>
            <input type="text" class="form-control" name="url">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="update">Обновить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>