<div class="row">
    <div class="col-md-12">
        {{#if has_cost }}
            <p>При получении были расходы на покупку образца</p>
        {{/if}}
        {{#if has_delivery_cost }}
            <p>При получении были транспортные расходы</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="payment_account">Счет списания</label>
            <input type="number" class="form-control" name="payment_account">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="save">Изменить статус на "{{ new_status_name }}"</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>