<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="">Дата создания предложения</label>
            <p class="form-control form-white">{{datetime created 'DD.MM.YYYY HH:mm'}}</p>
        </div>
        <div class="form-group">
            <label for="sample_date_order">Дата заказа образца по предложению</label>
            <input type="text" class="form-control" name="sample_date_order">
        </div>
        <div class="form-group">
            <label for="sample_order_number">Идентификатор заказа в тао-бао</label>
            <input type="text" class="form-control" name="sample_order_number">
        </div>
        <div class="form-group">
            <label for="sample_payment_method">Способ оплаты</label>
            <select class="form-control" name="sample_payment_method">
              <option value="" active>-</option>
              <option value="1">Картой</option>
              <option value="2">WeChat</option>
            </select>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="save">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>