<div class="form-group">
    <label for="" class="control-label col-md-{{leftColumn}}">{{name}}</label>

    <div class="col-md-{{rightColumn}}">
        <div class="form-control-static">
            {{{value}}}
        </div>
    </div>
</div>