<div class="form-group">
    <div class="col-md-{{leftColumn}}"></div>
    <div class="col-md-{{rightColumn}}">
        <div class="checkbox">
            <label>
                {{{value}}}
            </label>
        </div>
    </div>
</div>