<li class="nav">
    <a href="{% url "core:home" %}"><i class="icon-home"></i><span>Главная</span></a></li>
<li class="nav-parent active">
  <a href=""><i class="icon-users"></i><span>Пользователи и группы </span><span class="fa arrow"></span></a>
  <ul class="children">
    <li><a href="/group/"> Группы</a></li>
    <li><a href="/user/"> Пользователи</a></li>
  </ul>
</li>