<div class="clearfix">
    {{#if has_prev}}
        <div class="page_prev pull-left btn btn-default">
            &laquo; Назад
        </div>
    {{/if}}
    {{#if has_pages}}
        <div class="btn btn-link">
            стр. {{page}}
        </div>
    {{/if}}
    {{#if has_next}}
        <div class="page_next pull-right btn btn-default">
            Вперед &raquo;
        </div>
    {{/if}}
</div>