<nav>
    <ul class="pagination m-0">
        <li class="page_prev {{#if has_prev}}{{else}}disabled{{/if}}">
            <a href="#">
                <span>&laquo;</span>
            </a>
        </li>
        {{#if show_first_page}}
            <li class="{{#ifCond 1 '==' page}}active{{/ifCond}}"><a href="#" data-page="1" class="page">1</a></li>
        {{/if}}

        {{#if first_page_space}}
            <li class="disabled"><a>&#133;</a></li>
        {{/if}}

        {{#each page_list}}
            <li class="{{#ifCond . '==' ../page}}active{{/ifCond}}">
                <a href="#" class="page" data-page="{{.}}">{{.}}</a>
            </li>
        {{/each}}

        {{#if last_page_space}}
            <li class="disabled"><a>&#133;</a></li>
        {{/if}}

        {{#if show_first_page}}
            <li class="{{#ifCond page_count '==' page}}active{{/ifCond}}">
                <a href="#" class="page" data-page="{{page_count}}">{{page_count}}</a>
            </li>
        {{/if}}

        <li class="page_next {{#if has_next}}{{else}}disabled{{/if}}">
            <a href="#">
                <span>&raquo;</span>
            </a>
        </li>
        <li>
            {{#if page_size_list}}
                <select class="page_size form-control">
                    {{#each page_size_list}}
                        <option value="{{.}}" {{#ifCond . '==' ../page_size}}selected{{/ifCond}}>{{.}}</option>
                    {{/each}}
                </select>
            {{/if}}
        </li>
    </ul>
</nav>