<div class="bootstrap-modal-cropper" style="width: 500px;height: 500px;"><img src="{{ image }}" class="image_data" alt="Picture 2" style="width: 500px;"></div>
<button type="button" class="btn btn-success m-t-10" name="create">Создать</button>
<button type="button" class="btn btn-default m-t-10" data-dismiss="modal">Закрыть</button>