<div id="refund_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if product_detail.image}}
                      <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <h3><strong>№:{{ product_detail.id }}</strong> {{ product_detail.name }}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Артикул: <small><b>{{ product_detail.article }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Цвет: <small><b>{{ product_detail.color_detail.name }}</b></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 product_data">
                    <p class="m-b-0">Цена: <small><b>{{ product_detail.price }}</b></small></p>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
<hr>