<div class="header">
  <h2>Обработка заявок</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="to_list">Заявки на фабрику</a></li>
      <li class="active">Обработка заявок</li>
    </ol>
  </div>
</div>
<div class="payment_transfer_layout">
      <div class="plan processing_region"></div>
</div>


