<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col">

                {{#each items }}
                <div class="row" id="{{ offer_id }}">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="image">
                                  {{#if image}}
                                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                                  {{else}}
                                      <img src="/static/img/no-image.jpg" class="img-responsive">
                                  {{/if}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12 product_data">
                                        <p><small>Код: <b>№:{{ offer_id }}</b></small></p>
                                    </div>
                                    <div class="col-md-12">
                                        <p><small>Код: <b>{{ aggreement_code }}</b></small></p>
                                    </div>
                                    <div class="col-md-12">
                                        <p><small>Цвет: <b>{{ color_detail.name }}</b></small></p>
                                    </div>
                                    <div class="col-md-12">
                                        <p><small>Цена: <b>{{ aggreement_price }}</b></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    {{#each clients}}
                                        <div class="col-md-12 product_data">
                                            <p><small> <i class="fa fa-check-square-o" style="color:#319DB5;"></i> {{ name }}</small></p>
                                        </div>
                                    {{/each}}

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    {{#ifCond status_detail.code '==' 'models_created' }}
                                        <div class="col-md-12 product_data">
                                            <i class="fa fa-check-circle-o"></i>
                                        </div>
                                    {{/ifCond}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12 product_data">
                                        <input type="number" value="{{ count }}" class="form-control processing_item_count" data-offer_id="{{ offer_id }}" data-color_id="{{ color_detail.id }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each  }}
                {{#each offer_requests}}
                <i class="hidden offer_requests_ids" data-offer_request_id="{{ this }}"></i>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success processing">Сформировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>