<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="common">
            <a href="#">Общее</a>
        </li>
        <li class="tab_link" data-tab_name="items">
            <a href="#">Состав</a>
        </li>
        <li class="tab_link" data-tab_name="print">
            <a href="#">Печать</a>
        </li>
        {{#if user.can_invoice_history_tab_view}}
        <li class="tab_link" data-tab_name="history">
            <a href="#">История</a>
        </li>
        {{/if}}
    </ul>
</div>