<div class="row">
    <div class="col-md-4">
        Общее количество: {{count}}
    </div>
    <div class="col-md-4">
        Общая себестоимость товаров: {{cost}}
    </div>
    <div class="col-md-4">
        Средняя наценка: {{decimal_round average_margin}}
    </div>
</div>