{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 0;
      border-spacing: 0;
      border-collapse: collapse;
    }
    td, th {
      padding: 5px 10px;
      border: 0;
      line-height: 130px;
    }
    th {
      padding-left: 40px;
      text-align: left;
      font-size: 48px;
      font-weight: bold;
      width: 45%;
    }
    td {
        font-size: 53px;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
      font-family: Arial;
    }
    .block_tr {

    }
  </style>
  <script>
//    window.print()
  </script>
{% endblock %}

{% block content %}
  {% for offer in items %}
    <table>
      <tr>
        <th>Артикул</th>
        <td>{{ offer.aggreement_code }}</td>
      </tr>
      <tr>
        <th>Наименование</th>
        <td>{{ offer.name }}</td>
      </tr>
      {% for color in offer.aggreement_colors.all %}
        <tr>
            <th>
                {% if forloop.first %}
                    Цвет
                {% endif %}
            </th>
            <td>{{ color.name }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th>Цена</th>
        <td>{{ offer.aggreement_price }} руб.</td>
      </tr>
      {% for consistency in offer.get_full_consistency_list %}
        <tr>
            <th>
                {% if forloop.first %}
                    Состав
                {% endif %}
            </th>
            <td>{{ consistency }}</td>
        </tr>
      {% endfor %}
    </table>
    <div style="page-break-after: always;"></div>
  {% endfor %}
{% endblock %}


