<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="year">Год</label>
            <input type="number" class="form-control" name="year" placeholder="2000-3000" min="2000" max="3000">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="season">Сезон</label>
            <select class="form-control" name="season">
              <option value="1">Весна/Лето</option>
              <option value="2">Осень/Зима</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="units_per_s_m">Кол-во единиц на кв/м</label>
            <input type="number" class="form-control" name="units_per_s_m">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="avg_unit_cost">Средняя стоимость единицы товара</label>
            <input type="number" class="form-control" name="avg_unit_cost">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>