<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
               {{{ video_code }}}
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
               {{{ description }}}
          </div>
        </div>
    </div>
</div>
