<div class="panel">
  <div class="panel-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Модель</th>
          <th>Размер</th>
          <th>Остаток</th>
          <th>Склад</th>
        </tr>
      </thead>
      <tbody class="region_table_items"></tbody>
    </table>
  </div>
</div>
