<div class="header">
  <h2>Отчет "Отчет по остаткам"</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Отчет "Отчет по остаткам"</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_data"></div>