<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="client">
            <a href="#">Партнер</a>
        </li>
        <li class="tab_link" data-tab_name="items">
            <a href="#">Состав</a>
        </li>
        {{#if user.can_order_category_tab_view}}
        <li class="tab_link" data-tab_name="category">
            <a href="#">Категории</a>
        </li>
        {{/if}}
        <li class="tab_link" data-tab_name="common">
            <a href="#">Подтверждение</a>
        </li>
        {{#if user.can_order_history_tab_view}}
        <li class="tab_link" data-tab_name="history">
            <a href="#">История</a>
        </li>
        {{/if}}
    </ul>
</div>