<div>
    <div class="region_table_items"></div>
    <div class="empty_list_text hidden">Корзина пуста</div>
    <div class="go_to_cart hidden" style="text-align: center;"><a class="view_list " href="#">Подробнее</a></div>
</div>