<div class="product_data">
    <div class="product_name c-dark f-12 w-600">№{{ product_detail.id }}. {{ product_detail.article }} ({{ product_detail.color_detail.name }})</div>
    <div class="product_article c-gray f-12">{{ product_detail.name }}</div>
    <div class="buttons">
        <a class="cart-item-delete" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-times"></i></a>
    </div>
</div>

