<div class="panel">
    <div class="panel-header bg-primary">
      <h3><i class="fa fa-shopping-cart"></i> Корзина</h3>
    </div>
    <div class="panel-content">
      <div class="cart_region_list"></div>
    </div>
    <div class="panel-footer clearfix cart_link hidden">
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success btn-go-to-cart ">К оформлению</button>
      </div>
    </div>
</div>