<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (артикул/название)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Категория</label>
                <input type="text" class="form-control" name="main_collection">
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                <span class="catalog_part_name m-r-25" style="color: #1D2939;font-family: 'Open Sans';font-size: 28px;letter-spacing: -0.5px;margin: 0;padding-bottom: 7px;font-weight: 100;margin-right: 30px;">Вся коллекция</span>
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list m-r-30">
                <option value="">-</option>
                <option value="id">№ &uparrow;</option>
                <option value="-id">№ &downarrow;</option>
                <option value="price">Цене &uparrow;</option>
                <option value="-price">Цене &downarrow;</option>
            </select>
        </div>
    </div>
</div>
