<div class="col-md-6 m-b-30 product_item">
  <div class="panel panel-default">
    <div class="panel-heading p-0">
        {{#if is_new_collection }}
            <div class="shild shild-new">Новинка</div>
        {{/if}}
        <a href="" class="image-link"><img src="{{#if image}}{{image.950x1200}}{{else}}/static/img/no-image.jpg{{/if}}" class="img-responsive hover-img " alt="" width="950" height="1200"></a>
    </div>
    <div class="panel-body p-10">
      <div class="clearfix col-lg-12 col-md-12 col-sm-12">
        <h3 class="product_id c-dark w-600 align-center"><strong>№:{{ id }}</strong> {{ article }} ({{ color_detail.name }})</h3>
        <p class="product_name c-gray f-16 align-center">{{ name }}</p>
        <p class="pull-left m-l-0 m-b-0"><i class="fa fa-rub"></i> {{ price }}</p>
        <button type="button" class="pull-right btn btn-sm btn-primary m-r-0 m-b-0 product-to-cart"><i class="fa fa-cart-plus"></i></button>
      </div>
    </div>
  </div>
</div>