<div class="header">
  <h2>Каталог</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Каталог</li>
    </ol>
  </div>
</div>
<div class="row shop_catalog">
  <div class="col">
    <div class="region_filter"></div>
    <div class="region_complex"></div>
  </div>
</div>