<div class="product_data">
    <a href="#" class="product_collection product_collection_{{id}}" data-id="{{id}}" data-full_name="{{full_name}}">{{name}}</a>
    <!--<div class="m-l-10">
        {{#each childs}}
            <div>
                <a href="#" class="product_collection product_collection_{{id}}" data-id="{{id}}" data-full_name="{{full_name}}">{{name}}</a>
            </div>
        {{/each}}
    </div>-->
</div>