<ul class="nav nav-tabs m-b-20">
    <li class="tab_list_link" data-tab_name="main"><a href="#tab1_main">Основные</a></li>
    <li class="tab_list_link" data-tab_name="defect"><a href="#tab1_defect">По обмену брака</a></li>
    <li class="tab_list_link" data-tab_name="ten_percent"><a href="#tab1_ten_percent">По обмену 10%</a></li>
</ul>