@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "care";
    src: url("../fonts/care/wash.ttf");
}

.icon-care {
    font-family: "care";
    font-size: 40px;
    font-style: normal;
}

.icon-care-underline {
    text-decoration: underline;
}
.care_select2_container {
    .select2-container {
        height: 74px !important;
    }
    .select2-choice {
        height: 74px !important;
    }
}
