@import "../node_modules/open-sans-fontface/open-sans";
@OpenSansPath: "../fonts/open-sans";
@import (inline) '../node_modules/magnific-popup/dist/magnific-popup.css';
@import (inline) './include_css/select2.css';
@import "../bootstrap/css/bootstrap.min.css";
@import "../bootstrap/css/bootstrap-rtl.min.css";
@import '../node_modules/font-awesome/less/font-awesome';
@import (inline) './icons/line-icons/line-icons.css';
@import '../node_modules/simple-line-icons/less/simple-line-icons';
@import "../bootstrap/css/jasny-bootstrap.css";
@import './icons/octicons/octicons';
@octicons-font-path: "../fonts/octicons";
@import (inline) './icons/rounded/style.css';
@import '../node_modules/summernote/src/less/summernote';
@border-color: #f5f5f5;
@import (inline) './include_css/animate.min.css';
@import (inline) '../node_modules/cropper/dist/cropper.css';
@import 'care';