.hidden {
  display: none;
  visibility: hidden;
}

.region_list td {
  cursor: pointer;
}

.container_spinner {
  margin-top: 100px;
  width: 100%;
  position: absolute;
}

.product_list_image {
  width: 100px;
  img {
    width: 100px;
    height: 100px;
  }
}

.product_detail_layout {
  .comments_item {
    td {
      cursor: default;
    }
  }
  .product_field_layout {
    .field_list {
      .search_form {
        width: 450px;

        //@media (min-width: @screen-md) {
        //  width: 350px;
        //}
        //@media (min-width: @screen-lg) {
        //  width: 500px;
        //}
        display: inline-block;
      }
      .icon_list {
        float: right;
        display: inline-block;
        .clear_all_fields, .remove_all_fields {
          width: 20px;
        }
      }
    }
    .intag_category {
      margin-bottom: 40px;
    }
    .field_item {
      margin-bottom: 10px;
      width: 100%;
      .td_intag_name {
        margin-top: 8px;
        //width: 150px;
        //@media (min-width: @screen-lg) {
        //  width: 200px;
        //}
        //display: inline-block;
        vertical-align: top;
        &.required {
          font-weight: bold;
        }
        &.required:after {
          float: right;
          //color: @brand-danger;
          content: '•';
        }
      }
      .td_choices {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        //@media (min-width: @screen-md) {
        //  width: 200px;
        //}
        //@media (min-width: @screen-lg) {
        //  width: 300px;
        //}
      }
      .td_unit {
        display: inline-block;
        vertical-align: top;
        width: 100px;
      }
      .icon_list {
        float: right;
        display: inline-block;
        height: 34px;
        line-height: 34px;
        .clear, .remove {
          width: 20px;
        }
      }
    }
  }

  .product_collection_layout {
    .collection_item {
      .item_row {
        padding-top: 5px;
        padding-left: 15px;
        padding-bottom: 5px;

        //&:hover {
        //  background: lighten(@brand-primary, 45%);
        //}

        [name=active] {
          display: inline-block;
          margin-right: 10px;
        }
        .name {
          line-height: 34px;
          display: inline-block;
          &.foldable {
            cursor: pointer;
            &:after {
              content: ' \25BC';
              font-size: 12px;
            }
            &.folded:after {
              content: ' \25B2';
              font-size: 12px;
            }
          }
        }
      }

      .branch {
        margin-left: 50px;
      }
    }
  }
}
.image_layout {
  .image_list {
    .image_item {
      width: 210px;
      height: 210px;
      position: relative;
      float: left;
      margin: 5px;

      .remove {
        position: absolute;
        z-index: 10;
        right: 5px;
        top: 5px;
        padding: 0;
        margin: 0;
      }

      .img-thumbnail {
        width: 210px;
        height: 210px;
        top: 0;
        left: 0;
        position: absolute;
      }
    }
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-image: none;
  border-radius: 4px;
}

.nav-tabs2.block-tabs {
  > .nav.nav-tabs {
    > li.active {
      > a {
        border: 1px solid #dfdfdf !important;
        border-radius: 3px;
      }
    }
  }
}

.modal-content {
  .form-horizontall {
    .form-group {
      overflow: hidden;
      label {
        height: 34px;
        line-height: 34px;
      }
      input[type=checkbox] {
        margin-top: 0;
      }
    }
  }
}
.comments_widget_list {
  overflow: hidden;

  td {
    cursor: default;
  }
}
.widget-data-block {
  overflow: hidden;
  padding: 10px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 145px;
  h3 {
    margin: 10px 0 !important;
  }
}
.widget-data-block-link {
  cursor: pointer;
}
.region_orders,
.region_products {
  .data {
    margin-left: 17px !important;
  }
}
.divClear {
  height:0px;
  clear:both;
}
.page-content {
  .panel {
    .panel-header.bg-primary {
      .control-btn {
        > a {
          color: white !important;
        }
      }
    }
    .panel-header.bg-primary:hover {
      .control-btn {
        > a {
          color: #cccccc !important;
        }
      }
    }
  }
}
.input-group.price {
  width: 100%;
  input {
    border-radius: 4px;
  }
  .input-group-btn {
    padding-left: 10px;
    width: 100px;
    border-radius: 0;
  }
}
.offers_list {
  .region_offer_panel_items {
    .panel-content {
      .header {
        position: relative;
        margin-bottom: 15px;
        .current-status {
          left: 15px;
          top: 0;
          position: absolute;
          width: 35px;
          height: 35px;
          padding: 0;
          text-align: center;
          i {
            font-size: 16px;
            line-height: 35px;
            padding: 0;
            color: #fff;
          }
        }
        h3 {
          margin: 0;
        }
        strong {
          margin-left: 45px;
          line-height: 35px;
        }
      }
      .image {
        width: 100%;
      }
      .links-form-group {
        .select2-container {
          height: 155px;
          overflow-y: scroll;
          .select2-choices {
            min-height: 155px;
          }
        }
      }
      textarea[name='links'] {
        height: 155px;
      }
      input[name='price'] {
        font-weight: bold;
      }
      .comments {
        border: 1px solid #ECEDEE;
        padding: 5px;
        height: 315px;
        position: relative;
        .comments-list {
          overflow-y: scroll;
          height: 260px;
          overflow-x: hidden;
          .comment_item {
            border-bottom: 1px dotted #ECEDEE;
            padding: 3px 0;
            margin-right: 10px;

            .comment_read_button {
              float: left;
              width: 15px;

              .fa {
                cursor: pointer;
              }

              .fa-circle-o {
                display: none;
              }
            }
            .comment_data {
              margin-left: 17px;
            }
          }
          .comment_new {
            font-weight: bold;
            border-bottom-width: 2px;
            strong {
              font-weight: bold;
            }
            .comment_read_button {
              .fa-circle-o {
                display: inline-block;
              }
              .fa-dot-circle-o {
                display: none;
              }
            }
          }
        }
        .comment_form {
          position: absolute;
          bottom: 5px;
          right: 5px;
          left: 5px;
          button {
            margin: 0;
          }
        }
      }
    }
    .button-status-list {
      .btn {
        i {
          font-size: 15px;
        }
      }
    }
    .with_series {
      .links-form-group {
        .select2-container {
          height: 74px;
          .select2-choices {
            min-height: 74px;
          }
        }
      }
      textarea[name='links'] {
        height: 74px;
      }
      .comments {
        height: 415px;
        .comments-list {
          height: 360px;
        }
      }
    }
  }
}
.products_list {
  .region_product_panel_items {
    .panel-content {
      .header {
        position: relative;
        margin-bottom: 15px;
        h3 {
          margin: 0;
        }
        strong {
          line-height: 35px;
        }
      }
      .image {
        width: 100%;
      }
      .links-form-group {
        .select2-container {
          height: 155px;
          overflow-y: scroll;
          .select2-choices {
            min-height: 155px;
          }
        }
      }
      textarea[name='links'] {
        height: 155px;
      }
      input[name='price'] {
        font-weight: bold;
      }
      .comments {
        border: 1px solid #ECEDEE;
        padding: 5px;
        height: 315px;
        position: relative;
        .comments-list {
          overflow-y: scroll;
          height: 260px;
          overflow-x: hidden;
          .comment_item {
            border-bottom: 1px dotted #ECEDEE;
            padding: 3px 0;
            margin-right: 10px;
          }
          .comment_new {
            font-weight: bold;
            border-bottom-width: 2px;
            strong {
              font-weight: bold;
            }
          }
        }
        .comment_form {
          position: absolute;
          bottom: 5px;
          right: 5px;
          left: 5px;
          button {
            margin: 0;
          }
        }
      }
    }
    .button-status-list {
      .btn {
        i {
          font-size: 15px;
        }
      }
    }
    .with_series {
      .links-form-group {
        .select2-container {
          height: 74px;
          .select2-choices {
            min-height: 74px;
          }
        }
      }
      textarea[name='links'] {
        height: 74px;
      }
      .comments {
        height: 415px;
        .comments-list {
          height: 360px;
        }
      }
    }
  }
}
.image.captioned {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    max-width: 100%;
    display: block;
    position: relative;
  }
  .image-caption {
    background-color: rgba(255,255,255,0.7);
    color: #ffffff;
    font-size: 15pt;
    padding: 5px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -38px;
    text-align: right;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
}
.image.captioned:hover {
  .image-caption {
    opacity: 1;
    bottom: 0;
  }
}
@media (max-width:992px) {
  .products_list {
    .region_product_panel_items {
        .image {
          margin-bottom: 10px;
          max-height: 300px;
        }
        .comments {
          margin-bottom: 10px;
        }
    }
  }
}
.mfp-bg {
  z-index: 5000;
}
.mfp-wrap {
  z-index: 5001
}
.main-content .page-content > .header h3, .main-content .page-content > div > .header h3 {
  color: #1D2939;
  font-family: 'Open Sans';
  font-size: 28px;
  letter-spacing: -0.5px;
  margin: 0;
  padding-bottom: 7px;
  font-weight: 100;
}
.infobox-clickable {
  cursor: pointer;
}
.hover-bg-orange:hover {
  background-color: #F2A057 !important;
  color: #fff !important;
  .c-red {
    color: #fff !important;
  }
}
.hover-bg-blue:hover {
  background-color: #4584D1 !important;
  color: #fff !important;
  .c-primary {
    color: #fff !important;
  }
}
.hover-bg-green:hover {
  background-color: #18a689 !important;
  color: #fff !important;
  .c-green {
    color: #fff !important;
  }
}
.hover-bg-purple:hover {
  background-color: #A58BD3 !important;
  color: #fff !important;
  .c-purple {
    color: #fff !important;
  }
}
.region_dashboart_products {
  overflow: hidden;
}
.series_block {
  overflow: hidden;
  width: 100%;
  .series_item {
    text-align: center;
    width: 11%;
    height: 47px;
    border: 1px solid #ECEDEE;
    float: left;
    span {
      line-height: 46px;
      padding-top: 0;
      display: block;
      text-align: center;
    }
    span.without_input {
      line-height: 46px;
      padding-top: 0;
    }
    input[type=checkbox] {
      visibility: hidden;
      padding: 0;
    }
  }

  .series_col_selected {
    background-color: #EFEFEF;
    span {
      line-height: 16px;
      padding-top: 5px;
      display: block;
      text-align: center;
    }
    input[type=checkbox] {
      visibility: visible;
    }
  }
  .series_type {
    .series_type_item {
      overflow: hidden;
      text-align: center;
      padding: 0;
    }
  }
}

@media (min-width:992px) {
  .md-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.xs-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.select2-tag-linked {
  a.tag-linked {
    color: white;
  }
}
.is-link {
  cursor: pointer;
}
.region_currency {
  .widget-small {
    height: 110px;
  }
}