<div class="row">
    <div class="col-xs-9">
        <div class="panel">
            <div class="panel-header">
                <div class="region_product_navbar"></div>
            </div>
            <div class="panel-content">
                <div class="region_product_tab"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div id="fixed_sidebar">
            <div class="region_free_dr_summ"></div>
            <div class="panel">
                <div class="panel-header">
                  <h3>Данные о заказе</h3>
                </div>
                <div class="panel-content p-t-0">
                    <b>Партнер:</b>
                    <span class="partner"></span><br>
                    <b>Сумма заказа:</b>
                    <span class="amount_full"></span>
                    <div class="m-t-20">СОСТАВ:</div>
                    <div class="main_collection_percentage"></div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <div class="f-left">
                                    <button class="btn btn-success save_order">Продолжить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>