<div class="nav nav-tabs">
    <ul class="nav nav-tabs ">
        {{#if canEdit }}
        <li class="tab_link" data-tab_name="product_search">
            <a href="#">Подбор товаров</a>
        </li>
        {{/if}}
        <li class="tab_link" data-tab_name="product_list">
            <a href="#">Состав заказа</a>
        </li>
    </ul>
</div>