<div id="product_item_{{ id }}">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12 product_data">
            <h3><strong>№:{{ id }}</strong> {{ name }}</h3>
                        <p><small><b>{{ article }}</b></small> ({{ color_detail.name }})</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 product_data">
            <p><b>Цена: </b> {{ price }}</p>
          </div>
          <div class="col-xs-4 product_data">
            <p><b>Наличие: </b> {{ remains }}</p>
          </div>
          <div class="col-xs-4 product_data">
              {{#if canViewIsNewProduct }}
                {{#unless is_new_product }}
                  <h3 class="c-red pull-right"><i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Более 6-ти месяцев на складе!"></i></h3>
                {{/unless}}
              {{/if}}
          </div>
        </div>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="filter_search form-control form-white" placeholder="Количество серий" name="series_count">
                  <div class="input-group-btn">
                    <button type="button" class="create_order_item btn btn-success m-r-0"><span class="fa fa-plus"></span></button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<hr>