<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Категория</label>
            <input type="text" class="form-control" name="main_collection">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="warehouse_id_remains">Есть на складе</label>
            <input type="text" class="form-control" name="warehouse_id_remains">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="month_old_product">На остатках более (мес)</label>
            <input type="number" class="form-control" name="month_old_product" min="0" max="100">
          </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Сезон</label>
            <input type="text" class="form-control" name="season">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Региональность</label>
            <input type="text" class="form-control" name="regions">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Остатки без отгрузки</label>
            <select class="form-control" name="client_not_order">
              <option value="" active>Все</option>
              <option value="{{ _client_id }}">Да</option>
              <option value="-{{ _client_id }}">Нет</option>
              <option value="{{ _client_id }}+">Да, включая новые заказы</option>
              <option value="-{{ _client_id }}+">Нет, включая новые заказы</option>
            </select>
          </div>
        </div>
    </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="article">Артикулу &uparrow;</option>
                <option value="-article">Артикулу &downarrow;</option>
                <option value="main_collection__name">Категории &uparrow;</option>
                <option value="-main_collection__name">Категории &downarrow;</option>
                <option value="created">Дате заведения товара &uparrow;</option>
                <option value="-created">Дате заведения товара &downarrow;</option>
            </select>
        </div>
    </div>
</div>
