<div id="product_item">
    <div class="row">
      <div class="col-md-3">
          <div class="image">
              <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить" style="cursor: pointer;">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
              </a>
          </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-8 product_data">
            <h3 class="m-t-0"><strong>№:{{ id }}</strong> {{ name }}</h3>
            <p><small><b>{{ article }}</b></small> ({{ color_detail.name }})</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 product_data">
              <div class="form-group">
                  <label for="">Цена:</label>
                  <div class="after-tooltip">
                      <input type="text" class="form-control form-white" name="price" disabled="disabled">
                      <a href="#" class="edit_product_price_toggle"><i class="fa fa-pencil-square-o"></i></a>
                  </div>

              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<hr>
<button type="button" class="btn btn-success hidden save_new_price" name="save">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>