<div class="nav nav-tabs">
    <ul class="nav nav-tabs nav-primary">
        {{#ifCond kind '==' 1}}
            <li class="product_search_tab_link" data-tab_name="supply_product_search">
                <a href="#">В пути</a>
            </li>
        {{/ifCond}}
        <li class="product_search_tab_link" data-tab_name="exist_product_search">
            <a href="#">На складе</a>
        </li>
        {{#ifCond kind '==' 1}}
            <li class="product_search_tab_link" data-tab_name="scanner_data">
                <a href="#">Со сканера штрих кодов</a>
            </li>
        {{/ifCond}}
    </ul>
</div>