<div class="region_search"></div>
<div class="container_spinner"></div>
<div class="region_list"></div>
<div class="row">
    <div class="col-md-9">
        <div class="region_paginator"></div>
    </div>
</div>