<div id="scanner_data_{{ id }}">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 product_data">
            <p>Создан: <strong>{{datetime created 'DD.MM.YYYY HH:mm'}}</strong>, кол-во товаров: <strong>{{ products_count }}</strong></p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="filter_search form-control form-white" placeholder="Количество серий" name="series_count">
                  <div class="input-group-btn">
                    <button type="button" class="create_order_item btn btn-success m-r-0"><span class="fa fa-plus"></span></button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<hr>