{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
      font-family: Arial;
    }
    img {
      height: 200px;
    }
    .rotate90 {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      height: 19px;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 20px;font-weight: bold;">Заказ на внутренние этикетки №{{ manufacturing_order.id }}</div>
  {% for items_part in items %}
    <table>
      {% for item in items_part %}
        <tr>
          <td style="width: 200px;" rowspan="2">
            {% if item.product.main_im %}
              {% thumbnail item.product.main_im "300x300" crop="center" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}</td>
            {% else %}
              <img src="/static/img/no-image.jpg" class="">
            {% endif %}
          <td>
            Код: <b>{{ item.product.article }}{% if item.product.color.code %}/{{ item.product.color.code }}{% endif %}</b><br>
            {% if item.product.country %}
                Страна: <b>{{ item.product.country.name }}</b><br>
            {% endif %}
            {% if brand %}
              Бренд: <b>{{ brand }}</b><br>
            {% else %}
              {% if item.product.brand %}
                  Бренд: <b>{{ item.product.brand.name }}</b><br>
              {% endif %}
            {% endif %}
            {% if item.get_quantity %}
              Количество: <b>{{ item.get_quantity }}шт.</b>
            {% endif %}
          </td>
          {% if display_care %}
            {% if item.display_care %}
              <td style="width: 400px;">
                <img src="{{ item.display_care }}" alt="">
              </td>
            {% endif %}
          {% endif %}
        </tr>
        <tr>
          <td>
            <table style="width:780px;">
              <tr>
                <td style="padding: 0;height: 144px;padding-left: 130px;padding-right: 100px;font-size: 14px;" colspan="2">
                  <p style="margin: 0;">INDEX, S.A. LA PRODUCCION DE TAXTILIES INDEX (DESIGNED IN SPAIN) C.I.F. 19283798 DT CFLIDAD DT LA FABRICA PRODUCE 47830 (00101741719) EL PROCESO DE PRODUCCION SE REGLAMENTALA 00543021 CHN - 503 NATURAL DE BUENA TEXTURA AZKA LOGISTICSZLC, VFCROMO DAS.B.RUC 1792158105002 LTDA CHINA NC.CA36665</p>
                  <img src="{{ item.product.get_barcode }}" alt="" style="height: 40px;float: left;"><p style="margin: 0;margin-top: 3px;font-weight: bold;">{{ item.product.article }}/{{ item.product.color.code }}</p>

                </td>
              </tr>
              <tr>
                <td style="padding:0;padding-top: 5px;padding-left: 130px;height: 139px;width: 105px;border-right:0;">
                  {% if item.product.professional_care %}
                      <div>
                        {% thumbnail item.product.professional_care.image1 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.professional_care.image2 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.professional_care.image3 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.professional_care.image4 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                      </div>
                    {% endif %}
                  {% if item.product.ironing %}
                      <div>
                        {% thumbnail item.product.ironing.image1 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.ironing.image2 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.ironing.image3 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.ironing.image4 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                      </div>
                    {% endif %}
                  {% if item.product.drying %}
                      <div>
                        {% thumbnail item.product.drying.image1 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.drying.image2 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.drying.image3 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                        {% thumbnail item.product.drying.image4 "19x19" crop="center" as im %}
                          <img src="{{ im.url }}" class="rotate90">
                        {% endthumbnail %}
                      </div>
                    {% endif %}
                  {% if item.product.bleach %}
                    <div>
                      {% thumbnail item.product.bleach.image1 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.bleach.image2 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.bleach.image3 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.bleach.image4 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                    </div>
                  {% endif %}
                  {% if item.product.wash %}
                    <div>
                      {% thumbnail item.product.wash.image1 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.wash.image2 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.wash.image3 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                      {% thumbnail item.product.wash.image4 "19x19" crop="center" as im %}
                        <img src="{{ im.url }}" class="rotate90">
                      {% endthumbnail %}
                    </div>
                  {% endif %}
                  </div>
                </td>
                <td style="padding:0;font-size: 11px;border-left:0;padding-right: 30px;">
                    {% if item.product.wash %}
                      <p style="margin: 5px 0;">{{ item.product.wash.description }}</p>
                    {% endif %}
                    {% if item.product.bleach %}
                      <p style="margin: 5px 0;">{{ item.product.bleach.description }}</p>
                    {% endif %}
                    {% if item.product.drying %}
                      <p style="margin: 5px 0;">{{ item.product.drying.description }}</p>
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td style="padding:0;height: 144px;padding-left: 130px;padding-right: 30px;font-size: 11px;" colspan="2">
                  {% if item.product.ironing %}
                    <p style="margin: 5px 0;">{{ item.product.ironing.description }}</p>
                  {% endif %}
                  {% if item.product.professional_care %}
                    <p style="margin: 5px 0;">{{ item.product.professional_care.description }}</p>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td colspan="2" style="padding:0;height: 144px;padding-left: 130px;padding-right: 30px;font-size: 11px;">
                  <table style="margin-top: 6px;border: 0px;width: auto;">
                    {% if item.product.consistency_value1 %}
                      <tr>
                        <td style="border: 0px;width:10px;padding:2px;">
                          {{ item.product.consistency_value1 }}%
                        </td>
                        <td style="border: 0px;padding:2px;">
                          {{ item.product.consistency_type1.description }}
                        </td>
                      </tr>
                    {% endif %}
                    {% if item.product.consistency_value2 %}
                      <tr>
                        <td style="border: 0px;width:10px;padding:2px;">
                          {{ item.product.consistency_value2 }}%
                        </td>
                        <td style="border: 0px;padding:2px;">
                          {{ item.product.consistency_type2.description }}
                        </td>
                      </tr>
                    {% endif %}
                    {% if item.product.consistency_value3 %}
                      <tr>
                        <td style="border: 0px;width:10px;padding:2px;">
                          {{ item.product.consistency_value3 }}%
                        </td>
                        <td style="border: 0px;padding:2px;">
                          {{ item.product.consistency_type3.description }}
                        </td>
                      </tr>
                    {% endif %}
                    {% if item.product.consistency_value4 %}
                      <tr>
                        <td style="border: 0px;width:10px;padding:2px;">
                          {{ item.product.consistency_value4 }}%
                        </td>
                        <td style="border: 0px;padding:2px;">
                          {{ item.product.consistency_type4.description }}
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                  <p style="margin: 5px 0;">
                    {% if item.product.country.label_print_text %}
                      {{ item.product.country.label_print_text }}
                    {% else %}
                      {{ item.product.country.name }}
                    {% endif %}
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
  {% endfor %}
{% endblock %}
