<div class="header">
  <h2>Документ №<strong class="price_set-id"></strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/invoice/" class="list_link">Установка цен</a></li>
      <li class="active">Счет №<b class="price_set-id"></b></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
