<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="common">
            <a href="#">Общее</a>
        </li>
        <li class="tab_link" data-tab_name="items">
            <a href="#">Состав</a>
        </li>
        <li class="tab_link" data-tab_name="status">
            <a href="#">Изменение статуса</a>
        </li>
    </ul>
</div>