<td>
    <div><a href="#" class="object_link"><small>Предложение №{{ content_object_detail.object.id }}. {{ content_object_detail.object.name }}</small></a></div>
    <div><small>{{datetime created 'DD.MM.YYYY HH:mm'}} - <b>{{user_detail.name}}</b></small></div>
    <div>{{short_body}}</div>
</td>
