{{#if userCanViewWidget }}
<div class="col-md-6 portlets">
  <div class="panel">
    <div class="panel-header panel-controls">
      <h3><i class="icon-bubbles"></i> Последние <strong> Комментарии</strong></h3>
    </div>
    <div class="panel-content">
      <div class="region_complex"></div>
    </div>
  </div>
</div>
{{/if}}