<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
              <div class="region_table"></div>
          </div>
        </div>
    </div>
</div>