<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="date_from">С</label>
            <input type="text" class="form-control" name="date_from">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="date_to">По</label>
            <input type="text" class="form-control" name="date_to">
          </div>
        </div>
        {{#if can_view_report_all_employee_sale }}
            <div class="col-md-3">
              <div class="form-group">
                <label for="store">Магазин</label>
                <input type="text" class="form-control" name="store">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="store_detail">По магазинам</label>
                <select class="form-control" name="store_detail">
                  <option value="0" active>Нет</option>
                  <option value="1">Да</option>
                </select>
              </div>
            </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Сформировать</button>
        </div>
    </div>
  </div>
</div>