<div class="header">
  <h2>Отчет по продавцам</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Отчет по продавцам</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_chart"></div>