{{#each report }}
    <h2>{{ name }}</h2>
    <div class="table-responsive">
        <table class="table table-striped report_table">
            <tr>
                <th style="width: 30%;">
                    <div style="white-space: normal;">ФИО</div>
                </th>
                <th style="width: 10%;">
                    <div>Сумма продаж</div>
                </th>
                <th style="width: 10%;">
                    <div>Сумма возвратов</div>
                </th>
                <th style="width: 10%;">
                    <div>Чистые продажи</div>
                </th>
                <th style="width: 10%;">
                    <div>Количество чеков</div>
                </th>
                <th style="width: 10%;">
                    <div>Чеки без карт</div>
                </th>
                <th style="width: 10%;">
                    <div>Общее количество единиц</div>
                </th>
                <th style="width: 10%;">
                    <div>Среднее количество единиц</div>
                </th>
                <th style="width: 10%;">
                    <div>Средний чек</div>
                </th>
            </tr>
            {{#each report_data }}
            <tr>
                <td>
                    <div style="white-space: normal;">
                        {{#if ../../can_employees_view }}
                            <a target="_blank" href="/employee/{{ employee.id }}/">{{ employee.full_name }}</a>
                        {{ else }}
                            {{ employee.full_name }}
                        {{/if}}
                    </div>
                </td>
                <td>
                    <div>{{#decimal_round amount}}{{/decimal_round}}</div>
                </td>
                <td>
                    <div>{{#decimal_round return_amount}}{{/decimal_round}}</div>
                </td>
                <td>
                    <div>{{#decimal_round net_amount}}{{/decimal_round}}</div>
                </td>
                <td>
                    <div>{{ check_count }}</div>
                </td>
                <td>
                    <div>{{ without_buyer_card }}</div>
                </td>
                <td>
                    <div>{{ quantity }}</div>
                </td>
                <td>
                    <div>{{#decimal_round quantity_avg}}{{/decimal_round}}</div>
                </td>
                <td>
                    <div>{{#decimal_round amount_avg}}{{/decimal_round}}</div>
                </td>
            </tr>
            {{/each}}
            <tr>
                <th>
                    <div style="white-space: normal;">Итого</div>
                </th>
                <th style="width: 10%;">
                    <div>{{#decimal_round all_amount}}{{/decimal_round}}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{#decimal_round all_return_amount}}{{/decimal_round}}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{#decimal_round all_net_amount}}{{/decimal_round}}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{ all_check_count }}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{ all_without_buyer_card }}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{ all_quantity }}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{#decimal_round all_quantity_avg}}{{/decimal_round}}</div>
                </th>
                <th style="width: 10%;">
                    <div>{{#decimal_round all_amount_avg}}{{/decimal_round}}</div>
                </th>
            </tr>
        </table>
    </div>
{{/each}}