<table class="table table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Валюта</th>
      <th>Баланс в валюте</th>
      <th>Баланс в рублях</th>
      <th>Пользователь</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>