<div class="panel">
  <div class="panel-content">
      <form class="search_form">
            <div class="input-group">
              <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
              <div class="input-group-btn">
                <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
                <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
                <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
              </div>
            </div>
        </form>
        <div id="region_filter_panel" class="hidden">
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="store">Магазин</label>
                    <input type="text" class="form-control" name="store">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="store__client">Клиент</label>
                    <input type="text" class="form-control" name="store__client">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="is_working">Работает?</label>
                    <select class="form-control" name="is_working">
                      <option value="" active>Все</option>
                      <option value="2">Да</option>
                      <option value="3">Нет</option>
                    </select>
                  </div>
                </div>
            </div>
        </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">

            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="id">№ &uparrow;</option>
                <option value="-id">№ &downarrow;</option>
                <option value="first_name">Имя &uparrow;</option>
                <option value="-first_name">Имя &downarrow;</option>
                <option value="last_name">Фамилия &uparrow;</option>
                <option value="-last_name">Фамилия &downarrow;</option>
                <option value="store__client__name">Партнер &uparrow;</option>
                <option value="-store__client__name">Партнер &downarrow;</option>
            </select>
        </div>
    </div>
</div>