<td>{{id}}</td>
<td>{{first_name}}</td>
<td>{{middle_name}}</td>
<td>{{last_name}}</td>
<td>{{store_detail.name}}</td>
<td>{{store_detail.client_detail.name}}</td>
<td>
    {{#if is_working}}
        <i class="fa fa-check-square-o c-primary"></i>
    {{else}}
        <i class="fa fa-minus-square-o c-red"></i>
    {{/if}}
</td>
