<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="first_name">Имя</label>
            <input type="text" class="form-control" name="first_name">
        </div>
        <div class="form-group">
            <label for="middle_name">Отчество</label>
            <input type="text" class="form-control" name="middle_name">
        </div>
        <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input type="text" class="form-control" name="last_name">
        </div>
        <div class="form-group">
            <label for="store">Магазин</label>
            <input class="form-control" name="store">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>