<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Год' 4}}
                        <p class="form-control form-white">{{ year }}</p>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Сезон' 4}}
                        <p class="form-control form-white">{{ season_detail.name }}</p>
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
              <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 form-horizontal">
                            {{#formControl 'Кол-во единиц на кв/м' 4}}
                                <input type="number" class="form-control" name="units_per_s_m" min="0">
                            {{/formControl}}
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 form-horizontal">
                                {{#formControl 'Средняя стоимость единицы товара' 4}}
                                    <input type="number" class="form-control" name="avg_unit_cost" min="0">
                                {{/formControl}}
                            </div>
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary save  pull-right">Сохранить</button>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>


