<div class="header">
  <h2 class="breadcrumb_name"></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="breadcrumb_list">% сезонность</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="region_item"></div>
    <div class="region_plan_items"></div>
  </div>
</div>