{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
    img {
      height: 200px;
    }

    .line {
      position: relative;
    }

    .line span {
        background-color: white;
        padding-right: 10px;
    }

    .line:after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-bottom: 1px solid black;
        z-index: -1;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 20px;font-weight: bold;">АКТ №{{ defect_act.id }} от {{ defect_act.created|date:"d.m.Y" }}</div>
  <div style="text-align: center;margin: 10px 0 10px 0;font-size: 20px;font-weight: bold;">О БРАКЕ</div>
  <div style="text-align: left;margin: 10px 0;">1. Название организации: <span style="font-weight: bold;text-decoration: underline;">{{ defect_act.client.name }}</span></div>
  <div style="text-align: left;margin: 10px 0;">2. ФИО уполномоченного лица: <span style="font-weight: bold;text-decoration: underline;">администратор {{ defect_act.client.contact_person }}</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>3. Номер накладной и счета-фактуры поставщика:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>4. Транспортная компания:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>5. Состояние тары и упаковки продукции:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>6. Количество мест по накладной поставщика:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>7. Количество мест получено фактически:</span></div>
  <div style="text-align: left;margin: 10px 0;"><span>8. Подробное описание товара:</span></div>
  {% for items_part in items %}
    <table style="margin-top:10px;">
      <tr>
        <th>№</th>
        <th>Наименование товара</th>
        <th>Артикул</th>
        <th>Фото</th>
        <th>Описание брака</th>
        <th>Кол-во</th>
        <th>Цена, руб.</th>
        <th>Сумма, руб.</th>
      </tr>
      {% for item in items_part %}
        <tr>
          <td>
            {{ forloop.counter }}
          </td>
          <td>
            {{ item.product.name }} ({{ item.size.code }})
          </td>
          <td>
            {{ item.product.article }}
          </td>
          <td>
            {% if item.image %}
              {% thumbnail item.image "300x300" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}</td>
            {% else %}
              <img src="/static/img/no-image.jpg" class="">
            {% endif %}
          </td>
          <td>
            {{ item.comment }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.price }}
          </td>
          <td>
            {{ item.all_price }}
          </td>
        </tr>
      {% endfor %}
      {% if forloop.last %}
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!--<th></th>-->
          <th>{{ all_quantity }}</th>
          <th></th>
          <th>{{ all_price|floatformat:2 }}</th>
        </tr>
      {% endif %}
    </table>
  {% if forloop.last %}
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
    <div style="text-align: left;margin: 40px 0 10px 0;">Итого сумма по браку <b>{{ all_price|floatformat:2 }}руб. (прописью) {{ total_price_string }}</b></div>
    <div>Акт оформляется комиссией в составе представителей покупателя. Члены комиссии несут
      ответственность за подписание акта, содержащего данные, несоответствующие действительности.</div>
    <table style="border: 0px; margin: 10px 0;">
      <tr style="border: 0px;">
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Должность</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Подпись</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>ФИО</span></div>
        </td>
      </tr>
      <tr style="border: 0px;">
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Должность</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Подпись</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>ФИО</span></div>
        </td>
      </tr>
      <tr style="border: 0px;">
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Должность</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>Подпись</span></div>
        </td>
        <td style="border: 0px; width:30%;">
          <div class="line"><span>ФИО</span></div>
        </td>
      </tr>
    </table>
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ pages_count }} / {{ pages_count }}</div>
    {% else %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
  {% else %}
    <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
  {% endif %}

  {% endfor %}
{% endblock %}


