{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
    img {
      height: 200px;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 20px;font-weight: bold;">Бланк-заказа</div>
  <div style="text-align: left;margin: 40px 0 10px 0;">Бланк-заказ {% if with_number %}№{{ document_number }}{% endif %} {% if with_date %}от {{ order.created|date:"d.m.Y" }}{% endif %} к Договору купли-продажи товара №{{ order.client.contract_number }} от {{ order.client.contract_date|date:"d.m.Y" }}</div>
  <div style="text-align: left;margin: 10px 0;">Поставщик: ООО "БАСС-Инвест"</div>
  <div style="text-align: left;margin: 10px 0;">Покупатель: {{ order.client.name }}</div>
  <div style="text-align: left;margin: 10px 0;">Поставка Товара выполняется (срок поставки) не позднее  {% if delivery_year %}{{ delivery_year }}{% else %}________{% endif %} года.</div>
  {% for items_part in items %}
    <table>
      <tr>
        <th><b>Модель</b></th>
        <th></th>
        <th>Цвет</th>
        <th>Артикул</th>
        <th>Цена</th>
        <!--<th>Кол-во серий</th>-->
        <th>Состав серии</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </tr>
      {% for item in items_part %}
        <tr>
          <td>
            {% if item.product.main_im %}
              {% thumbnail item.product.main_im "300x300" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}</td>
            {% else %}
              <img src="/static/img/no-image.jpg" class="">
            {% endif %}

          <th>{% if item.product.images.all.1 %}
            {% thumbnail item.product.images.all.1.image "400x400" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          {% endif %}</th>
          <th>{{ item.product.color.name }}</th>
          <th>{{ item.product.name }}<br>
            Код: {{ item.product.article }}
          </th>
          <th>{{ item.price }}</th>
          <!--<th>{{ item.get_max_series_count }}</th>-->
          <th>{% for item in item.get_size_quantitys %}
            {{ item.size.name }}{% if with_size_quantity %} - {{ item.quantity }}{% endif %}<br>
          {% endfor %}
          </th>
          <th>{{ item.get_quantity }}</th>
          <th>{{ item.get_price_sum }}</th>
        </tr>
      {% endfor %}
      {% if forloop.last %}
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!--<th></th>-->
          <th></th>
          <th>{{ order.get_quantity }}</th>
          <th>{{ order.get_amount_full }}</th>
        </tr>
      {% endif %}
    </table>
  {% if forloop.last %}
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
    <div style="text-align: left;margin: 40px 0 10px 0;">Общая стоимость Товара, поставляемого по настоящему Бланку-заказу{% if with_number %} №{{ document_number }}{% endif %}{% if with_date %} от {{ order.created|date:"d.m.Y" }}{% endif %}, составляет {{ order.get_amount_full }} рублей.</div>
    <div style="text-align: center;margin: 20px 0 10px 0;">ПОДПИСИ СТОРОН:</div>
    <table style="border: 0px; margin: 10px 0;">
      <tr style="border: 0px;">
        <td style="border: 0px;">
          <b>
            {% if order.client.legal_form == 1 %}
              Индивидуальный предприниматель
            {% else %}
              Генеральный директор
            {% endif %}
          </b>
        </td>
        <td style="border: 0px;"><b>Генеральный директор</b></td>
      </tr>
      <tr style="border: 0px;">
        <td style="border: 0px;">
          ________________ / {{ order.client.get_person_name }} /
        </td>
        <td style="border: 0px;">
          ________________ / Палчевская Е.В. /
        </td>
      </tr>
    </table>
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ pages_count }} / {{ pages_count }}</div>
    {% else %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
  {% else %}
    <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
  {% endif %}

  {% endfor %}
{% endblock %}


