{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 40px;
    }
    td, th {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
    img {
      height: 200px;
    }

    .line {
      position: relative;
    }

    .line span {
        background-color: white;
        padding-right: 10px;
    }

    .line:after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-bottom: 1px solid black;
        z-index: -1;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: center;margin: 40px 0 10px 0;font-size: 20px;font-weight: bold;">Акт на возврат №{{ refund_act.id }} от {{ refund_act.created|date:"d.m.Y" }}</div>
  <div style="text-align: left;margin: 10px 0;">1. Покупатель: {{ refund_act.client.name }}</div>
  <div style="text-align: left;margin: 10px 0;">2. Контактные данные: {{ refund_act.client.get_full_legal_address }}. {{ refund_act.client.contact_person }}. {{ refund_act.client.phone }}</div>
  <div style="text-align: left;margin: 10px 0;">3. Номера накладных и дата накладных по которым производится возврат моделей: {% for number, date in orders.items %}{{ number }} ({{ date }}){% if not forloop.last %}, {% endif %}{% endfor %}</div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>4. Транспортная компания согласованная с поставщиком:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>5. Состояние тары и упаковки продукции:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>6. Количество мест:</span></div>
  <div class="line" style="text-align: left;margin: 10px 0;"><span>7. Количество мест получено фактически:</span></div>
  {% for items_part in items %}
    <table>
      <tr>
        <th><b>Модель</b></th>
        <th></th>
        <th>Цвет</th>
        <th>Артикул</th>
        <th>Цена</th>
        <!--<th>Кол-во серий</th>-->
        <th>Состав серии</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </tr>
      {% for item in items_part %}
        <tr>
          <td>
            {% if item.product.main_im %}
              {% thumbnail item.product.main_im "300x300" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}</td>
            {% else %}
              <img src="/static/img/no-image.jpg" class="">
            {% endif %}

          <th>{% if item.product.images.all.1 %}
            {% thumbnail item.product.images.all.1.image "400x400" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          {% endif %}</th>
          <th>{{ item.product.color.name }}</th>
          <th>{{ item.product.name }}<br>
            Код: {{ item.product.article }}
          </th>
          <th>{{ item.price }}</th>
          <!--<th>{{ item.get_max_series_count }}</th>-->
          <th>{% for i in item.sizes %}
            {{ i.size }} - {{ i.quantity }}<br>
          {% endfor %}
          </th>
          <th>{{ item.all_quantity }}</th>
          <th>{{ item.all_price|floatformat:2 }}</th>
        </tr>
      {% endfor %}
      {% if forloop.last %}
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!--<th></th>-->
          <th></th>
          <th>{{ all_quantity }}</th>
          <th>{{ all_price|floatformat:2 }}</th>
        </tr>
      {% endif %}
    </table>
  {% if forloop.last %}
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
    <div style="text-align: left;margin: 40px 0 10px 0;">Итого сумма возврата <b>{{ all_price|floatformat:2 }}руб. ({{ total_price_string }})</b></div>
    <div style="text-align: center;margin: 20px 0 10px 0;">ПОДПИСИ СТОРОН:</div>
    <table style="border: 0px; margin: 10px 0;">
      <tr style="border: 0px;">
        <td style="border: 0px;">
          <b>
            {% if order.client.legal_form == 1 %}
              Индивидуальный предприниматель
            {% else %}
              Генеральный директор
            {% endif %}
          </b>
        </td>
        <td style="border: 0px;"><b>Генеральный директор</b></td>
      </tr>
      <tr style="border: 0px;">
        <td style="border: 0px;">
          ________________ / {{ refund_act.client.get_person_name }} /
        </td>
        <td style="border: 0px;">
          ________________ / Палчевская Е.В. /
        </td>
      </tr>
    </table>
    {% if footer_on_new_page %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ pages_count }} / {{ pages_count }}</div>
    {% else %}
      <div style="text-align: right;margin: 10px 0;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
    {% endif %}
  {% else %}
    <div style="text-align: right;margin: 10px 0;page-break-after: always;">стр: {{ forloop.counter }} / {{ pages_count }}</div>
  {% endif %}

  {% endfor %}
{% endblock %}


