<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название фабрики">
        </div>
        <div class="form-group">
            <label for="name">Номер телефона фабрики</label>
            <input type="text" name="phone" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Адрес фабрики</label>
            <input type="text" name="address" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Контактное лицо</label>
            <input type="text" name="contact_person" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" name="contact_email" class="form-control">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>