<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (артикул/название)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
            <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="is_active">Обработано</label>
                <select class="form-control" name="is_active">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
             <div class="col-md-4">
              <div class="form-group">
                <label for="has_images">С изображением</label>
                <select class="form-control" name="has_images">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="is_consistency_move">Состав перенесен?</label>
                <select class="form-control" name="is_consistency_move">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Бренд</label>
                <input type="text" class="form-control" name="brand">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Категория</label>
                <input type="text" class="form-control" name="main_collection">
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="seasonality">Сезонность</label>
                    <select class="form-control" name="seasonality">
                      <option value="" active></option>
                      <option value="1">Весна/Лето</option>
                      <option value="2">Осень/Зима</option>
                      <option value="3">Basic</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="has_remains">Есть в наличии</label>
                <select class="form-control" name="has_remains">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="warehouse_id_remains">Есть на складе</label>
                <input type="text" class="form-control" name="warehouse_id_remains">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="warehouse_id_no_remains">Нет на складе</label>
                <input type="text" class="form-control" name="warehouse_id_no_remains">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="has_price">Наличие цены</label>
                <select class="form-control" name="has_price">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="min_price">Цена от</label>
                <input type="number" class="form-control" name="min_price">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="max_price">Цена до</label>
                <input type="number" class="form-control" name="max_price">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Предложение</label>
                <input type="text" class="form-control" name="offer">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Публичный</label>
                <select class="form-control" name="is_public">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
    </div>
</div>