<div id="product_item_{{ id }}" class="panel">
  <div class="panel-content">
      <div class="row">
          <div class="col-md-3">
              <div class="image captioned">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
                  <div class="image-caption">
                    {{#if image}}
                        <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
                    {{/if}}
                    <a class="image-edit" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-pencil"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-xs-3 header">
                <h3><strong>№:{{ id }}</strong> {{#if canViewOffersLink }}{{#if offer }}<a class="offer-data" href="javascript://"><span class="label label-default" data-toggle="tooltip" data-placement="top" title="Создано на основании предложения №:{{ offer }}. Кликните, чтобы посмотреть.">Пр. №:{{ offer }}</span></a>{{/if}}{{/if}}</h3>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" name="article" placeholder="Введите артикул модели">
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                    <input type="checkbox" name="is_active" data-checkbox="icheckbox_square-blue">
                    <label for="is_active">Обработано</label>
                </div>
              </div>
              <div class="col-xs-3">
                <img src="{{ brand_detail.image.200x200 }}" class="image-edit img-responsive pull-right" style="max-height: 34px;max-width: 50px;">
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="main_collection">Категория</label>
                        <input type="text" class="form-control" name="main_collection" placeholder="Введите название категории">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="color">Цвет</label>
                        <input class="form-control" name="color" type="text" placeholder="Введите название цвета">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="article">Название</label>
                        <input class="form-control" name="name" type="text" placeholder="Введите название товара">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="seasonality">Сезонность</label>
                        <select class="form-control" name="seasonality">
                          <option value="1">Весна/Лето</option>
                          <option value="2">Осень/Зима</option>
                          <option value="3">Basic</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 {{#unless userCanPriceView }}hidden{{/unless}}">
                    <div class="form-group">
                        <label for="price">Цена</label>
                        <input class="form-control {{#unless userCanPriceEdit }}hidden{{/unless}}" name="price" type="text" placeholder="Введите цену">
                        {{#unless userCanPriceEdit }}<p class="form-control form-white">{{ price }}</p>{{/unless}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Вес (г)</label>
                        <input class="form-control" name="intag_weight" type="text" placeholder="Укажите вес в граммах">
                    </div>
                </div>
            </div>
            <div class="row {{#unless userCanPriceView }}hidden{{/unless}}">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="public_price">Цена на сайте</label>
                        <input class="form-control" name="public_price" type="text" placeholder="Введите цену">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="public_old_price"><strike>Цена на сайте</strike></label>
                        <input class="form-control" name="public_old_price" type="text" placeholder="Введите цену">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 {{#unless userCanHasRemainsView }}hidden{{/unless}}">
                    <div class="form-group">
                        <label for="has_remains">Есть в наличии</label>
                        <p class="form-control form-white">{{#if has_remains }}Да{{else}}Нет{{/if}}</p>
                    </div>
                </div>
            </div>
            <div class="row price-board-region"></div>
          </div>
      </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="row">
        <div class="col-xs-8 button-status-list">
            <div class="btn-group button-status-list"></div>
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                <a href="/product/{{ id }}/" class="btn btn-info details">Детали</a>
                <div class="btn btn-success save">Сохранить</div>
            </div>
        </div>
    </div>
  </div>
</div>