<div class="row">
  <div class="col-xs-12 header">
    <h3><strong>№:{{ id }}</strong> {{ name }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
      <div class="image captioned">
          {{#if image}}
              <img src="{{image.200x200}}" alt="" class="image-link img-responsive" data-toggle="tooltip" data-placement="left" title="Увеличить">
          {{else}}
              <img src="/static/img/no-image.jpg" class="img-responsive">
          {{/if}}
      </div>
  </div>
  <div class="col-md-9">
      <div class="form-group">
        <label for="price">Цена</label>
        <div class="input-group price">
            <p class="form-control">{{ price }}</p>
            <div class="input-group-btn">
                <p class="form-control">{{ currency }}</p>
            </div>
        </div>
      </div>
      <p class="cost_data"><small>Стоимость образца: <b>{{ cost }}</b></small></p>
      <p class="delivery_cost_data"><small>Стоимость доставки_образца: <b>{{ delivery_cost }}</b></small></p>
  </div>
</div>