<div class="region_search"></div>
<div class="panel">
    <div class="panel-body">
        <div class="container_spinner"></div>
        <div class="region_list"></div>
    </div>
</div>
<div class="region_paginator"></div>