<form class="form">
    <div class="input-group">
        <input type="text" class="form-control search" placeholder="Поиск">

        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </div>
</form>