<td>{{id}}</td>
<td>{{ status_detail.name }}</td>
<td>{{client_detail.name}}</td>
<td>{{amount_full}}</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
<td>{{category}}</td>
