<div class="header">
  <h2>Акты на возврат</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Акты на возврат</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="region_filter"></div>
    <div class="region_complex"></div>
  </div>
</div>