<div class="logopanel">
  <h1>
    <a href="#"></a>
  </h1>
</div>
<div class="sidebar-inner">
  <div class="sidebar-top">
    <!--
    <form action="search-result.html" method="post" class="searchform" id="search-results">
      <input type="text" class="form-control" name="keyword" placeholder="Search...">
    </form>
    -->
    <div class="userlogged clearfix">
      <i class="icon icons-faces-users-01"></i>
      <div class="user-details">
        <h4>{{user.name}}</h4>
        <span>{{user.email}}</span>
      </div>
    </div>
  </div>
  <div id="nav-region"></div>
  <div class="sidebar-footer clearfix"></div>
</div>