<ul class="nav nav-sidebar">
    {{#if user.userCanMainMenuView }}
        <li id="menu-dashboard" >
            <a data-link="/"><i class="icon-home"></i><span>Главная</span></a>
        </li>
        {{# ifCond user.userCanViewGroups '||' user.userCanViewUsers }}
        <li id="menu-users-and-groups" class="nav-parent">
            <a><i class="icon-people"></i><span>Пользователи и группы</span> <span class="fa arrow"></span></a>
            <ul class="children collapse">
                {{#if user.userCanViewUsers }}
                    <li id="submenu-user"><a data-link="/user/"> Пользователи</a></li>
                {{/if}}
                {{#if user.userCanViewGroups }}
                    <li id="submenu-group"><a data-link="/group/"> Группы</a></li>
                {{/if}}
            </ul>
        </li>
        {{/ifCond}}
        {{# if user.userCanViewOffers }}
        <li id="menu-offers" class="nav-parent">
          <a><i class="icon-puzzle"></i><span>Предложения</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li id="submenu-offer-draft"><a data-link="/offer-draft/"> Новое</a></li>
            <li id="submenu-offer-approving"><a data-link="/offer-approving/"> Образец</a></li>
            <li id="submenu-offer-approved"><a data-link="/offer-approved/"> В заказ</a></li>
            <li id="submenu-offer-archive"><a data-link="/offer-archive/"> Архив</a></li>
            <li id="submenu-offer-deleted"><a data-link="/offer-deleted/"> Корзина</a></li>
          </ul>
        </li>
        {{/if}}
        {{#if user.CanViewOwnRetailMenu }}
        <li id="menu-own_retail" class="nav-parent">
          <a><i class="icon-handbag"></i><span>Собственная розница</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{# if user.userCanViewOwnStore }}
                <li id="submenu-own_store"><a data-link="/own_store/"> Магазины</a></li>
            {{/if}}
            {{# if user.userCanViewSubscriber }}
                <li id="submenu-subscriber"><a data-link="/subscriber/"> Подписчики</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{#if user.CanViewCataloguesMenu }}
        <li id="menu-catalogues" class="nav-parent">
          <a><i class="icon-list"></i><span>Справочники</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{# if user.userCanViewProducts }}
                <li id="submenu-product"><a data-link="/product/"> Модели</a></li>
            {{/if}}
            {{# if user.userCanViewProducts }}
                <li id="submenu-shop_equipment"><a data-link="/shop_equipment/"> Торговое оборудование</a></li>
            {{/if}}
            {{# if user.userCanViewProducts }}
                <li id="submenu-promo"><a data-link="/promo/"> Рекламная продукция</a></li>
            {{/if}}
            {{# if user.userCanViewProducts }}
                <li id="submenu-lighting"><a data-link="/lighting/"> Осветительные приборы</a></li>
            {{/if}}
            {{# if user.userCanViewProductLabels }}
                <li id="submenu-product_label"><a data-link="/product_label/"> Этикетки</a></li>
            {{/if}}
            {{# if user.userCanViewFactories }}
                <li id="submenu-factory"><a data-link="/factory/"> Фабрики</a></li>
            {{/if}}
            {{# if user.userCanViewWarehouses }}
                <li id="submenu-warehouse"><a data-link="/warehouse/"> Склады</a></li>
            {{/if}}
            {{# if user.userCanViewClients }}
                <li id="submenu-client"><a data-link="/client/"> Партнеры</a></li>
            {{/if}}
            {{# if user.userCanViewProviders }}
                <li id="submenu-provider"><a data-link="/provider/"> Поставщики</a></li>
            {{/if}}
            {{# if user.userCanViewStores }}
                <li id="submenu-store"><a data-link="/store/"> Магазины</a></li>
            {{/if}}
            {{# if user.userCanViewEmployees }}
                <li id="submenu-employee"><a data-link="/employee/"> Сотрудники магазинов</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{# if user.userCanViewOrdersMenu }}
        <li id="menu-manufacturing_orders" class="nav-parent">
          <a><i class="fa fa-industry"></i><span>Заказы</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewManufacturingOrders }}
                <li id="submenu-manufacturing_order"><a data-link="/manufacturing_order/"> Общий список заказов</a></li>
                <li id="submenu-manufacturing_order-f"><a data-link="/manufacturing_order-factory/"> Список заказов на фабрику</a></li>
                <li id="submenu-manufacturing_order-o"><a data-link="/manufacturing_order-offer/"> Список заказов по образцам</a></li>
            {{/if}}
            <li id="submenu-manufacturing_label_order"><a data-link="/manufacturing_label_order/"> Заказ этикеток</a></li>
            {{#if user.userCanViewSupply }}
              <li id="submenu-supply"><a data-link="/supply/"> Перемещение</a></li>
            {{/if}}
            {{#if user.userCanViewPurchase }}
              <li id="submenu-purchase"><a data-link="/purchase/"> Закупки</a></li>
            {{/if}}
              {{#if user.userCanViewOrderFromSite }}
              <li id="submenu-purchase"><a data-link="/order_from_site/"> Заказы с сайта</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{# if user.canViewShopMenu }}
        <li id="menu-shop" class="nav-parent">
          <a><i class="fa fa-shopping-cart"></i><span>Продажа</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewShop }}
                <li id="submenu-shop_catalog"><a data-link="/shop/catalog/"> Каталог</a></li>
            {{/if}}
          {{#if user.userCanViewPreorder }}
            <li id="submenu-preorder"><a data-link="/preorder/"> Предзаказ</a></li>
            {{/if}}
            {{#if user.userCanViewAggreementOffer }}
                <li id="submenu-aggreement-offer"><a data-link="/aggreement-offer/"> Новые модели</a></li>
            {{/if}}
            {{#if user.userCanViewOfferRequest }}
              <li id="submenu-offer_requests"><a data-link="/offer-requests/"> Предзаказы на новые модели</a></li>
            {{/if}}
            {{#if user.userCanViewOrders }}
              <li id="submenu-order"><a data-link="/order/"> Бланк-заказы</a></li>
            {{/if}}
            {{#if user.userCanViewOrdersReturn }}
              <li id="submenu-order_return"><a data-link="/order_return/"> Возвраты от партнеров</a></li>
            {{/if}}
            {{#if user.userCanViewInvoice }}
              <li id="submenu-invoice"><a data-link="/invoice/"> Счета</a></li>
            {{/if}}
            {{#if user.userCanViewPaying }}
              <li id="submenu-paying"><a data-link="/paying/"> Платежи</a></li>
            {{/if}}
            {{#if user.userCanViewDefectAct }}
              <li id="submenu-defect_act"><a data-link="/defect_act/"> Акты о браке</a></li>
            {{/if}}
            {{#if user.userCanViewRefundAct }}
              <li id="submenu-refund_act"><a data-link="/refund_act/"> Акты на возврат</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{#if user.canViewPartnerMenu }}
        <li id="menu-reports" class="nav-parent">
          <a><i class="fa fa-handshake-o"></i><span>Партнеры</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewOrdersB2С }}
              <li id="submenu-order_b2c"><a data-link="/order_b2c/"> Продажи</a></li>
            {{/if}}
            {{#if user.userCanViewOrdersReturnB2С }}
              <li id="submenu-order_return_b2c"><a data-link="/order_return_b2c/"> Возвраты покупателей</a></li>
            {{/if}}
            {{#if user.userCanViewTask }}
              <li id="submenu-task"><a data-link="/task/"> Задачи</a></li>
            {{/if}}
            {{# if user.userCanViewBuyerProfiles }}
                <li id="submenu-buyer_profile"><a data-link="/buyer_profile/"> Анкеты клиентов</a></li>
            {{/if}}
            {{# if user.userCanViewDocumentScans }}
                <li id="submenu-document_scan"><a data-link="/document_scan/"> Документы</a></li>
            {{/if}}
            {{# if user.userCanViewDocumentPriceSet }}
                <li id="submenu-price_set"><a data-link="/price_set/"> Ценообразование</a></li>
            {{/if}}
            {{#if user.userCanViewNewsletter }}
              <li id="submenu-newsletter"><a data-link="/newsletter/"> Смс-рассылки</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{#if user.canViewReportsMenu }}
        <li id="menu-reports" class="nav-parent">
          <a><i class="fa fa-line-chart"></i><span>Отчеты</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewReportClientStatistic }}
              <li id="submenu-report_client_statistic"><a data-link="/report/client_statistic/"> Выручка</a></li>
            {{/if}}
            {{#if user.userCanViewReportMovementOfGoods }}
              <li id="submenu-report_movement_of_goods"><a data-link="/report/movement_of_goods/"> По движению товаров</a></li>
            {{/if}}
            {{#if user.userCanViewReportRemain }}
              <li id="submenu-report_remain"><a data-link="/report/remain/"> Остатки партнеров</a></li>
            {{/if}}
            {{#if user.userCanViewReportProductsNotSold }}
              <li id="submenu-report_products_not_sold"><a data-link="/report/products_not_sold/"> Не проданные товары</a></li>
            {{/if}}
            {{#if user.userCanViewReportSalesPlan }}
              <li id="submenu-report_sales_plan"><a data-link="/report/sales_plan/"> Мониторинг продаж</a></li>
            {{/if}}
            {{#if user.userCanViewReportSalesPlanProject }}
              <li id="submenu-report_sales_plan_project"><a data-link="/report/sales_plan_project/"> Проект плана</a></li>
            {{/if}}
            {{#if user.userCanViewReportEmployeeSale }}
              <li id="submenu-report_employee_sale"><a data-link="/report/employee_sale/"> По продавцам</a></li>
            {{/if}}
            {{#if user.userCanViewReportMutualPayments }}
              <li id="submenu-report_mutual_payments"><a data-link="/report/mutual_payments/"> Взаиморасчеты</a></li>
            {{/if}}
            {{#if user.userCanViewReportOfficePlan }}
              <li id="submenu-report_office_plan"><a data-link="/report/office_plan/"> Офис-план</a></li>
            {{/if}}
            {{#if user.userCanViewReportConsolidated }}
              <li id="submenu-report_consolidated"><a data-link="/report/consolidated/"> Сводный отчет</a></li>
            {{/if}}
            {{#if user.userCanViewReportPartnerDayStatistic }}
              <li id="submenu-report_partner_day_statistic"><a data-link="/report/partner_day_statistic/"> Статистика партнеров по дням</a></li>
            {{/if}}
            {{#if user.userCanViewReportEmployeeDayStatistic }}
              <li id="submenu-report_employee_day_statistic"><a data-link="/report/employee_day_statistic/"> Статистика продавцов по дням</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{# if user.userCanViewPaymentAccounts }}
        <li id="menu-payments" class="nav-parent">
          <a><i class="fa fa-money"></i><span>Финансы</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li id="submenu-payment_account"><a data-link="/{{#if user.userCanAllPaymentAccountsView }}payment_user{{else}}payment_account{{/if}}/"> Счета</a></li>
            {{#if user.userCanViewExpenseItem }}
               <li id="submenu-expense_item"><a data-link="/expense_item/"> Статьи расходов</a></li>
            {{/if}}
          </ul>
        </li>
        {{/if}}
        {{#ifCond user.userCanViewMusic '||' user.userCanViewVideo}}
        <li id="menu-media" class="nav-parent">
          <a><i class="fa fa-music"></i><span>Медиа</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewMusic }}
              <li id="submenu-music"><a data-link="/multimedia/music/"> Музыка</a></li>
            {{/if}}
            {{#if user.userCanViewVideo }}
              <li id="submenu-video"><a data-link="/video/"> Видео</a></li>
            {{/if}}
          </ul>
        </li>
        {{/ifCond}}

        {{# if user.userCanViewPlanning }}
        <li id="menu-planning" class="nav-parent">
          <a><i class="fa fa-calendar"></i><span>Планирование</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            {{#if user.userCanViewSalesPlan }}
              <li id="submenu-sales_plan"><a data-link="/sales_plan/"> План продаж</a></li>
            {{/if}}
            {{#if user.userCanViewSeasonProductCollectionPlan }}
              <li id="submenu-season_product_collection_plan"><a data-link="/season_product_collection_plan/"> % сезонность</a></li>
            {{/if}}
            {{#if user.userCanViewEmployeesWorkSchedule }}
              <li id="submenu-employees_work_schedule"><a data-link="/employees_work_schedule/"> Графики работы</a></li>
            {{/if}}

          </ul>
        </li>
        {{/if}}

        {{# if user.userCanViewMerchandising }}
        <li id="menu-merchandising" class="nav-parent">
          <a><i class="fa fa-cubes"></i><span>Мерчендайзинг</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li id="submenu-holder_print"><a data-link="/holder_print/"> Печать холдеров</a></li>
          </ul>
        </li>
        {{/if}}
    {{else}}
        {{#if user.userCanClientMenuView }}
            <li id="menu-dashboard" class="nav-parent">
              <a><i class="icon-list"></i><span>Меню</span> <span class="fa arrow"></span></a>
              <ul class="children collapse">
                <li id="submenu-dashboard" >
                    <a data-link="/"> Главная</a>
                </li>
                {{#if user.userCanViewReportClientStatistic }}
                  <li id="submenu-report_client_statistic"><a data-link="/report/client_statistic/"> Cтатистика</a></li>
                {{/if}}
                {{#if user.userCanViewOrders }}
                  <li id="submenu-order"><a data-link="/order/"> Бланк-заказы</a></li>
                {{/if}}
                {{#if user.userCanViewOrdersReturn }}
                  <li id="submenu-order_return"><a data-link="/order_return/"> Возвраты от партнеров</a></li>
                {{/if}}
                {{#if user.userCanViewOrdersB2С }}
                  <li id="submenu-order_b2c"><a data-link="/order_b2c/"> Продажи</a></li>
                {{/if}}
                {{#if user.userCanViewOrdersReturnB2С }}
                  <li id="submenu-order_return_b2c"><a data-link="/order_return_b2c/"> Возвраты покупателей</a></li>
                {{/if}}
                {{#if user.userCanViewReportMovementOfGoods }}
                  <li id="submenu-report_movement_of_goods"><a data-link="/report/movement_of_goods/"> По движению товаров</a></li>
                {{/if}}
                {{#if user.userCanViewReportProductsNotSold }}
                  <li id="submenu-report_products_not_sold"><a data-link="/report/products_not_sold/"> Не проданные товары</a></li>
                {{/if}}
                {{#if user.userCanViewShop }}
                    <li id="submenu-shop_catalog"><a data-link="/shop/catalog/"> Каталог</a></li>
                {{/if}}
                {{#if user.userCanViewAggreementOffer }}
                    <li id="submenu-aggreement-offer"><a data-link="/aggreement-offer/"> Новые модели</a></li>
                {{/if}}
                {{#if user.userCanViewOfferRequest }}
                  <li id="submenu-offer_requests"><a data-link="/offer-requests/"> Предзаказы на новые модели</a></li>
                {{/if}}
                {{#if user.userCanViewTask }}
                  <li id="submenu-task"><a data-link="/task/"> Задачи</a></li>
                {{/if}}
                {{# if user.userCanViewBuyerProfiles }}
                    <li id="submenu-buyer_profile"><a data-link="/buyer_profile/"> Анкеты клиентов</a></li>
                {{/if}}
                {{#if user.userCanViewDefectAct }}
                  <li id="submenu-defect_act"><a data-link="/defect_act/"> Акты о браке</a></li>
                {{/if}}
                {{#if user.userCanViewRefundAct }}
                  <li id="submenu-refund_act"><a data-link="/refund_act/"> Акты на возврат</a></li>
                {{/if}}
                {{# if user.userCanViewDocumentScans }}
                    <li id="submenu-document_scan"><a data-link="/document_scan/"> Документы</a></li>
                {{/if}}
                {{#if user.userCanViewReportEmployeeSale }}
                  <li id="submenu-report_employee_sale"><a data-link="/report/employee_sale/"> Отчет по продавцам</a></li>
                {{/if}}
                {{#if user.userCanViewReportSalesPlan }}
                  <li id="submenu-report_sales_plan"><a data-link="/report/sales_plan/"> Мониторинг продаж</a></li>
                {{/if}}
                {{#if user.userCanViewReportMutualPayments }}
                  <li id="submenu-report_mutual_payments"><a data-link="/report/mutual_payments/"> Взаиморасчеты</a></li>
                {{/if}}
                {{#if user.userCanViewVideo }}
                  <li id="submenu-video"><a data-link="/video/"> Видео</a></li>
                {{/if}}
              </ul>
            </li>
        {{/if }}
    {{/if}}
</ul>