<a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="">
</a>
<a class="pull-left footer-music" href="/multimedia/player/" target="_blank" data-rel="tooltip" data-placement="top" data-original-title="Воспроизведение музыки">
<i class="fa fa-play"></i>
</a>
<a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="На весь экран">
<i class="icon-size-fullscreen"></i></a>
<a class="pull-left btn-effect" href="/logout/" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Выход">
<i class="icon-power"></i></a>