<div class="header-left">
    <div class="topnav">
      <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Меню</span></span></a>
    </div>
</div>
<div class="header-right">
    <ul class="header-menu nav navbar-nav">
      <!-- BEGIN USER DROPDOWN -->
      <li class="dropdown" id="user-header">
        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-user"></i>
        <!--<img src="/static/assets/global/images/avatars/user1.png" alt="user image">-->
        <span class="username">{{user.name}}</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="change_self_password_button"><i class="icon-settings"></i><span>Изменение пароля</span></a>
          </li>
          <li>
            <a href="/logout/"><i class="icon-logout"></i><span>Выход</span></a>
          </li>
        </ul>
      </li>
      <!-- END USER DROPDOWN -->
    </ul>
</div>
<!-- header-right -->