{{#if show_alert}}
    <div class="alert alert-info tab_alert">
        <button type="button" class="close pull-right ">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="m-l-20">
            <li>
                Сортировка изображений происходит путем перетаскивания: схватите изображения и поместите куда надо.
            </li>
            <li>
                Увеличить изображение можно кликнув по нему или кликнув по иконке <i class="fa fa-search-plus"></i>,
                которая появляется при наведении мышки на изображение.
            </li>
            <li>
                Удалить изображение можно кликнув по нему или кликнув по иконке <i class="fa fa-times"></i>,
                которая появляется при наведении мышки на изображение.
            </li>
            <li>
                Все действия сохраняются автоматически
            </li>
        </ul>
    </div>
{{/if}}
<div class="panel">
    {{# ifCond button_position '==' 'top'}}
        <div class="panel-header panel-controls">
          <h3>Изображения</h3>
          <div class="control-btn">
              <label for="fileupload_offer_image" class="btn btn-primary pull-right label_fileupload">
                  Загрузить новое изображение
              </label>
              <input type="file" multiple class="fileupload hide" name="image" id="fileupload_offer_image">
          </div>

        </div>
    {{/ifCond}}
    <div class="panel-content">

        <div class="row region_image_list">

        </div>
    </div>

</div>
{{# ifCond button_position '==' 'bottom'}}
    <div>
        <div class="control-btn">
              <label for="fileupload_offer_image" class="btn btn-primary pull-right label_fileupload">
                  Загрузить новое изображение
              </label>
              <input type="file" multiple class="fileupload hide" name="image" id="fileupload_offer_image">
          </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></div>
{{/ifCond}}