{{# if userCanViewSupply }}
    {{#if show_header}}
    <h3 class="m-t-30 m-b-20"><i class="icon-puzzle"></i> Сводка по <strong> Поставкам</strong></h3>
    {{/if}}
    <div class="widget-infobox">
      <div class="region_set_price infobox infobox-clickable hover-bg-blue">
        <div class="left">
            <i class="fa fa-usd bg-blue"></i>
        </div>
        <div class="right">
            <div class="clearfix">
              <div>
                <span class="c-blue pull-right to_set_prices" data-toggle="tooltip" data-placement="top" title="Всего">-</span>

              </div>
              <div class="txt">Назначить цены</div>
            </div>
        </div>
      </div>
    </div>
{{/if}}