<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    <div class="hidden">
                        {{#formControl 'Тип оплаты' 6}}
                            <input type="text" name="payment_method" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                        {{/formControl}}
                        {{#formControl 'Оплаченно' 6}}
                            <input type="text" name="amount_paid" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                        {{/formControl}}
                    </div>
                    {{#formControl 'Счет оплаты заказа' 6}}
                        <input type="text" name="payment_account" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Счет оплаты этикеток' 6}}
                        <input type="text" name="internal_label_payment_account" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Cтоимость заказано' 6}}
                        <input type="text" name="ordered_amount" class="form-control form-white" readonly="readonly" disabled="disabled">
                    {{/formControl}}
                    {{#formControl 'Аванс' 6}}
                        <input type="text" name="prepayment" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Cтоимость получено' 6}}
                        <input type="text" name="amount_received" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Осталось заплатить' 6}}
                        <input type="text" name="left_to_pay" class="form-control form-white" readonly="readonly" disabled="disabled">
                    {{/formControl}}
                    {{#formControl 'Транспортные расходы' 6}}
                        <input type="text" name="transport_costs" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                    {{#formControl 'Cтоимость' 6}}
                        <input type="text" name="amount_full" class="form-control form-white" readonly="readonly" disabled="disabled"">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Фабрика' 4}}
                        <input type="text" name="factory" class="form-control {{#unless canEditPrepayment }}form-white{{/unless}}" {{#unless canEditPrepayment }}readonly="readonly" disabled="disabled"{{/unless}}>
                    {{/formControl}}
                </div>
                <div class="form form-horizontal">
                    {{#formControl 'Тип заказа' 4}}
                        <p class="kind_display_field form-control form-white"></p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="form form-horizontal">
            <div class="">
                {{#formControl 'Описание' 2}}
                    <textarea rows=5 name="description" class="form-control summernote bg-white"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_order">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>