<div class="row">
    <div class="col-md-12 form-horizontal">
        {{#formControl 'Активен' 4}}
            <input type="checkbox" name="is_active" class="form-control">
        {{/formControl}}
        {{#formControl 'Название' 4}}
            <input type="text" name="name" class="form-control">
        {{/formControl}}
        {{#formControl 'Код' 4}}
            <p class="form-control form-white code_field"></p>
        {{/formControl}}
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <button class="btn btn-primary save">Сохранить</button>
    </div>
</div>