.shop_catalog {
  .region_shop_product_panel_items {
    .product_item {
      .product_id,
      .product_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .region_sidebar {
    .product_collection {
      color: black;
      text-transform: uppercase;
      line-height: 27px;
    }
    .product_collection.active {
      font-weight: bold;
    }
    .cart_complex_view {
      .cart_item {
        padding: 10px 0;
        border-bottom: 1px solid #cdcdcd;

        .product_data {
          padding-right: 25px;
          position: relative;

          .product_name,
          .product_article {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .buttons {
            position: absolute;
            right: 0;
            top: 0px;
          }
        }
      }
      .cart_item:first-child {
        padding-top: 0;
      }
      .cart_item:last-child {
        border-bottom: 0;
      }
    }
  }
}
