<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="month">Месяц</label>
            <select class="form-control form-white" name="month" disabled="disabled">
              <option value="1">Январь</option>
              <option value="2">Февраль</option>
              <option value="3">Март</option>
              <option value="4">Апрель</option>
              <option value="5">Май</option>
              <option value="6">Июнь</option>
              <option value="7">Июль</option>
              <option value="8">Август</option>
              <option value="9">Сентябрь</option>
              <option value="10">Октябрь</option>
              <option value="11">Ноябрь</option>
              <option value="12">Декабрь</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="year">Год</label>
            <input type="number" class="form-control form-white" name="year" placeholder="2000-3000" disabled="disabled">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="plan">План</label>
            <input type="number" class="form-control" name="plan" placeholder="0-1000000000" min="0" max="1000000000">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="week1">Неделя 1</label>
            <input type="number" class="form-control" name="week1" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="week2">Неделя 2</label>
            <input type="number" class="form-control" name="week2" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="week3">Неделя 3</label>
            <input type="number" class="form-control" name="week3" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="week4">Неделя 4</label>
            <input type="number" class="form-control" name="week4" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="week5">Неделя 5</label>
            <input type="number" class="form-control" name="week5" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="week6">Неделя 6</label>
            <input type="number" class="form-control" name="week6" placeholder="0-100" min="0" max="100">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="day1">Понедельник</label>
            <input type="number" class="form-control" name="day1" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day2">Вторник</label>
            <input type="number" class="form-control" name="day2" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day3">Среда</label>
            <input type="number" class="form-control" name="day3" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day4">Четверг</label>
            <input type="number" class="form-control" name="day4" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day5">Пятница</label>
            <input type="number" class="form-control" name="day5" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day6">Суббота</label>
            <input type="number" class="form-control" name="day6" placeholder="0-100" min="0" max="100">
        </div>
        <div class="form-group">
            <label for="day7">Воскресенье</label>
            <input type="number" class="form-control" name="day7" placeholder="0-100" min="0" max="100">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>