
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Месяц</th>
              <th>План</th>
            </tr>
          </thead>
          <tbody class="region_table_items"></tbody>
        </table>