<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="month">Месяц</label>
            <select class="form-control" name="month">
              <option value="1">Январь</option>
              <option value="2">Февраль</option>
              <option value="3">Март</option>
              <option value="4">Апрель</option>
              <option value="5">Май</option>
              <option value="6">Июнь</option>
              <option value="7">Июль</option>
              <option value="8">Август</option>
              <option value="9">Сентябрь</option>
              <option value="10">Октябрь</option>
              <option value="11">Ноябрь</option>
              <option value="12">Декабрь</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="year">Год</label>
            <input type="number" class="form-control" name="year" placeholder="2000-3000" min="2000" max="3000">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="plan">План</label>
            <input type="number" class="form-control" name="plan" placeholder="0-1000000000" min="0" max="1000000000">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>