<td>{{id}}</td>
<td>{{factory_detail.name}}</td>
<td>{{status_detail.name}}</td>
<td>{{amount_full}}<i class="fa fa-cny"></i></td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
