<div id="product_item_{{ id }}" class="panel">
  <div class="panel-content">
      <div class="row">
          <div class="col-xs-2">
              №:{{id}}
          </div>
          <div class="col-xs-3">
              {{#if factory_detail}}
                {{factory_detail.name}}
              {{else}}
                -
              {{/if}}
          </div>
          <div class="col-xs-3">
              {{status_detail.name}}
          </div>
          <div class="col-xs-2">
              {{amount_full}}<i class="fa fa-cny"></i>
          </div>
          <div class="col-xs-2">
              <small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small>
          </div>
      </div>
      {{#if items}}
      <hr/>
      {{/if}}
      {{#each items}}
        <div class="row">
          <div class="col-md-1">
              <div class="image">
                  {{#if product_label_detail.image}}
                      <img src="{{ product_label_detail.image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
              </div>
          </div>
          <div class="col-md-7">
              {{ product_label_detail.name }}
          </div>
          <div class="col-md-3">
              {{ quantity }}шт.
          </div>
        </div>
      {{/each}}
  </div>
</div>


