<div class="panel">
  <div class="panel-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Модель</th>
          <th></th>
          <th>Поставлено</th>
          <th>Дата</th>
          <th>Продано</th>
          <th>Возврат от партнера</th>
          <th>Возврат от покупателя</th>
          <th>Остаток</th>
          <th>Ср.остаток / Оборачиваемость</th>
        </tr>
      </thead>
      <tbody class="region_table_items"></tbody>
    </table>
  </div>
</div>
