<td>
  {{#if image}}
      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive" style="max-width: 100px;max-height: 100px;float: left;">
  {{else}}
      <img src="/static/img/no-image.jpg" class="image-edit img-responsive" style="max-width: 100px;max-height: 100px;float: left;">
  {{/if}}
</td>
<td>
    <small>№{{id}}</small> {{name}} <br/><small><b>{{ color_detail.name }}</b><br/>({{ article }}) </small><br/>
    {{ order_price }}
</td>
<td>
    <ul class="list-unstyled">
        {{#each orders}}
        <li>
            <b>{{ size }}</b> - <span>{{ quantity }}</span>
        </li>
        {{/each}}
    </ul>
</td>
<td>
   <ul class="list-unstyled">
        {{#each order_dates}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</td>
<td>
    <ul class="list-unstyled">
        {{#each orders_b2c}}
        <li>
            <b>{{ size }}</b> - <span>{{ quantity }}</span>
        </li>
        {{/each}}
    </ul>
</td>
<td>
    <ul class="list-unstyled">
        {{#each orders_return}}
        <li>
            <b>{{ size }}</b> - <span>{{ quantity }}</span>
        </li>
        {{/each}}
    </ul>
</td>
<td>
    <ul class="list-unstyled">
        {{#each orders_return_b2c}}
        <li>
            <b>{{ size }}</b> - <span>{{ quantity }}</span>
        </li>
        {{/each}}
    </ul>
</td>
<td>
    <ul class="list-unstyled">
        {{#each remains}}
        <li>
            <b>{{ size }}</b> - <span>{{ quantity }}</span>
        </li>
        {{/each}}
    </ul>
</td>
<td>
    {{# if turnaround.remain_avg}}
      {{#decimal_round turnaround.remain_avg}}{{/decimal_round}}
    {{else}}
      -
    {{/if}}
    /
    {{# if turnaround.value}}
      {{turnaround.value}}
    {{else}}
      -
    {{/if}}
</td>
