<div class="row">
    <div class="col-md-2">
        <h3>Поставлено</h3>
        <table class="table">
            {{#each order}}
            <tr>
                <td>
                    <div class="f-12">№{{ id }}. {{ date }}</div>
                    <ul class="list-unstyled">
                        {{#each sizes}}
                        <li>
                            <b>{{ size }}</b> - <span>{{ quantity }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-2">
        <h3>Продано</h3>
        <table class="table">
            {{#each order_b2c}}
            <tr>
                <td>
                    <div class="f-12">№{{ id }}. {{ date }}</div>
                    <ul class="list-unstyled">
                        {{#each sizes}}
                        <li>
                            <b>{{ size }}</b> - <span>{{ quantity }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-3">
        <h3>Возвраты от партнеров</h3>
        <table class="table">
            {{#each order_return}}
            <tr>
                <td>
                    <div class="f-12">№{{ id }}. {{ date }}</div>
                    <ul class="list-unstyled">
                        {{#each sizes}}
                        <li>
                            <b>{{ size }}</b> - <span>{{ quantity }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-3">
        <h3>Возвраты от покупателей</h3>
        <table class="table">
            {{#each order_return_b2c}}
            <tr>
                <td>
                    <div class="f-12">№{{ id }}. {{ date }}</div>
                    <ul class="list-unstyled">
                        {{#each sizes}}
                        <li>
                            <b>{{ size }}</b> - <span>{{ quantity }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-2">
        <h3>Остатки</h3>
        <table class="table">
            {{#if remains.length }}
            <tr>
                <td>
                    <ul class="list-unstyled">
                        {{#each remains}}
                        <li>
                            <b>{{ size }}</b> - <span>{{ quantity }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            {{/if  }}
        </table>
    </div>
</div>
