<div class="row">
<div class="form form-horizontall">
    {{#formControl 'Добавлять изображения' 6}}
        <input type="checkbox" class="form-control" name="with_images"></input>
    {{/formControl}}
</div>
</div>
    <button type="button" class="btn btn-success" name="export">Продолжить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
