<div class="header">
  <h2>Отчет "По движению товаров"</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Отчет "По движению товаров"</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_data"></div>