<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
        <button type="button" class="export_btn btn btn-success m-r-0"><span class="fa fa-file-excel-o"></span></button>
        <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden">
    <div class="row">
        <div class="col-md-4 {{#unless user.userCanViewClientFilter }}hidden{{/unless}}">
          <div class="form-group">
            <label>Партнер</label>
            <input type="text" class="form-control" name="card__client">
          </div>
        </div>
    </div>
</div>
