<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Тел.</th>
      <th>Карта постоянного клиента</th>
      <th>Сумма покупок</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>