<div class="region_search"></div>
<div class="container_spinner"></div>
<div class="region_list"></div>
<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="region_paginator"></div>
        </div>
    </div>
  </div>
</div>