<div id="product_item_{{ id }}" class="panel">
  <div class="panel-content">
      <div class="row">
          <div class="col-md-3">
              <div class="image captioned">
                  {{#if image}}
                      <img src="{{image.200x200}}" alt="" class="image-edit img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="image-edit img-responsive">
                  {{/if}}
                  <div class="image-caption">
                    {{#if image}}
                        <a class="image-link" data-toggle="tooltip" data-placement="left" title="Увеличить"><i class="fa fa-search-plus"></i></a>
                    {{/if}}
                    <a class="image-edit" data-toggle="tooltip" data-placement="left" title="Редактировать"><i class="fa fa-pencil"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-xs-3 header">
                <h3><strong>№:{{ id }}</strong></h3>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" name="article" placeholder="Введите артикул модели">
              </div>
              <div class="col-xs-6">
                <img src="{{ brand_detail.image.200x200 }}" class="image-edit img-responsive pull-right" style="max-height: 34px;max-width: 50px;">
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="checkbox" name="is_active2">
                        <label for="is_active2">Обработано?</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="main_collection">Категория</label>
                        <input type="text" class="form-control" name="main_collection" placeholder="Введите название категории">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="color">Цвет</label>
                        <input class="form-control" name="color" type="text" placeholder="Введите название цвета">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="article">Название</label>
                        <input class="form-control" name="name" type="text" placeholder="Введите название товара">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="seasonality">Сезонность</label>
                        <select class="form-control" name="seasonality">
                          <option value="1">Весна/Лето</option>
                          <option value="2">Осень/Зима</option>
                          <option value="3">Basic</option>
                        </select>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="btn btn-success save">Сохранить</div>
            </div>
        </div>
    </div>
  </div>
</div>