<div class="panel">
  <div class="panel-content">
    {{#if can_view_report_mutual_payments_all }}
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="client">Партнер</label>
                <input type="text" class="form-control" name="client">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="category">Категория</label>
                <select class="form-control" name="category">
                  <option value="" active>Все</option>
                  <option value="1">Первая</option>
                  <option value="2">Вторая</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="kind">Тип</label>
                <select class="form-control" name="kind">
                  <option value="" active>Все</option>
                  <option value="1">Товар</option>
                  <option value="2">Маркетинговый</option>
                  <option value="3">Командировочные расходы</option>
                  <option value="4">Прочие расходы</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="include_returns">Включать возвраты?</label>
                <select class="form-control" name="include_returns">
                  <option value="0">Нет</option>
                  <option value="1">Да</option>
                </select>
              </div>
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Сформировать</button>
        </div>
    </div>
  </div>
</div>