<div class="header">
  <h2>Взаиморасчеты</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Взаиморасчеты</li>
    </ol>
  </div>
</div>
<div class="region_form"></div>
<div class="region_chart"></div>