<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3><strong>Итого:</strong> {{#decimal_round_plus report.itogo }}{{/decimal_round_plus}} {{#ifCond report.itogo '<' 0 }}(Покупатель должен){{/ifCond}}{{#ifCond report.itogo '>' 0 }}(Продавец должен){{/ifCond}}</h3>
                <div class="control-btn" style="    margin-top: -5px;">
                  <button class="btn btn-primary export_print"><span class="fa fa-print"></span></button>
                  <button class="btn btn-primary export_pdf hidden"><span class="fa fa-file-pdf-o"></span></button>
                  <button class="btn btn-primary export_xls"><span class="fa fa-file-excel-o"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header"><h3>Приход средств</h3></div>
            <div class="panel-content">
                <table class="table">
                    <tr>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Комментарий</th>
                    </tr>
                    {{#each report.payings }}
                        <tr class="item {{#if items }}clickabled{{/if}} {{#ifCond category '==' 1 }}success{{/ifCond}}" data-item_id="p{{@index}}">
                            <td>
                                {{#decimal_round_plus amount}}{{/decimal_round_plus}}
                            </td>
                            <td>{{date}}</td>
                            <td>
                                {{ comment }}
                            </td>
                        </tr>
                        <tr class="active subitems subitems_p{{@index}} hidden">
                            <td colspan="3">
                                <table class="table">
                                    <tr class="active">
                                        <th>Сумма</th>
                                        <th>Комментарий</th>
                                    </tr>
                                    {{#each items }}
                                    <tr class="active">
                                        <td>
                                            {{#decimal_round_plus amount}}{{/decimal_round_plus}}
                                        </td>
                                        <td>{{comment}}</td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <th colspan="2">
                            {{#decimal_round_plus report.payings_sum}}{{/decimal_round_plus}}
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header"><h3>Расход средств</h3></div>
            <div class="panel-content">
                <table class="table">
                    <tr>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Комментарий</th>
                    </tr>
                    {{#each report.invoices }}
                        <tr class="item {{#if items }}clickabled{{/if}} {{#ifCond category '==' 1 }}success{{/ifCond}}" data-item_id="r{{@index}}">
                            <td>
                                {{#decimal_round_plus amount}}{{/decimal_round_plus}}
                            </td>
                            <td>{{date}}</td>
                            <td>
                                {{ comment }}
                            </td>
                        </tr>
                        <tr class="active subitems subitems_r{{@index}} hidden">
                            <td colspan="3">
                                <table class="table">
                                    <tr class="active">
                                        <th>Сумма</th>
                                        <th>Комментарий</th>
                                    </tr>
                                    {{#each items }}
                                    <tr class="active">
                                        <td>
                                            {{#decimal_round_plus amount}}{{/decimal_round_plus}}
                                        </td>
                                        <td>{{comment}}</td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <th colspan="2">
                            {{#decimal_round_plus report.invoices_sum}}{{/decimal_round_plus}}
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>