{{#if report_data.report_data}}
<div class="table-responsive">
    <table class="table table-striped report_table">
        <tr>
            <th>
                <div style="width:134px;white-space: normal;">Партнер</div>
            </th>
            <th>
                <div style="width: 80px;">План</div>
            </th>
            <th>
                <div style="width: 80px;">Факт</div>
            </th>
            {{#each report_data.dates}}
                <th>
                    <div style="width:70px;" data-col_id="{{@index}}">{{{ this }}}</div>
                </th>
            {{/each}}
        </tr>
        {{#each report_data.report_data }}
            <tr>
                <td style="width:134px;white-space: normal;">
                    <div style="min-height: 45px;">
                        {{ store }}
                    </div>
                </td>
                <td><strong>{{#decimal_round sales_plan}}{{/decimal_round}}</strong></td>
                <td>
                    <strong>{{#decimal_round month_amount_full}}{{/decimal_round}}</strong><br>
                    <small>{{#decimal_round execution_percentage}}{{/decimal_round}}%</small>
                </td>
                {{#each data }}
                    <td><div class="datacol_{{@index}}">
                        {{#decimal_round amont_full}}{{/decimal_round}}
                    </div></td>
                {{/each}}
            </tr>
        {{/each}}
        <!--<tr>
            <th style="width:134px;white-space: normal;">
                <div style="min-height: 45px;">Итого</div>
            </th>
            <th>
                {{#decimal_round report_data.all_report_data.sales_plan}}{{/decimal_round}}
            </th>
            <th>
                {{#decimal_round report_data.all_report_data.month_amount_full}}{{/decimal_round}}<br>
                <small>{{#decimal_round report_data.all_report_data.execution_percentage}}{{/decimal_round}}%</small></small>
            </th>
            {{#each report_data.all_report_data.data}}
                <th>
                    <div class="datacol_{{@index}}">{{#decimal_round amount_full}}{{/decimal_round}}</div>
                </th>
            {{/each}}
        </tr>
        -->
    </table>
</div>
{{/if}}