<td style="cursor: default;"><a href="{{file}}" class="link">{{ filename }}</a></td>
<td style="cursor: default;"><button type="button" class="btn btn-danger btn-square delete pull-right {{#unless user.canChangeFiles  }}hidden{{/unless}}">Удалить</button></td>
