<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    <div class="hidden">
                        {{#formControl 'Тип оплаты' 6}}
                            <input type="text" name="payment_method" class="form-control">
                        {{/formControl}}
                        {{#formControl 'Оплаченно' 6}}
                            <input type="text" name="amount_paid" class="form-control">
                        {{/formControl}}
                    </div>
                    {{#formControl 'Счет оплаты' 6}}
                        <input type="text" name="payment_account" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Cтоимость заказано' 6}}
                        <input type="text" name="ordered_amount" class="form-control form-white" readonly="readonly" disabled="disabled">
                    {{/formControl}}
                    {{#formControl 'Cтоимость получено' 6}}
                        <input type="text" name="received_amount" class="form-control form-white" readonly="readonly" disabled="disabled">
                    {{/formControl}}
                    {{#formControl 'Транспортные расходы' 6}}
                        <input type="text" name="transport_costs" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Cтоимость' 6}}
                        <input type="text" name="amount_full" class="form-control form-white" readonly="readonly" disabled="disabled"">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Фабрика' 4}}
                        <input type="text" name="factory" class="form-control">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="form form-horizontal">
            <div class="">
                {{#formControl 'Описание' 2}}
                    <textarea rows=5 name="description" class="form-control summernote bg-white"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_order">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>