<div class="panel">
    <div class="panel-content">
        <div class="row  m-b-15">
            <div class="col-md-12">
                {{#formControl 'Категория' 4}}
                  <select class="form-control" name="category">
                    <option value="">-</option>
                    <option value="1">Первая</option>
                    <option value="2">Вторая</option>
                  </select>
                {{/formControl}}
            </div>
        </div>
        <div class="row  m-b-15">
            <div class="col-md-12">
                {{#formControl 'Комментарий' 4}}
                    <textarea name="comment" class="form-control" rows="8"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                {{#ifCond status_detail.code "==" "new" }}
                   <div class="pull-left">
                        <button class="btn btn-danger delete">Удалить</button>
                   </div>
                {{/ifCond}}
                <div class="pull-right">
                    {{#each status_detail.next_statuses}}
                        {{#contains ../user.user_permissions (concat a="can_defect_act_set_" b=code) }}
                        <div class="f-left m-l-10">
                            <button class="btn btn-success change_status" data-status_code="{{ code }}">{{ button_name }}</button>
                        </div>
                        {{/contains}}
                    {{/each}}
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary exit">Выйти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
