
      <table class="table table-hover">
          <thead>
            <tr>
              <th>id</th>
              <th>Имя</th>
              <th>Отчество</th>
              <th>Фамилия</th>
              <th>Дата приема</th>
            </tr>
          </thead>
          <tbody class="region_table_items"></tbody>
        </table>