<div class="panel">
  <div class="panel-header">
      <h3>Сотрудники</h3>
  </div>
  <div class="panel-content">
    <div class="region_filter"></div>
    <div class="region_complex"></div>
  </div>
</div>