<div class="row">
    <div class="col-md-4">
        <b>Статус: </b> {{ status_detail.name }}
    </div>
    <div class="col-md-4">
        <b>Со склада: </b> {{ delivery_warehouse_from_detail.name }}
    </div>
    <div class="col-md-4">
        <b>На склад: </b> {{ delivery_warehouse_to_detail.name }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Тип доставки: </b> {{ delivery_type_detail.name }}
    </div>
    <div class="col-md-4">
        <b>Дата доставки: </b> {{ delivery_date }}
    </div>
    <div class="col-md-4">
        <b>Номер поставки: </b> {{ delivery_number }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Тип оплаты: </b> {{ payment_method_detail.name }}
    </div>
    <div class="col-md-4">
        <b>Стоимость: </b> {{#decimal_round amount_full}}{{/decimal_round}}
    </div>
    <div class="col-md-4">
        <b>Стоимость доставки $: </b> {{#decimal_round delivery_amount_full}}{{/decimal_round}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Оплаченно в валюте: </b> {{#decimal_round amount_paid}}{{/decimal_round}}
    </div>
    <div class="col-md-4">
        <b>Оплаченно в рублях: </b> {{#decimal_round amount_paid_rur}}{{/decimal_round}}
    </div>
</div>
