<div class="row">
    <div class="col-md-12 form-horizontal">
        {{#formControl 'Название' 4}}
            <input type="text" name="name" class="form-control" readonly="readonly">
        {{/formControl}}
    </div>
</div>