<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Партнер' 4}}
                        <input type="text" name="client" class="form-control {{#unless canEdit }}form-white{{/unless}}" {{#unless canEdit }}disabled="disabled" readonly="readonly"{{/unless}}>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_order">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
