<div class="header">
  <h2>Платеж №<strong class="paying-id"></strong> (<elem class="paying-number"></elem>)</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/paying/" class="list_link">Платежи</a></li>
      <li class="active">Платеж #<b class="paying-id"></b></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
