<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Название</th>
      <th>Статус</th>
      <th>Создатель</th>
      <th>Дата создания</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>