<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header" style="overflow: hidden;">
                <h3 class="pull-left m-t-10">Изображения</h3>
                <div class="pull-right">
                    <input type="file" multiple class="fileupload hide" name="file" id="fileupload_offer_image">
                    <label for="fileupload_offer_image" class="add btn btn-primary btn-sm m-r-0 m-b-0" style="margin-top: 8px;">
                        <span id='music_add_btn' class="fa fa-plus-circle"></span>
                    </label>
                </div>
            </div>
            <div class="panel-content">
                <div class="files"></div>
            </div>
        </div>
    </div>
</div>