<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control form-white" disabled="disabled" readonly="readonly">
                    {{/formControl}}
                    {{#formControl 'Валюта' 4}}
                        <input type="text" name="currency_name" class="form-control form-white" disabled="disabled" readonly="readonly">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Баланс' 4}}
                        <input type="text" name="balance" class="form-control form-white" disabled="disabled" readonly="readonly">
                    {{/formControl}}
                    {{#formControl 'Баланс в рублях' 4}}
                        <input type="text" name="balance_rur" class="form-control form-white" disabled="disabled" readonly="readonly">
                    {{/formControl}}
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 ">
                    <button class="btn btn-primary writing_off {{#unless user.userCanWritingOff }}hidden{{/unless}}">Выплата</button>
                </div>
                <div class="col-md-12 {{#unless  has_self_transfer }}hidden{{/unless}}">
                    <button class="btn btn-primary self_transfer">Перевод между своими счетами в одной валюте</button>
                </div>
                <div class="col-md-12 {{#unless has_user_transfer }}hidden{{/unless}}">
                    <button class="btn btn-primary user_transfer">Перевод другому пользователю</button>
                </div>
                <div class="col-md-12 {{#unless has_self_currency_transfer }}hidden{{/unless}}">
                    <button class="btn btn-primary self_currency_transfer">Перевод между своими счетами в разной валюте</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

