<td>{{id}}</td>
<td>
{{#ifCond pa_kind '==' 'debit'}}
    <i class="fa fa-minus c-red"></i>
{{/ifCond}}
{{#ifCond pa_kind '==' 'credit'}}
    <i class="fa fa-plus c-primary"></i>
{{/ifCond}}
</td>
<td>{{kind_detail.name}}</td>
<td>
    {{#if content_object_detail}}
        <a href="#" class="object_detail">{{content_object_detail.content_type.name}} №{{content_object_detail.object_id}}</a>
    {{/if}}
</td>
<td>{{#decimal_round amount}}{{/decimal_round}}</td>
<td>{{#ifCond kind '==' 3 }}{{ transfer_detail }}{{/ifCond}}{{#ifCond kind '!=' 3 }}{{description}}{{/ifCond}}</td>
<td>
    {{#decimal_round account_balance}}{{/decimal_round}}
</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
