<div class="panel">
    <div class="panel-content">
        <form class="search_form">
            <div class="input-group">
              <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
              <div class="input-group-btn">
                <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
                <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
              </div>
            </div>
        </form>
        <div id="region_filter_panel" class="hidden">
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>С даты</label>
                    <input type="text" class="form-control" name="created_gte">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>По дату</label>
                    <input type="text" class="form-control" name="created_lte">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Статья расходов</label>
                    <input type="text" class="form-control" name="expense_item">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="container_objects_count">
                Сумма (Валюта счета):
                <b><span class="amount_sum"></span></b>,
                Сумма (руб):
                <b><span class="amount_rur_sum"></span></b>
            </div>
        </div>
    </div>
</div>
