<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="to_payment_account">На счет</label>
            <input type="text" class="form-control" name="to_payment_account">
        </div>
        <div class="form-group">
            <label for="amount">Сумма</label>
            <input type="text" class="form-control" name="amount">
        </div>
        <div class="form-group">
                <label for="currency_rate">По курсу</label>
            <input type="text" class="form-control" name="currency_rate">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>