<div id="product_item_{{ id }}" class="panel">
    <div class="panel-content">
        {{#if user.userCanViewOrderFromSite }}
            <div class="row">
                <div class="col-xs-2">
                    №:{{number}}
                </div>
                <div class="col-xs-3">
                    {{shipping_address.first_name}} {{shipping_address.last_name}}<br/>
                    {{client_detail.email}}<br/>
                    {{shipping_address.phone_number}}
                </div>
                <div class="col-xs-3">
                    {{shipping_address.postcode}}<br/>
                    {{shipping_address.state}}<br/>
                    {{shipping_address.city}}<br/>
                    {{shipping_address.line1}}<br/>
                    {{shipping_address.line2}}<br/>
                    {{shipping_address.line3}}<br/>
                </div>
                <div class="col-xs-2">
                    {{total}}
                </div>
            </div>
        {{/if}}
    </div>
</div>


