<td>{{user}}</td>
<td>{{shipping_addredd.first_name}} {{shipping_addredd.last_name}} {{client_detail.email}}</td>
<td>{{datetime created 'DD.MM.YYYY HH:mm'}}</td>
<td>{{#decimal_round total}}{{/decimal_round}}</td>
<td>{{category}}</td>
