{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/assets/global/images/favicon.png">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body class="account separate-inputs {% block body_class %}{% endblock body_class %}" data-page="{% block data_page %}{% endblock data_page %}">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="{% block container_id %}{% endblock container_id %}">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3">
                    <div class="account-wall">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>