{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}Вход в систему{% endblock %}

{% block body_class %}
    {% if form.errors %}
        boxed
    {% endif %}
{% endblock body_class %}

{% block container_id %}login-block{% endblock container_id %}

{% block content %}
    <i class="user-img icons-faces-users-03"></i>
    <form class="form-signin" method="POST" role="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <label class="error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </label>
        {% endif %}
        <div class="append-icon">
            <input type="text" name="username" id="id_username" class="form-control form-white username {% if form.username.errors %}error{% endif %}" placeholder="{{ form.username.label }}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>
            <i class="icon-user"></i>
            {% if form.username.errors %}
                <label id="id_username-error" class="error" for="id_username">{% for error in form.username.errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</label>
            {% endif %}
        </div>
        <div class="append-icon m-b-20">
            <input type="password" name="password" id="id_password" class="form-control form-white password" placeholder="{{ form.password.label }}" value="{% if form.password.value %}{{ form.password.value }}{% endif %}" required>
            <i class="icon-lock"></i>
            {% if form.password.errors %}
                <label id="id_password-error" class="error" for="id_password">{{ form.password.errors }}</label>
            {% endif %}
        </div>
        <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Войти</button>
        <div class="clearfix">
            <p class="pull-left m-t-20"><a id="password" href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        </div>
    </form>
{% endblock %}
