{% extends "accounts/base.html" %}

{% block title %}Выход{% endblock %}

{% block data_page %}lockscreen{% endblock data_page %}

{% block container_id %}lockscreen-block{% endblock container_id %}

{% block content %}
  <h2 class="login-title">Вы успешно вышли из своей учетной записи</h2>

  <p>Для повторного входа пройдите по <a href="{% url "login" %}">ссылке</a></p>
{% endblock %}
