{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block body_class %}boxed{% endblock body_class %}

{% block container_id %}login-block{% endblock container_id %}

{% block content %}
  <h2>Восстановление пароля</h2>

  <p>Забыли пароль? введите ваш e-mail, и мы отправим вам письмо с инструецией по восстановлению.</p>

  <form class="form-signin" method="POST" role="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <label class="error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </label>
        {% endif %}
        <div class="append-icon">
            <input type="text" name="email" id="id_email" class="form-control form-white email {% if form.email.errors %}error{% endif %}" placeholder="{{ form.email.label }}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required>
            <i class="icon-user"></i>
            {% if form.email.errors %}
                <label id="id_email-error" class="error" for="id_email">{% for error in form.email.errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</label>
            {% endif %}
        </div>
        <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Восстановление пароля</button>
        <div class="clearfix">
            <p class="pull-left m-t-20"><a id="" href="{% url 'login' %}">Войти</a></p>
        </div>
    </form>
{% endblock %}
