{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block data_page %}lockscreen{% endblock data_page %}

{% block container_id %}lockscreen-block{% endblock container_id %}

{% block content %}
  <h2 class="login-title">Пароль отправлен</h2>

  <p>На вашу почту выслано письмо с инструкцией по восстановлению пароля.</p>
{% endblock %}
