<div class="row">
    <div class="col-md-4">
        <div class="form-group form-horizontal">
            {{#formControl 'Количество' 4}}
                <input type="text" name="count" class="form-control">
            {{/formControl}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-horizontal">
            {{#formControl 'Вес (кг)' 4}}
                <input type="text" name="weight" class="form-control">
            {{/formControl}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="pull-right">
            <button type="button" class="btn btn-success" name="add">Добавить</button>
        </div>
    </div>
</div>