{{# if userCanViewOrderWidget }}
    <h3 class="m-t-30 m-b-20"><i class="icon-puzzle"></i> Сводка по <strong> Бланк-заказам</strong></h3>
    <div class="widget-infobox">
      <div class="region_aggreement infobox infobox-clickable hover-bg-orange">
        <div class="left">
            <i class="fa fa-inbox bg-orange"></i>
        </div>
        <div class="right">
            <div class="clearfix">
              <div>
                <span class="c-red pull-left aggreement_to_work" data-toggle="tooltip" data-placement="top" title="К работе">-</span>
              </div>
              <div class="txt">Не согласованы</div>
            </div>
        </div>
      </div>
    </div>
{{/if}}