{% extends 'blank_page.html' %}

{% load thumbnail %}

{% block style %}
  <style>
    table {
      width: 1024px;
      border-bottom: 1px solid gray;
    }
    td, th {
      padding-left: 10px;
      padding-right: 10px;
      border-top: 1px solid gray;
      border-right: 1px solid gray;
    }
    td:first-child, th:first-child {
      padding-left: 10px;
      padding-right: 10px;
      border-left: 1px solid gray;
    }
    th {
      text-align: left;
    }
    .row {
      position: relative;
      overflow: hidden;
    }
    .clear {
        clear: both;
    }
    body {
      width: 1024px;
      background: white;
    }
  </style>
  <script>
    window.print()
  </script>
{% endblock %}

{% block content %}
  <div style="text-align: right">Приложение к Договору No__________________</div>
  <div style="text-align: right">от ___________________2016 года</div>
  <table>
      <tr>
        <th><b>Модель</b></th>
        <th></th>
        <th>Цвет</th>
        <th>Артикул</th>
        <th>Цена</th>
        <th>Кол-во серий</th>
        <th>Одна серия</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </tr>
    {% for item in cart.items.all %}
      <tr>
        <td>{% thumbnail item.product.main_im "300x300" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}</td>
        <th>{% if item.product.images.all.1 %}
          {% thumbnail item.product.images.all.1.image "400x400" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        {% endif %}</th>
        <th>{{ item.product.color.name }}</th>
        <th>{{ item.product.name }}<br>
          Код: {{ item.product.article }}
        </th>
        <th>{{ item.product.price }}</th>
        <th>?</th>
        <th>{% for size in item.get_sizes %}
          {{ size }}<br>
        {% endfor %}
        </th>
        <th>{{ item.get_count }}</th>
        <th>{{ item.get_summ }}</th>
      </tr>
    {% endfor %}
  </table>

{% endblock %}

