<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      {{#if user.userCanViewAllDocumentScan }}
        <th>Клиент</th>
      {{/if}}
      <th>Статус</th>
      <th>Тип</th>
      <th>Дата создания</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>