<td>{{id}}</td>
{{#if user.userCanViewAllDocumentScan }}
  <td>{{client_detail.name}}</td>
{{/if  }}
<td>{{status_detail.name}}</td>
<td>{{kind_detail.name}}</td>
<td>{{datetime created 'DD.MM.YYYY HH:mm'}}</td>
