{{#if user.userCanAddDocumentScanWithClient }}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="client">Партнер</label>
            <input type="text" class="form-control" name="client" placeholder="Выберите партнера">
        </div>
    </div>
</div>
{{/if}}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="kind">Тип документа</label>
            <input type="text" class="form-control" name="kind" placeholder="Выберите тип документа">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>