<div class="header">
  <h2>Возврат покупателя №<strong class="order-id"></strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/order_return_b2c/" class="list_link">Возвраты покупателей</a></li>
      <li class="active">Возврат покупателя #<b class="order-id"></b></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel">
            <div class="panel-content p-t-10 p-b-10 p-r-15 p-l-15">
                <div class="region_navbar"></div>
            </div>
        </div>

        <div class="region_tab"></div>
    </div>
</div>
