<div class="row">
    <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    {{#formControl 'Активен' 4}}
                        <input type="checkbox" name="is_active" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Название' 4}}
                        <input type="text" name="name" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Номер телефона' 4}}
                        <input type="text" name="phone" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Контактное лицо' 4}}
                        <input type="text" name="contact_person" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Email' 4}}
                        <input type="text" name="email" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Менеджер' 4}}
                        <input type="text" name="manager" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Количество серий' 4}}
                        <input type="text" name="series_count" class="form-control">
                    {{/formControl}}
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'ИНН' 4}}
                        <input class="form-control" type="text" name="inn" id="id_inn"
                               placeholder="10 или 12 цифр" maxlength="12" tabindex="1">
                    {{/formControl}}
                    {{#formControl 'КПП' 4}}
                        <input class="form-control" type="text" name="kpp" id="id_kpp"
                               placeholder="9 цифр" maxlength="9" tabindex="4">
                    {{/formControl}}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Наименование банка' 4}}
                        <input class="form-control" type="text" name="bank_name" id="id_bank_name">
                    {{/formControl}}
                    {{#formControl 'Расчетный счет' 4}}
                        <input class="form-control" type="text" name="account_current" id="id_account_current">
                    {{/formControl}}
                    {{#formControl 'Корреспондентский счет' 4}}
                        <input class="form-control" type="text" name="account_correspondent" id="id_account_correspondent">
                    {{/formControl}}
                    {{#formControl 'БИК' 4}}
                        <input class="form-control" type="text" name="bik" id="id_bik">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form-group">
                    <label for="legal_form">Организационно-правовая форма</label>
                    <select class="form-control form-white input-sm" name="legal_form">
                        <option value="1">Индивидуальный предприниматель</option>
                        <option value="2">Общество с ограниченной ответственностью</option>
                        <option value="3">Частное лицо</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form-group">
                    <label for="contract_number">Договор №</label>
                    <input class="form-control" type="text" name="contract_number" id="id_contract_number">
                </div>
                <div class="form-group">
                    <label for="contract_date">от</label>
                    <input class="form-control" type="text" name="contract_date" id="id_contract_date">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">

            <div class="panel-header">
                <div class="panel-title">
                    <h3>Юридический адрес</h3>
                </div>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12 form-horizontal">

                        <div class="form-group">
                            <label for="id_legal_index" class="col-sm-4 control-label">Индекс</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_index" id="id_legal_index"
                                       placeholder="Индекс" maxlength="255" tabindex="18">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_legal_region" class="col-sm-4 control-label">Регион</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_region" id="id_legal_region"
                                       placeholder="Регион" maxlength="255" tabindex="19">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_legal_district" class="col-sm-4 control-label">Район</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_district"
                                       id="id_legal_district"
                                       placeholder="Район" maxlength="255" tabindex="20">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_legal_city" class="col-sm-4 control-label">Город</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_city" id="id_legal_city"
                                       placeholder="Город" maxlength="255" tabindex="21">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_legal_street" class="col-sm-4 control-label">Улица</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_street" id="id_legal_street"
                                       placeholder="Улица" maxlength="255" tabindex="22">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_legal_house" class="col-sm-4 control-label">Дом</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_house" id="id_legal_house"
                                       placeholder="Дом" maxlength="255" tabindex="23">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_legal_building" class="col-sm-4 control-label">Корпус</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_building"
                                       id="id_legal_building"
                                       placeholder="Корпус" maxlength="255" tabindex="24">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_legal_construction" class="col-sm-4 control-label">Строение</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_construction"
                                       id="id_legal_construction"
                                       placeholder="Строение" maxlength="255" tabindex="26">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_legal_flat" class="col-sm-4 control-label">Квартира</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="legal_flat" id="id_legal_flat"
                                       placeholder="Квартира" maxlength="255" tabindex="25">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">
                    <h3>Фактический адрес</h3>
                </div>
            </div>
            <div class="panel-content">


                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="id_actual_index" class="col-sm-4 control-label">Индекс</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_index" id="id_actual_index"
                                       placeholder="Индекс" maxlength="255" tabindex="27">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_region" class="col-sm-4 control-label">Регион</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_region"
                                       id="id_actual_region"
                                       placeholder="Регион" maxlength="255" tabindex="28">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_district" class="col-sm-4 control-label">Район</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_district"
                                       id="id_actual_district"
                                       placeholder="Район" maxlength="255" tabindex="29">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_city" class="col-sm-4 control-label">Город</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_city" id="id_actual_city"
                                       placeholder="Город" maxlength="255" tabindex="30">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_street" class="col-sm-4 control-label">Улица</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_street"
                                       id="id_actual_street"
                                       placeholder="Улица" maxlength="255" tabindex="31">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_house" class="col-sm-4 control-label">Дом</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_house" id="id_actual_house"
                                       placeholder="Дом" maxlength="255" tabindex="32">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_building" class="col-sm-4 control-label">Корпус</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_building"
                                       id="id_actual_building"
                                       placeholder="Корпус" maxlength="255" tabindex="33">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_construction" class="col-sm-4 control-label">Строение</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_construction"
                                       id="id_actual_construction"
                                       placeholder="Строение" maxlength="255" tabindex="35">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_actual_flat" class="col-sm-4 control-label">Офис</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="actual_flat" id="id_actual_flat"
                                       placeholder="Офис" maxlength="255" tabindex="34">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">

            <div class="panel-header">
                <div class="panel-title">
                    <h3>Баннеры</h3>
                </div>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="id_banner_size" class="col-sm-4 control-label">Размер</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="banner_size" id="id_banner_size" maxlength="255" tabindex="35">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_banner_type" class="col-sm-4 control-label">Тип</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="banner_type" id="id_banner_type" maxlength="255" tabindex="36">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="id_contacts_administrations" class="col-sm-4 control-label">Контакты администрации ТЦ</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_administrations" id="id_contacts_administrations" maxlength="255" tabindex="37" rows=5></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">
                    <h3>Контакты производителей</h3>
                </div>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="id_contacts_advertising" class="col-sm-4 control-label">Реклама</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_advertising" id="id_contacts_advertising" maxlength="255" tabindex="38" rows=5></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_contacts_construction" class="col-sm-4 control-label">Стройка</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_construction" id="id_contacts_construction" maxlength="255" tabindex="39" rows=5></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_contacts_video" class="col-sm-4 control-label">Видео</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_video" id="id_contacts_video" maxlength="255" tabindex="40" rows=5></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_contacts_music" class="col-sm-4 control-label">Музыка</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_music" id="id_contacts_music" maxlength="255" tabindex="41" rows=5></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_contacts_anti_theft" class="col-sm-4 control-label">Антикражная система</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="contacts_anti_theft" id="id_contacts_anti_theft" maxlength="255" tabindex="42" rows=5></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary save  pull-right">Сохранить</button>
            </div>
        </div>
    </div>
</div>

