{{#if show_alert}}
    <div class="alert alert-info tab_alert">
        <button type="button" class="close pull-right">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="m-l-20"><li>Сохранение данных на этой вкладке происходит при нажатии на кнопку "Сохранить" справа</li></ul>
    </div>
{{/if}}
<div class="panel">
    <div class="panel-content">

        <div class="form form-horizontal">
            {{#formControl 'Название' 2}}
                <input type="text" name="name" class="form-control">
            {{/formControl}}
            <div class="row">
                <div class="col-md-6">
                    {{#formControl 'Артикул' 4}}
                        <input type="text" name="article" class="form-control">
                    {{/formControl}}
                </div>
                <div class="col-md-6">
                    {{#formControl 'Коллекция' 4}}
                        <input type="text" name="main_collection" class="form-control">
                    {{/formControl}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{#formControl 'Создан' 4}}
                        <p class="form-control created bg-white">
                            {{datetime created 'DD.MM.YYYY HH:mm'}}
                        </p>
                    {{/formControl}}
                </div>
                <div class="col-md-6">
                    {{#formControl 'Изменен' 4}}
                        <p class="form-control modified bg-white">
                            {{datetime modified 'DD.MM.YYYY HH:mm'}}
                        </p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="form form-horizontal">
            <div class="">
                {{#formControl 'Ссылки' 2}}
                    <textarea rows=5 name="links" class="form-control bg-white"></textarea>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>