<div class="row" id="order_item_{{ id }}">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="image">
                  {{#if product_detail.image}}
                      <img src="{{product_detail.image.200x200}}" alt="" class="img-responsive">
                  {{else}}
                      <img src="/static/img/no-image.jpg" class="img-responsive">
                  {{/if}}
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 product_data">
                        <h3><strong>№:{{ product_detail.id }}</strong> {{ product_detail.name }}</h3>
                        <p><small><b>{{ product_detail.article }}</b></small> ({{ product_detail.color_detail.name }})</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-horizontal">
                            <label for="price">Цена (шт)</label>
                            <p class="form-control form-white">{{ price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-12">
                <table class="table">
                    <tr class="serie_type_has">
                        <td>
                            Размер:
                        </td>
                        <td class="st_xxs c_data">
                            <span>XXS</span>
                        </td>
                        <td class="st_xs c_data">
                            <span>XS</span>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <span>S</span>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <span>M</span>
                        </td>
                        <td class="st_l c_data">
                            <span>L</span>
                        </td>
                        <td class="st_xl c_data">
                            <span>XL</span>
                        </td>
                        <td class="st_xxl c_data">
                            <span>XXL</span>
                        </td>
                        <td class="st_xxxl c_data">
                            <span>XXXL</span>
                        </td>
                        <td class="st_34 s_data">
                            <span>34</span>
                        </td>
                        <td class="st_35 s_data">
                            <span>35</span>
                        </td>
                        <td class="st_36 s_data">
                            <span>36</span>
                        </td>
                        <td class="st_37 s_data bg-aero">
                            <span>37</span>
                        </td>
                        <td class="st_38 s_data bg-aero">
                            <span>38</span>
                        </td>
                        <td class="st_39 s_data">
                            <span>39</span>
                        </td>
                        <td class="st_40 s_data">
                            <span>40</span>
                        </td>
                        <td class="st_41 s_data">
                            <span>41</span>
                        </td>
                    </tr>
                    <tr class="serie_type_received_count ">
                        <td>
                            Заказ:
                        </td>
                        <td class="st_xxs c_data">
                            <input type="number" name="count_xxs" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xs c_data">
                            <input type="number" name="count_xs" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_s c_data bg-aero">
                            <input type="number" name="count_s" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_m c_data bg-aero">
                            <input type="number" name="count_m" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_l c_data">
                            <input type="number" name="count_l" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xl c_data">
                            <input type="number" name="count_xl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxl c_data">
                            <input type="number" name="count_xxl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_xxxl c_data">
                            <input type="number" name="count_xxxl" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_34 s_data">
                            <input type="number" name="count_34" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_35 s_data">
                            <input type="number" name="count_35" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_36 s_data">
                            <input type="number" name="count_36" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_37 s_data bg-aero">
                            <input type="number" name="count_37" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_38 s_data bg-aero">
                            <input type="number" name="count_38" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_39 s_data">
                            <input type="number" name="count_39" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_40 s_data">
                            <input type="number" name="count_40" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                        <td class="st_41 s_data">
                            <input type="number" name="count_41" class="form-control {{#unless canEditProducts }}form-white{{/unless}}" {{#unless canEditProducts }}disabled="disabled" readonly="readonly"{{/unless}}>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <b>Заказано: <span class="count_sum">{{quantity}}</span>шт.</b>
            </div>
            <div class="col-md-4">
                <div class="pull-right ">
                    {{#if canDeleteProducts }}
                        <div class="btn btn-danger remove p-l-10 p-r-10">
                            <div class="glyphicon glyphicon-remove"></div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>