<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-primary export_xls m-r-30">XLSX</button>
                    </div>
                    <div class="f-left">
                        <button class="btn btn-primary list_link" data-status_code="{{ code }}">Выйти без смены статуса</button>
                    </div>
                    {{#each status_detail.next_statuses}}
                        <div class="f-left m-l-10">
                            <button class="btn btn-success change_status" data-status_code="{{ code }}">{{ button_name }}</button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
