<div class="nav-tabs2 block-tabs">
    <ul class="nav nav-tabs ">
        <li class="tab_link" data-tab_name="item">
            <a href="#">Состав</a>
        </li>
        <li class="tab_link" data-tab_name="print">
            <a href="#">Печать</a>
        </li>
        <li class="tab_link" data-tab_name="common">
            <a href="#">Подтверждение</a>
        </li>
        {{#if user.can_defect_act_history_tab_view}}
            <li class="tab_link" data-tab_name="history">
                <a href="#">История</a>
            </li>
        {{/if}}
    </ul>
</div>