<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Дата' 4}}
                        <p class="form-control form-white">{{date}}</p>
                    {{/formControl}}
                    {{#formControl 'Партнер' 4}}
                        <p class="form-control form-white">{{client_detail.name}}</p>
                    {{/formControl}}
                    {{#formControl 'Продавец' 4}}
                        <p class="form-control form-white">{{seller_detail.first_name}} {{seller_detail.middle_name}} {{seller_detail.last_name}}</p>
                    {{/formControl}}
                    {{#formControl 'Стоимость' 4}}
                        <p class="form-control form-white">{{amount_full}}</p>
                    {{/formControl}}
                    {{#formControl 'Стоимость руб' 4}}
                        <p class="form-control form-white">{{amount_full_rur}}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>