@import './client_statistic/list';
@import './employee_work_schedule/detail';
@import './common/filter';
@import './offer/list';
@import './offer_request/detail';
@import './orders/detail';
@import './orders_b2c/list';
@import './payments/transfer';
@import './products/list';
@import './products/select2';
@import './reports/mutual_payments';
@import './shop/catalog';
@import './supply/detail';
@import './supply/list';

p.form-white {
  overflow: hidden;
}
.datepicker-dropdown {
  margin-top: 50px !important;
}
.table-sticky-header {
  background-color: white;
}
.shild-new {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 17px;
  background-color: #18A689;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.popover-title {
  margin: 0 !important;
  text-transform: none !important;
}