<div class="col-xs-6">
    <div class="panel">
        <div class="panel-header">
          <h3 class="category_name"></h3>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    {{#formControl 'Сумма' 4}}
                        <input type="text" name="price_sum" class="form-control form-white" disabled="disabled" readonly="readonly">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>