<div class="row region_category_list"></div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {{#if canEdit }}
                    <div class="f-left m-r-20">
                        <button class="btn btn-primary set_categories">Распределить</button>
                    </div>
                    {{/if}}
                    <div class="f-left">
                        <button class="btn btn-success save_order">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>