<div class="form-group">
    <label for="category1">Максимальная сумма для категории 1</label>
    <input type="text" class="form-control" name="category_1_max_sum">
</div>
<button type="button" class="btn btn-success" name="create">Распределить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>