<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Номер' 4}}
                        <input type="text" name="number" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Категория' 4}}
                        <p class="form-control form-white m-b-0">{{ category_detail.name }}</p>
                    {{/formControl}}
                    {{#formControl 'Тип' 4}}
                      <select class="form-control" name="kind">
                        <option value="1">Товар</option>
                        <option value="2">Маркетинговый</option>
                        <option value="3">Командировочные расходы</option>
                        <option value="4">Прочие расходы</option>
                      </select>
                    {{/formControl}}
                </div>
            </div>
        </div>
        <div class="panel {{#ifCond kind '!=' 2}}hidden{{/ifCond}}" id="payment_period_block">
            <div class="panel-content">
                <div class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            {{#formControl 'Месяц' 4}}
                                <input type="number" name="payment_perion_month" class="form-control" min="1" max="12">
                            {{/formControl}}
                        </div>
                        <div class="col-md-6">
                            {{#formControl 'Год' 4}}
                                <input type="number" name="payment_perion_year" class="form-control" min="2000" max="3000">
                            {{/formControl}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Статус' 4}}
                        <select class="form-control {{#unless user.userCanChangeInvoiceStatus }}form-white{{/unless}}" name="status" {{#unless user.userCanChangeInvoiceStatus }} disabled="disabled"{{/unless}}>
                            <option value="0">Не оплачен</option>
                            <option value="10">Частично оплачен</option>
                            <option value="100">Оплачен</option>
                        </select>
                    {{/formControl}}
                    {{#formControl 'Сумма оплачено' 4}}
                        <input type="text" name="amount_paid" class="form-control {{#unless user.userCanChangeInvoiceAmountPaid }}form-white{{/unless}}" {{#unless user.userCanChangeInvoiceAmountPaid }} disabled="disabled"{{/unless}}>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Поставщик' 4}}
                        <input type="text" name="provider" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Получатель' 4}}
                        <input type="text" name="customer" class="form-control">
                    {{/formControl}}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'НДС' 4}}
                      <select class="form-control" name="vat_rate">
                        <option value="0" active>0</option>
                        <option value="18">18</option>
                      </select>
                    {{/formControl}}
                    {{#formControl 'Сумма' 4}}
                      <p class="form-control form-white total_price"></p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Комментарий' 2}}
                        <textarea name="comment" class="form-control"></textarea>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="f-left">
                        <button class="btn btn-danger delete_invoice">Удалить</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_invoice">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
