<div class="row" id="invoice_item_{{ id }}">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 product_data">
                        <input type="text" name="product_name" class="form-control">
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price">Цена</label>
                            <input type="text" name="price" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="count">Количество</label>
                            <input type="text" name="count" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="unit">Ед</label>
                            <select class="form-control" name="unit">
                              <option value="1">1</option>
                              <option value="pieces">шт</option>
                              <option value="packings">уп</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="pull-right ">
            <div class="btn btn-success save p-l-10 p-r-10">
                <div class="glyphicon glyphicon-ok"></div>
            </div>
            <div class="btn btn-danger remove p-l-10 p-r-10">
                <div class="glyphicon glyphicon-remove"></div>
            </div>
        </div>
    </div>
</div>
<hr>