<div class="panel">
    <div class="panel-header">
      <button class="btn btn-blue item_add pull-right m-t-5">Добавить</button>
      <h3>Состав</h3>

    </div>
    <div class="panel-content">
        <div class="region_item_list"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="f-left">
                        <button class="btn btn-danger delete_invoice">Удалить</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_invoice">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>