<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="product_name">Наименование товара</label>
            <input type="text" class="form-control" name="product_name">
        </div>
        <div class="form-group">
            <label for="price">Цена</label>
            <input class="form-control" type="text" name="price">
        </div>
        <div class="form-group">
            <label for="count">Количество</label>
            <input class="form-control" type="text" name="count">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-success" name="add">Добавить</button>
        </div>
    </div>
</div>
