<div class="header">
  <h2 class="breadcrumb_name"></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#" class="list_link">Сотрудники магазинов</a></li>
      <li class="active breadcrumb_name"></li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col">

        <div class="region_common"></div>
        <div class="region_photo"></div>
        <div class="region_file"></div>
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button class="btn btn-primary save  pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>