<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Номер поставки' 4}}
                        <input type="text" name="delivery_number" class="form-control" maxlength="7">
                    {{/formControl}}
                    {{#formControl 'Тип доставки' 4}}
                        <input type="text" name="delivery_type" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Дата доставки' 4}}
                        <input type="text" name="delivery_date" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Стоимость доставки ($)' 4}}
                        <input type="text" name="delivery_amount_full" class="form-control">
                    {{/formControl}}
                    {{#formControl 'Общий вес (кг)' 4}}
                        <p class="form-control all_weight bg-white m-b-0"></p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Со склада' 4}}
                        <p class="form-control form-white">{{ delivery_warehouse_from_name }}</p>
                    {{/formControl}}
                    {{#formControl 'На склад' 4}}
                       <p class="form-control form-white">{{ delivery_warehouse_to_name }}</p>
                        <!--<input class="form-control" type="text" name="delivery_warehouse_to">-->
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="luggagespace_region"></div>
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left">
                        <button class="btn btn-success save_supply">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>