<div class="row">
    <div class="col-md-12">
        <h3 class="pull-left">Изображения</h3>
        <div class="pull-right">
            <input type="file" multiple class="fileupload hide" name="file" id="fileupload_offer_image">
            <label for="fileupload_offer_image" class="add btn btn-primary m-r-0">
                <span id='music_add_btn' class="fa fa-plus-circle"></span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="files"></div>
    </div>
</div>