<div class="panel widget-member2">
    <div class="row">
      <div class="col-lg-2 col-xs-3">
        <img src="/static/img/{{ gender }}_avatar.png" alt="profil 4" class="pull-left img-responsive">
      </div>
      <div class="col-lg-10 col-xs-9">
        <div class="clearfix">
          <h3 class="m-t-0 member-name"><strong>{{ first_name }} {{ middle_name }} {{ last_name }}</strong> <span class="member-job">{{ profession }}</span></h3>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><i class="fa fa-map-marker c-gray-light p-r-10"></i> {{ city }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xlg-4 col-lg-4 col-sm-4">
            <p><i class="icon-calendar c-gray-light p-r-10"></i> {{ birthday }}</p>
          </div>
          <div class="col-xlg-4 col-lg-4 col-sm-4 align-right">
            <p><i class="icon-phone  c-gray-light p-r-10"></i> {{ phone }}</p>
          </div>
          <div class="col-xlg-4 col-lg-4 col-sm-4 align-right">
            <p><i class="icon-envelope  c-gray-light p-r-10"></i> {{ email }}</p>
          </div>
          <div class="col-xlg-12 col-lg-12 col-sm-12 align-right">
            <p><strong class="p-r-10"><i class="icon-credit-card member-name p-r-10"></i> {{ card_detail.cut_number }}</strong>
                <a href="" class="send-to-sms "><i class="icon-share-alt c-green"></i></a></p>
          </div>
        </div>
      </div>
    </div>
</div>