<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="f-left">
                        <button class="btn btn-danger delete_invoice">Удалить</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="f-left">
                        <div class="btn-group">
                          <button type="button" class="btn btn-success print_invoice">Распечатать</button>
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <span class="dropdown-arrow"></span>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="print_invoice">Распечатать</a>
                            </li>
                            <li><a href="#" class="print_invoice_pechat">Распечатать с печатью</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <div class="f-left m-l-10">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary pdf_invoice">PDF</button>
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <span class="dropdown-arrow"></span>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="pdf_invoice">PDF</a>
                            </li>
                            <li><a href="#" class="pdf_invoice_pechat">PDF с печатью</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
