<div class="row">
    <div class="{{#ifCond order_kind '!=' 1}}col-md-9{{/ifCond}}{{#ifCond order_kind '==' 1}}col-md-12{{/ifCond}}">
        <div class="region_search"></div>
        <div class="container_spinner"></div>
        <div class="region_list"></div>
        <div class="panel">
          <div class="panel-content">
            <div class="row">
                <div class="col-md-9">
                    <div class="region_paginator"></div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3 {{#ifCond order_kind '==' 1}}hidden{{/ifCond}}">
        <div class="region_free_dr_summ"></div>
    </div>
</div>
