<td>{{id}}</td>
<td>{{client_detail.name}}</td>
<td>{{status_detail.name}}</td>
<td>{{#decimal_round amount_full}}{{/decimal_round}}</td>
<td><small>{{#if date_shipped }}{{datetime date_shipped 'DD.MM.YYYY HH:mm'}}{{else}}-{{/if}}</small><br><small>{{#if date_recived }}{{datetime date_recived 'DD.MM.YYYY HH:mm'}}{{else}}-{{/if}}</small></td>
