{{#if user.can_set_client_on_order_create}}
    <div class="form-group">
        <label for="product">Партнер</label>
        <input type="text" class="form-control" name="client" placeholder="Выберите партнера">
    </div>
{{/if}}
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>