<div class="panel">
    <div class="panel-header">
        <div class="row">
            <div class="col-md-12 form-horizontal">
                {{#formControl 'Активный' 4}}
                    <input type="checkbox" name="is_active" data-checkbox="icheckbox_square-blue">
                {{/formControl}}
                {{#formControl 'Имя' 4}}
                    <input type="text" name="first_name" class="form-control">
                {{/formControl}}
                {{#formControl 'Отчетство' 4}}
                    <input type="text" name="middle_name" class="form-control">
                {{/formControl}}
                {{#formControl 'Фамилия' 4}}
                    <input type="text" name="last_name" class="form-control">
                {{/formControl}}
                {{#formControl 'Email' 4}}
                    <input type="text" name="email" class="form-control">
                {{/formControl}}
                {{#formControl 'Группы' 4}}
                    <input type="text" name="groups" class="form-control">
                {{/formControl}}
                {{#formControl 'Пароль' 4}}
                    <input type="text" name="description" class="form-control">
                {{/formControl}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#if user.userCanChangePassword }}
                <button class="btn btn-primary change_self_password_button">Сменить пароль</button>
                {{/if  }}
            </div>
            <div class="col-md-8">
                <button class="btn btn-primary save">Сохранить</button>
            </div>
        </div>
    </div>
</div>