<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Создатель' 4}}
                        <p class="form-control form-white">{{ user_detail.name }}</p>
                    {{/formControl}}
                    {{#formControl 'Партнер' 4}}
                        <input type="text" name='client' class="form-control">
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Статус' 4}}
                        <p class="form-control form-white">{{ status_detail.name }}</p>
                    {{/formControl}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#ifCond status '==' 1 }}
<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="f-left m-r-20">
                        <button class="btn btn-info create_order">Создать бланк-заказ</button>
                    </div>
                    <div class="f-left">
                        <button class="btn btn-success save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ifCond}}
