<div class="panel">
  <div class="panel-content">
    <form class="search_form">
        <div class="input-group">
          <input type="text" class="filter_search form-control form-white" placeholder="Поиск (id/артикул/название модели)" name="search">
          <div class="input-group-btn">
            <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
            <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
          </div>
        </div>
    </form>
    <div id="region_filter_panel" class="hidden">
        <div class="row {{#unless user.can_all_orders_return_view }}hidden{{/unless}}">
            <div class="col-md-4">
              <div class="form-group">
                <label>Модель</label>
                <input type="text" class="form-control" name="items__product">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Партнер</label>
                <input type="text" class="form-control" name="client">
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="category">Категрия</label>
                  <select class="form-control" name="category">
                    <option value="">Все</option>
                    <option value="1">Первая</option>
                    <option value="2">Вторая</option>
                  </select>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="has_defect_act">Заполнен акт на брак</label>
                <select class="form-control" name="has_defect_act">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="has_refund_act">Заполнен акт на возврат</label>
                <select class="form-control" name="has_refund_act">
                  <option value="" active>Все</option>
                  <option value="2">Да</option>
                  <option value="3">Нет</option>
                </select>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="panel panel-transparent">
    <div class="panel-content">
        <div class="pull-left">
            <div class="container_objects_count">
                Кол-во:
                <span class="objects_count"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="container_objects_count">
                Сумма:
                <b><span class="amount_full_sum"></span></b>
            </div>
            <div class="list_types">
                <div class="btn btn-white btn-sm glyphicon glyphicon-list list_type" data-list_type="list1"
                     data-placement="top" title="Табличный вид"></div>
                <div class="btn btn-white btn-sm glyphicon glyphicon-picture list_type" data-list_type="list2"
                     data-placement="top" title="Список с картинками"></div>
            </div>

            <div class="sort_label">Сортировать по</div>
            <select class="form-control form-white input-sm sort_list">
                <option value="">-</option>
                <option value="id">№ &uparrow;</option>
                <option value="-id">№ &downarrow;</option>
            </select>
        </div>
    </div>
</div>
