<td>{{number}}</td>
<td>{{client_detail.name}}</td>
<td>{{date}}</td>
<td>{{#decimal_round amount_full}}{{/decimal_round}}</td>
<td>
    {{#if defect_act_detail }}
        <small>Акт на брак №{{defect_act_detail.id}}</small>
    {{/if}}
    {{#if refund_act_detail }}
        <small>Акт на возврат №{{refund_act_detail.id}}</small>
    {{/if}}
</td>
<td>{{category}}</td>
