<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        {{#ifCond user.userCanCreateAllClientStatistic '||' user.userCanCreateSelfClientStatistic }}
            <button type="button" class="add btn btn-primary m-r-0"><span class="fa fa-plus-circle"></span></button>
        {{/ifCond}}
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden"></div>
