<table class="table table-hover">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Партнер</th>
      <th>Количество посетителей</th>
      <th>Сумма продаж</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>