<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="date">Дата</label>
            <input type="text" class="form-control" name="date">
        </div>
        {{#if user.userCanCreateAllClientStatistic }}
        <div class="form-group">
            <label for="client">Партнер</label>
            <input class="form-control" type="text" name="client">
        </div>
        {{/if}}
        <div class="form-group">
            <label for="visitors_count">Количество посетителей</label>
            <input class="form-control" type="text" name="visitors_count">
        </div>
        <div class="form-group">
            <label for="sales_amount">Сумма продаж</label>
            <input class="form-control" type="text" name="sales_amount">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>