<td>{{id}}</td>
<td>{{client_detail.name}}</td>
<td>{{user_detail.name}}</td>
<td>{{status_detail.name}}</td>
<td>{{product_item_count}}</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
