<div class="panel">
  <div class="panel-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>№</th>
          <th>Партнер</th>
          <th>Создатель</th>
          <th>Статус</th>
          <th>Товаров</th>
          <th>Создан<br>Изменен</th>
        </tr>
      </thead>
      <tbody class="region_table_items"></tbody>
    </table>
  </div>
</div>
