<div class="col-md-6 portlets">
  <div class="panel">
    <div class="panel-header panel-controls">
      <h3><i class="icon-bubbles"></i> Открытые <strong> Задачи</strong></h3>
    </div>
    <div class="panel-content">
      <div class="region_items"></div>
    </div>
  </div>
</div>