<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="month">Коллекция товаров</label>
            <p class="form-control">{{product_collection_detail.name}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="plan">План</label>
            <input type="number" class="form-control" name="plan" placeholder="0-100" min="0" max="100">
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Сохранить</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>