<div class="panel">
  <div class="panel-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>№</th>
          <th>Номер</th>
          <th>Счет</th>
          <th>Плательщик</th>
          <th>Сумма</th>
          <th></th>
          <th>Создан<br>Изменен</th>
          <th>В план?</th>
          <th>Тип</th>
        </tr>
      </thead>
      <tbody class="region_table_items"></tbody>
    </table>
  </div>
</div>
