<td>{{id}}</td>
<td>{{number}}</td>
<td>{{invoice_detail.number }}</td>
<td>{{invoice_detail.customer.name}}</td>
<td>{{#decimal_round amount}}{{/decimal_round}}</td>
<td>{{department_detail.short_name}}</td>
<td><small>{{datetime created 'DD.MM.YYYY HH:mm'}}</small><br><small>{{datetime modified 'DD.MM.YYYY HH:mm'}}</small></td>
<td>
    {{#if include_to_office_plan}}
        <i class="fa fa-check-square-o c-primary"></i>
    {{else}}
        <i class="fa fa-minus-square-o c-red"></i>
    {{/if}}
</td>
<td>{{invoice_detail.kind_detail.name}}</td>
