<div class="form-group">
    <label for="invoice">Счет</label>
    <input type="text" class="form-control" name="invoice" placeholder="Выберите счет">
</div>
<div class="form-group">
    <label for="number">Номер</label>
    <input type="text" class="form-control" name="number">
</div>
<div class="form-group">
    <label for="date">Дата</label>
    <input type="text" class="form-control" name="date">
</div>
<div class="form-group">
    <label for="amount">Сумма</label>
    <input type="text" class="form-control" name="amount">
</div>
<div class="form-group">
    <label for="department">Отдел</label>
    <select class="form-control" name="department">
      <option value="1" active>Развития</option>
      <option value="2">Сопровождения</option>
    </select>
</div>
<div class="form-group">
    <label for="include_to_office_plan">Добавлять в офис-план</label>
    <input type="checkbox" name="include_to_office_plan" class="form-control" data-checkbox="icheckbox_square-blue">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>