.employee_work_schedule {
  .month_data {
    padding: 0 !important;

    table {
      font-size: 11px;
      margin: 0;
      tr > th,
      tr > td {
        padding: 5px;
        text-align: center;
      }
      tr > th.employee_data,
      tr > td.employee_data {
        width: 10%;
        text-align: left;
      }
      tr > th.holiday,
      tr > td.holiday {
        background-color: #f2fbee;
      }
      tr > td.empl_day_data {
        cursor: pointer;
      }
      tr > td.empl_day_data:hover {
        background-color: #cdecc0 !important;
      }
    }
  }
}