<div class="row">
    {{#each itemsCount }}
    <div class="col-md-12">
        <div class="input-group">
            <label for="consistency_type{{@this}}"> Состав {{@this}}:
            <select id="consistency_type{{@this}}" class="form-control" name="consistency_type{{@this}}">
                <option value=""> Нет
                <option value="polyester"> Polyester
                <option value="modal"> Modal
                <option value="silk"> Silk
                <option value="cotton"> Cotton
                <option value="elastano"> Elastano
                <option value="nylon"> Nylon
                <option value="acrylic"> Acrylic
                <option value="liocel"> Liocel
                <option value="poliuretan"> Poliuretan
                <option value="viscose"> Viscose
                <option value="lino"> Lino
                <option value="wool"> Wool
                <option value="down"> Down
                <option value="aceteto"> Aceteto
                <option value="fibra_metalizada"> Fibra Metalizada
                <option value="otras_fibras"> Otras Fibras
                <option value="mulberry_silce"> Mulberry Silce
                <option value="poliamid"> Poliamid
                <option value="linen"> Linen
            </select>
            <label for="consistency_value{{@this}}"> %
            <input id="consistency_value{{@this}}" name="consistency_value{{@this}}" type="number" min="0" max="100">
        </div>
    </div>
    {{/each}}
</div>