<div class="panel">
  <div class="panel-content">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="interval">За последние</label>
            <input type="number" class="form-control" name="interval">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="interval_type" class="c-white">-</label>
            <select class="form-control" name="interval_type">
                  <option value="days" active>Дней</option>
                  <option value="months">Месяцев</option>
                  <option value="years">Лет</option>
                </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary submit_form">Выгрузить</button>
        </div>
    </div>
  </div>
</div>