@import "../variable";
@import "../mixins";

.widget {
    margin-bottom: 20px;
    padding:0 10px 10px 
}

/* TODO LIST */
.todo-list {
  margin:0;
  padding:0;
  li {
    background:#f8f8f8;
    border-left:2px solid rgba(0,0,0,0.04);
    list-style:none;
    margin-bottom:4px;
    padding:10px;
    position:relative;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
    &:hover {
      background: #F5F5F5;
      .todo-tags {
        display:none;
      }
      .todo-options {
        display:inline;
        position:absolute;
        right: 14px;
        top: 10px;
      }
    }
    .editable-buttons {
      display:inline-block;
      margin-left: 7px !important;
      i {
        font-size: 18px;
      }
    }
    .span-check {
      height: 22px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      width: 26px;
    }
    .todo-task {
      border-bottom:1px dashed rgba(0,0,0,0)!important;
      font-size:12px;
      &:hover {
        border-bottom:1px dashed rgba(0,0,0,0.2)!important;
      }
    }
    .due-date {
      span {
        border-bottom:1px dashed rgba(0,0,0,0)!important;
        font-size:12px;
      }
    }
    .todo-date {
      display: block;
      font-size: 12px;
      line-height: 1.5;
      margin-left: 40px;
      .due-date {
        float: none;
      }
      .completed-date {
        float: left;
        margin-right: 20px;
      }
    }
    .done {
      .todo-date {
        .due-date {
          float: right;
        }
      }
    }
    .todo-options {
      display:none;
      font-size:16px;
      a {
        color:#888888;
      }
      .todo-delete {
        &:hover {
          color:#C75757;
        }
      }
    }
    .todo-tags {
      display:inline;
      font-family:"Open Sans";
      left:auto;
      position:absolute;
      right:9px;
      top:6px;
    }
    .editable-container.editable-inline {
      margin-top:-4px;
      overflow:visible;
    }
    .editable-unsaved {
      font-weight: normal !important;
    }
    .editableform {
      .btn.btn-sm {
        margin-right: 0 !important;
        margin-top: 0px;
        padding: 7px 12px !important;
        i {
          font-size: 12px !important;
        }
      }
    }
  }
  li.done {
    opacity:.5;
    .todo-task {
      text-decoration:line-through;
    }
    .todo-tags {
      display:inline!important;
    }
    .todo-options {
      display:none!important;
    }
  }
  li>span {
    display:inline-block;
    height:24px;
    line-height:26px;
    margin-top:5px;
    max-width:72%;
    text-overflow:ellipsis;
    vertical-align:middle;
  }
  li>span.todo-task {
    overflow:hidden;
  }
  li.high {
    border-left:2px solid #C75757;
    border-right: none;
  }
  li.medium {
    border-left:2px solid #FF9122;
    border-right: none;
  }
  li.low {
    border-left:2px solid #F3D261;
    border-right: none;
  }
  li.new-task {
    input[type=checkbox]+label {
      &::before {
        left: 3px;
      }
    }
    input[type="checkbox"].checkbox-square:checked+label {
      &::after {
        left: 4px;
      }
    }
  }
}

/* WIDGET SLIDER */
.widget_slider {
    padding: 20px 40px;
    text-align: center;
    position: relative;
    p {
        text-align: center
    }

}

/* WIDGET SLIDER IMAGE */
.widget-slider-img {
    overflow: hidden;
    padding: 0;
    position: relative;
    .text {
        bottom:0;
        color:#ffffff;
        font-size: 16px;
        position: absolute;
        right:12px;
        z-index: 4;
    }
    .slick-dots {
        bottom: 5px;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .slide {
        &:before {
            background-image: url('../images/gradient-big.png');
            background-repeat: repeat-x;
            bottom: 0;
            content: " ";
            height: 70px;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 2;
        }
        p {
            font-family: 'Open Sans',arial;
            font-weight: 100;
        }
    }
    .text-top {
        .text {
            bottom:auto;
            top:0;
        }
        .slide {
            &:before {
                background-image: url('../images/gradient-big.png');
                bottom: auto;
                filter: FlipV;
                height: 30px;
                top:0;
                -ms-filter: "FlipV";
                .scale(-1);
            }
        }
    }
}

/* WiIDGET PROGRESS BAR */
.widget-progress-bar {
    .title {
        color:rgba(0,0,0,0.6);
        float:left;
        font-family: 'Open Sans';
        font-size: 13px;
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 0;
        opacity:1;
        text-transform: none;
    }
    .number {
        color:rgba(0,0,0,0.5);
        float:right;
        font-family: 'Open Sans';
        font-size: 11px;
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 0;
        margin-top: 2px;
        opacity:1;
        text-transform: none;
    }
    .progress {
        background: rgba(0,0,0,0.1);
        height: 6px;
    }
}

/* WIDGET NEWS */
.widget-news.panel-content {
    padding:0 !important;
}
.widget-news {
    .message-item {
        border-bottom: 1px solid #ECEBEB !important;
        border:none;
        display: block;
        margin:0;
        padding:10px 15px 0;
    }
    .pull-left{
        i{
            font-size: 24px;
            display: block;
            margin-top: 7px;
        }
    }
}
.media-body {
    p {
        height: 27px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* WIDGET TABLE */
.widget-table {
    padding: 0 !important;
    table {
        margin-bottom: 0;
        thead {
            border-top: 1px solid #ededed;
            th {
                text-align:left;
                text-transform: none;
            }
        }
        tbody {
            th {
                text-align:left;
            }
        }
    }
}

/* WIDGET FULL WIDTH */
.panel-content.widget-full {
    overflow: hidden;
    padding: 0 !important;
}
.widget-full {
    .tabs-linetriangle {
        .nav.nav-tabs>li>a {
            font-weight: 400;
            text-transform: none;
        }
        .nav-tabs {
            a {
                span {
                    text-align: center;
                }
                span.title {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/* WIDGET STOCK */
.stock1 {
    .tab-content {
        min-height: 316px;
    }
}
.widget-stock {
    .tab_right {
        .nav-tabs {
            li {
                a {
                    opacity: 0.5;
                    padding: 15px 25px;
                    text-align: left;
                    width:200px;
                    span {
                        display: block;
                    }
                }
                &:hover {
                    a {
                        opacity: 0.7;
                    }
                }
            }
            li.active {
                a {
                    opacity: 1;
                }
            }
            a {
                span.title {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
    .title-stock {
        h1 {
            float:left;
            padding: 10px;
        }
        span {
            float: right;
            font-size: 18px;
            padding: 10px;
        }
    }
    .company-info {
        color:#8D8D8D;
        display: block;
        padding-top: 15px;
    }
}
.stock2 {
    .tab-content {
        min-height: 442px;
    }
}

/* WIDGET SMALL */
.widget-small {
    border:none !important;
    max-height: 160px;
    overflow: hidden;
    padding: 0 !important;
    .border-radius(0);
    .title {
        padding: 10px;
        h1 {
            font-size: 20px !important;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
            opacity: 0.8;
            padding-top: 5px;
        }
        span {
            font-family: 'Open Sans', arial, sans-serif;font-weight:900;
            opacity: 0.7;
        }
    }
    .highcharts-container {
        margin-top: -98px;
    }
}

/* WIDGET CASH IN HAND */
.widget-cash-in-hand {
    float: left;
    .cash {
        border-right:2px dashed rgba(0,0,0,0.1);
        float:left;
        padding:5px 20px;
        text-align: center;
        &:last-child {
            border-right:none;
        }
        .number {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        .txt {
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
@media and (max-width: 800px){
    .widget-cash-in-hand {
        .row {
            .cash {
                width: 33.3333%;
                &:nth-child(3) {
                    border-right:none;
                }
                .number {
                    font-size: 14px;
                }
                .txt {
                    font-size: 11px;
                }
            }
        }
    }
 }

/* WIDGET INFOBOX */
.widget-infobox {
    float: left;
    margin-top: -8px;
    .infobox {
        background: #ffffff;
        float:left;
        margin-right: 10px;
        min-width: 165px;
        padding:8px;
        text-align: center;
        margin-bottom: 10px;
    }
    .left {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        i {
            color: #ffffff;
            font-size: 23px;
            text-align: center;
            &::before {
                display: inline-block;
                height: 48px;
                margin-top: 0;
                padding: 13px;
                width: 48px;
                .border-radius(50%);
            }
        }
    }
    .right {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        .pull-left {
            font-family: 'Open Sans', 'Open Sans', Arial;font-weight:900;
            font-size: 22px;
        }
        .pull-right {
            font-family: 'Open Sans', 'Open Sans', Arial;
            font-weight: 100;
            font-size: 14px;
            margin-top: 7px;
        }
    }
    .left[class*="icon-"] {
        font-size: 21px;
    }
    .txt {
        float: left;
        min-width:80px;
    }
}

/* WIDGET INFO */
.widget-info {
    padding-top: 20px;
    .left {
        float: left;
        padding-left: 10px;
        width:60px;
        i {
            color:#ffffff;
            font-size: 23px;
            text-align: center;
            &::before {
                display:inline-block;
                height: 48px;
                margin-top:0;
                padding: 13px;
                width:48px;
                .border-radius(50%);
            }
        }
        i[class*="icon-"] {
            font-size: 22px;
        }
    }
    .right {
        float: left;
        padding-left: 10px;
        .number {
            font-family: 'Open Sans', 'Open Sans', Arial;font-weight:700;
            font-size: 20px;
            margin-bottom: 2px;
        }
        .text {
            color:#A3A3A3;
            font-size: 12px;
            text-align: left;
            text-transform: uppercase;
        }
    }
}

/* WIDGET QUICKLINK */
.quick-link {
    float:left;
    padding: 5px 15px;
    width:80px;
    .border-radius(5px);
    &:hover {
        background: #F7F7F7;
        cursor: pointer;
        .text {
            color:#646464;
        }
    }
    .icon {
        margin:auto;
        text-align:center;
        width:60px;
        i {
            color:#ffffff;
            font-size: 27px;
            padding-right: 0 !important;
            text-align: center;
            float: none !important;
            &::before {
                display:inline-block;
                height: 55px;
                margin-top:0;
                padding: 13px;
                width:55px;
                .border-radius(50%);
            }
        }
    }
    .text {
        color:#A3A3A3;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* WIDGET USER */
.widget-member {
    border: 1px solid #EBEBEB;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 15px 15px 5px 15px;
    .transition(all, 300ms, ease-in-out);
    img {
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
    }
    .member-name {
        margin-bottom: 5px !important;
    }
    .member-job {
        color:#ADADAD;
        margin-bottom: 6px;
        margin-top: 0;
    }
    .col-xlg-6 {
        font-size: 12px;
        p {
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.widget-member2 {
    border: 1px solid #EBEBEB;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 15px 15px 5px 15px;
    padding:15px;
    .transition(all, 300ms, ease-in-out);
    img {
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
    }
    .member-name {
        margin-bottom: 15px !important;
        margin-bottom: 5px !important;
        span {
            padding-left: 8px;
            text-transform: none;
        }
    }
    .member-job {
        color:#ADADAD;
        margin-bottom: 6px;
        margin-top: 0;
    }
    .col-xlg-6 {
        p {
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .col-lg-3 {
        padding-right: 0;
    }
    .col-xlg-4 {
        p {
            font-size: 12px;
        }
    }
}
.widget-member3 {
    border: 1px solid #EBEBEB;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 15px 15px 5px 15px;
    .transition(all, 300ms, ease-in-out);
    img {
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
    }
    .member-name {
        margin-bottom: 5px !important;
    }
    .member-job {
        color:#ADADAD;
        margin-bottom: 6px;
        margin-top: 0;
    }
    .col-xlg-12 {
        font-size: 12px;
        p {
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.profil-name-heading {
    color:#ffffff;
    position: absolute;
    top:40px;
    width: 100%;
    div {
        text-align: center;
        float: none;
    }
}
#modal-icons i {
    cursor: pointer !important;
}
.widget-profil-img-center {
    border:10px solid #ffffff;
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.3);
    margin-top:-40px;
}
.hover-effect {
    overflow:hidden;
    .hover-img {
        .transition(all, 0.2s, linear);
    }
    &:hover {
        .hover-img {
            -webkit-filter: contrast(120%);
            filter: contrast(120%);
        }
    }
}

/* WIDGET MAP */
.widget-map {
    height:440px;
    overflow: hidden;
    .col-md-3 {
        background-color:rgba(32, 34, 38,0.5);
        color:#CDCDCD !important;
        height: 440px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        position: absolute;
        right: 0;
        top:0;
    }
    .panel-header {
        border:none !important;
        left:0;
        position: absolute;
        right:0;
        top:0;
    }
    .panel-content {
        border:none !important;
        height: 440px;
        overflow: hidden;
    }
    .amcharts-chart-div {
        a {
            display: none !important;
        }
    }
    .ammapObjectList {
        ul {
            list-style-type: none;
            li {
                &:not(.paginate_button) {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
        li {
            list-style-type: none;
        }
    }
    .listdiv {
        height: 250px;
        overflow: hidden;
    }
}
.maximized.widget-map {
    height:100%;
    .panel-content {
        height:100%;
    }
}
.maximized {
    #map {
        height: 100%;
        width: 100%;
    }
}
.bg-dark {
    .ammapObjectList {
        a {
            color: #D0D0D0;
            padding: 2px 15px;
            &:hover {
                background: rgba(32, 34, 38,0.5);
                color: #319DB5;
            }
        }
    }
}
.map-marker {
    margin-left:-8px;
    margin-top:-8px;
}
.map-marker.map-clickable {
    cursor:pointer;
}
.pulse-map {
    background-color:#716f42;
    border:5px solid #f7f14c;
    height:20px;
    position:absolute;
    width:20px;
    z-index:10;
    .border-radius(30px);
}
.dot-map {
    -moz-animation-iteration-count:infinite;
    -moz-animation:pulsemap 3s ease-out;
    -moz-border-radius:60px;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation:pulsemap 3s ease-out;
    -webkit-border-radius:60px;
    background:transparent;
    border-radius:60px;
    border:10px solid #fff601;
    height:50px;
    left:-15px;
    opacity:0;
    position:absolute;
    top:-15px;
    width:50px;
    z-index:1;
}
@-moz-keyframes pulsemap {
    0%{
        -moz-transform:scale(0);
        opacity:0
    }
    25%{
        -moz-transform:scale(0);opacity:.1
    }

    50%{
        -moz-transform:scale(0.1);
        opacity:.3
    }
    75%{
        -moz-transform:scale(0.5);
        opacity:.5
    }
    100%{
        -moz-transform:scale(1);
        opacity:0
    }
}
@-webkit-keyframes pulsemap {
    0%{
        -webkit-transform:scale(0);
        opacity:0
    }
    25%{
        -webkit-transform:scale(0);
        opacity:.1
    }
    50%{
        -webkit-transform:scale(0.1);
        opacity:.3
    }
    75%{
        -webkit-transform:scale(0.5);
        opacity:.5
    }
    100%{
        -webkit-transform:scale(1);
        opacity:0
    }
}