<form class="search_form">
    <div class="input-group">
      <input type="text" class="filter_search form-control form-white" placeholder="Поиск (ФИО/email)" name="search">
      <div class="input-group-btn">
        <button type="submit" class="search_success_btn btn btn-success m-r-0"><span class="fa fa-search"></span></button>
        <button type="button" class="toggle_filter_panel btn btn-info m-r-0"><span class="fa fa-bars"></span></button>
      </div>
    </div>
</form>
<div id="region_filter_panel" class="hidden">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Активен</label>
            <select class="form-control" name="is_active">
              <option value="" active>Все</option>
              <option value="2">Да</option>
              <option value="3">Нет</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Группы</label>
            <input type="text" class="form-control" name="groups">
          </div>
        </div>
    </div>
</div>
