<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Активен</th>
      <th>Email</th>
      <th>Имя</th>
    </tr>
  </thead>
  <tbody class="region_table_items"></tbody>
</table>