<div class="header">
  <h2>Пользователи</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Пользователи</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-content">
        <div class="region_filter"></div>
        <div class="region_complex"></div>
      </div>
    </div>
  </div>
</div>