<div class="form-group">
    <label for="is_active">Активен</label>
    <input type="checkbox" class="form-control" name="is_active">
</div>
<div class="form-group">
    <label for="name">ФИО</label>
    <input type="text" class="form-control" name="name" placeholder="Введите ФИО">
</div>
<div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" name="email">
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>