<td>{{id}}</td>
<td>{{name}}</td>
<td>{{client_detail.name}}</td>
<td>
    {{#if is_active}}
        <i class="fa fa-check-square-o c-primary"></i>
    {{else}}
        <i class="fa fa-minus-square-o c-red"></i>
    {{/if}}
</td>
