<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" placeholder="Введите название">
        </div>
        {{#unless is_own }}
        <div class="form-group">
            <label for="inn">Клиент</label>
            <input class="form-control" name="client">
        </div>
        {{/unless}}
    </div>
</div>
<button type="button" class="btn btn-success" name="create">Создать</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>