<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-content">
                <div class="form form-horizontal">
                    {{#formControl 'Дата' 4}}
                        <p class="form-control form-white">{{datetime created 'DD.MM.YYYY HH:mm'}}</p>
                    {{/formControl}}
                    {{#formControl 'Клиент' 4}}
                        <p class="form-control form-white">{{site_id}} {{shipping_address.first_name}} {{shipping_address.last_name}}</p>
                    {{/formControl}}
                    {{#formControl 'Email' 4}}
                        <p class="form-control form-white">{{client_detail.email}}</p>
                    {{/formControl}}
                    {{#formControl 'Телефон' 4}}
                        <p class="form-control form-white">{{shipping_address.phone_number}}</p>
                    {{/formControl}}
                    {{#formControl 'Стоимость' 4}}
                        <p class="form-control form-white">{{total}}</p>
                    {{/formControl}}
                    <div class="form form-horizontal">
                        {{#formControl 'Адрес доставки' 4}}
                            <p class="form-control form-white">{{shipping_address.postcode}}, {{shipping_address.state}}, {{shipping_address.city}}</p>
                        {{/formControl}}
                    </div>
                    <div class="form form-horizontal">
                        {{#formControl 'Адрес доставки' 4}}
                            <p class="form-control form-white">{{shipping_address.line1}}, {{shipping_address.line2}}, {{shipping_address.line3}}</p>
                        {{/formControl}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>