<td style="cursor: default;">{{id}}</td>
<td style="cursor: default;"><a href="{{file}}" class="file_link">{{ filename }}</a></td>
<td style="cursor: default;"><button type="button" class="btn btn-danger btn-square delete pull-right">Удалить</button></td>
