{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Плейер</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/assets/global/images/favicon.png">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script>
          // html5media enables <video> and <audio> tags in all major browsers
          // External File: http://api.html5media.info/1.1.8/html5media.min.js


          // Add user agent as an attribute on the <html> tag...
          // Inspiration: http://css-tricks.com/ie-10-specific-styles/
          var b = document.documentElement;
          b.setAttribute('data-useragent', navigator.userAgent);
          b.setAttribute('data-platform', navigator.platform);


          // HTML5 audio player + playlist controls...
          // Inspiration: http://jonhall.info/how_to/create_a_playlist_for_html5_audio
          // Mythium Archive: https://archive.org/details/mythium/
          jQuery(function ($) {
              var supportsAudio = !!document.createElement('audio').canPlayType;
              if (supportsAudio) {
                  var index = 0,
                      playing = false,
                      mediaPath = '/media/music/',
                      extension = '',
                      tracks = [
                        {% for track in tracks %}
                          {
                            "track": 1,
                            "name": "{{ track.filename }}",
                            "file": "{{ track.get_file_name }}"
                          }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      ],
                      trackCount = tracks.length,
                      npAction = $('#npAction'),
                      npTitle = $('#npTitle'),
                      audio = $('#audio1').bind('play', function () {
                          playing = true;
                          npAction.text('Сейчас играет...');
                      }).bind('pause', function () {
                          playing = false;
                          npAction.text('Пауза...');
                      }).bind('ended', function () {
                          npAction.text('Пауза...');
                          if ((index + 1) < trackCount) {
                              index++;
                              loadTrack(index);
                              audio.play();
                          } else {
                              index = 0;
                              loadTrack(index);
                              audio.play();
                          }
                      }).get(0),
                      btnPrev = $('#btnPrev').click(function () {
                          if ((index - 1) > -1) {
                              index--;
                              loadTrack(index);
                              if (playing) {
                                  audio.play();
                              }
                          } else {
                              index = 0;
                              loadTrack(index);
                              if (playing) {
                                  audio.play();
                              }
                          }
                      }),
                      btnNext = $('#btnNext').click(function () {
                          if ((index + 1) < trackCount) {
                              index++;
                              loadTrack(index);
                              if (playing) {
                                  audio.play();
                              }
                          } else {
                              index = 0;
                              loadTrack(index);
                              if (playing) {
                                  audio.play();
                              }
                          }
                      }),
                      loadTrack = function (id) {
                          $('.plSel').removeClass('plSel');
                          $('#plList li:eq(' + id + ')').addClass('plSel');
                          npTitle.text(tracks[id].name);
                          index = id;
                          audio.src = mediaPath + tracks[id].file + extension;
                      },
                  extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                  loadTrack(index);
                  audio.play();
              }
          });
        </script>
    </head>
    <body class="coming-soon coming-map" data-page="{% block data_page %}{% endblock data_page %}">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="player">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="content">
                      <div class="center p-r-20">
                          <h1>Inrooms</h1>
                          <h5>Музыка для воспроизведения</h5>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div id="mainwrap" class="content p-r-30">
                      <div id="nowPlay" style="color: #B1B1B1;font-size: 15px;line-height: 25px;padding-top: 30px;">
                          <span class="left" id="npAction">Пауза...</span>
                          <span class="right" id="npTitle"></span>
                      </div>
                      <div id="audiowrap">
                          <div id="audio0">
                              <audio preload id="audio1" controls="controls" style="width: 100%;">Your browser does not support HTML5 Audio!</audio>
                          </div>
                        <!--
                          <div id="tracks hidden">
                              <a id="btnPrev">&laquo;</a>
                              <a id="btnNext">&raquo;</a>
                          </div>
                          -->
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>