<div class="row">
    <div class="col-md-12">
        <div class="form form-horizontall">
            <div>
                {{#formControl 'Включая количество размеров' 6}}
                    <input type="checkbox" class="form-control" name="with_size_quantity"></input>
                {{/formControl}}

                <hr>

                {{#formControl 'Номер предварительного заказа' 6}}
                    <input type="text" class="form-control" name="document_number"></input>
                {{/formControl}}

                {{#formControl 'Включая дату предварительного заказа' 6}}
                    <input type="checkbox" class="form-control" name="with_date"></input>
                {{/formControl}}

                <hr>

                {{#formControl 'Точная дата поставки товара' 6}}
                    <input name="delivery_date" class="form-control" type="text"></input>
                {{/formControl}}
                {{#formControl 'Год поставки товара' 6}}
                    <input name="delivery_year" class="form-control" type="number"></input>
                {{/formControl}}

                <hr>

                {{#formControl 'Сезон' 6}}
                    <select class="form-control" name="season_name">
                      <option value="" active></option>
                      <option value="Весна/Лето">Весна/Лето</option>
                      <option value="Осень/Зима">Осень/Зима</option>
                    </select>
                {{/formControl}}
                {{#formControl 'Год сезона' 6}}
                    <input name="season_year" class="form-control" type="number"></input>
                {{/formControl}}
            </div>
        </div>
        <button type="button" class="btn btn-success" name="export">Продолжить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</div>
