<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12 form-horizontal">
                {{#formControl 'id' 4}}
                    <p class="form-control form-white">{{ id }}</p>
                {{/formControl}}
                {{#formControl 'Создатель' 4}}
                    <p class="form-control form-white">{{ user_detail.name }}</p>
                {{/formControl}}
                {{#formControl 'Партнер' 4}}
                    <p class="form-control form-white">{{ client_detail.name }}</p>
                {{/formControl}}
                {{#formControl 'Создана' 4}}
                    <p class="form-control form-white">{{datetime created 'DD.MM.YYYY HH:mm'}}</p>
                {{/formControl}}
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                {{#if user.userCanChangeStatus }}
                <div class="pull-left">
                    {{#ifCond status '==' 1 }}
                        <div class="f-right">
                            <button class="btn btn-primary change_status" data-newstatus_id="3">На согласование</button>
                        </div>
                        <div class="f-right">
                            <button class="btn btn-primary change_status" data-newstatus_id="4">Архив</button>
                        </div>
                    {{/ifCond}}
                    {{#ifCond status '==' 3 }}
                        <div class="f-right">
                            <button class="btn btn-primary change_status" data-newstatus_id="4">Архив</button>
                        </div>
                    {{/ifCond}}
                    <div class="f-right">
                        <button class="btn btn-danger delete">Удалить</button>
                    </div>
                </div>
                {{/if}}
                <div class="pull-right">
                    <div class="f-left">
                    <button class="btn btn-primary print_order">Распечатать</button>
                    </div>
                    <div class="f-left m-l-10">
                        <button class="btn btn-primary pdf_order">PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
